[data-cellid="grid_footcell_field"][data-page="catatan_kemajuan_list1"][data-cellid="grid_footcell_field"][data-page="catatan_kemajuan_list1"][data-cellid="grid_footcell_field"][data-page="catatan_kemajuan_list1"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="catatan_kemajuan_list1"][data-cellid="grid_footcell_field1"][data-page="catatan_kemajuan_list1"][data-cellid="grid_footcell_field1"][data-page="catatan_kemajuan_list1"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="catatan_kemajuan_list1"][data-cellid="grid_footcell_field2"][data-page="catatan_kemajuan_list1"][data-cellid="grid_footcell_field2"][data-page="catatan_kemajuan_list1"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="catatan_kemajuan_list1"][data-cellid="grid_footcell_field3"][data-page="catatan_kemajuan_list1"][data-cellid="grid_footcell_field3"][data-page="catatan_kemajuan_list1"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="catatan_kemajuan_list1"][data-cellid="grid_footcell_field4"][data-page="catatan_kemajuan_list1"][data-cellid="grid_footcell_field4"][data-page="catatan_kemajuan_list1"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field5"][data-page="catatan_kemajuan_list1"][data-cellid="grid_footcell_field5"][data-page="catatan_kemajuan_list1"][data-cellid="grid_footcell_field5"][data-page="catatan_kemajuan_list1"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field6"][data-page="catatan_kemajuan_list1"][data-cellid="grid_footcell_field6"][data-page="catatan_kemajuan_list1"][data-cellid="grid_footcell_field6"][data-page="catatan_kemajuan_list1"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="catatan_kemajuan_list1"][data-cellid="grid_headcell_checkbox"][data-page="catatan_kemajuan_list1"][data-cellid="grid_headcell_checkbox"][data-page="catatan_kemajuan_list1"] {
  width: 30px;
}
[data-cellid="grid_headcell_icons"][data-page="catatan_kemajuan_list1"][data-cellid="grid_headcell_icons"][data-page="catatan_kemajuan_list1"][data-cellid="grid_headcell_icons"][data-page="catatan_kemajuan_list1"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="catatan_kemajuan_list1"][data-cellid="grid_cell_icons"][data-page="catatan_kemajuan_list1"][data-cellid="grid_cell_icons"][data-page="catatan_kemajuan_list1"] {
  white-space: nowrap;
}
[data-page="catatan_kemajuan_list1"][data-itemid="simple_grid_field"] {
  color: #ffffff;
}
[data-page="catatan_kemajuan_list1"][data-itemid="simple_grid_field6"] {
  color: #ffffff;
}


