[data-cellid="grid_footcell_field"][data-page="icd10_list"][data-cellid="grid_footcell_field"][data-page="icd10_list"][data-cellid="grid_footcell_field"][data-page="icd10_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="icd10_list"][data-cellid="grid_footcell_field1"][data-page="icd10_list"][data-cellid="grid_footcell_field1"][data-page="icd10_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_icons1"][data-page="icd10_list"][data-cellid="grid_headcell_icons1"][data-page="icd10_list"][data-cellid="grid_headcell_icons1"][data-page="icd10_list"] {
  width: 30px;
}
[data-cellid="grid_headcell_icons2"][data-page="icd10_list"][data-cellid="grid_headcell_icons2"][data-page="icd10_list"][data-cellid="grid_headcell_icons2"][data-page="icd10_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_icons3"][data-page="icd10_list"][data-cellid="grid_headcell_icons3"][data-page="icd10_list"][data-cellid="grid_headcell_icons3"][data-page="icd10_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_icons6"][data-page="icd10_list"][data-cellid="grid_headcell_icons6"][data-page="icd10_list"][data-cellid="grid_headcell_icons6"][data-page="icd10_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_icons7"][data-page="icd10_list"][data-cellid="grid_headcell_icons7"][data-page="icd10_list"][data-cellid="grid_headcell_icons7"][data-page="icd10_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_icons8"][data-page="icd10_list"][data-cellid="grid_headcell_icons8"][data-page="icd10_list"][data-cellid="grid_headcell_icons8"][data-page="icd10_list"] {
  width: 30px;
}
[data-cellid="grid_headcell_icons9"][data-page="icd10_list"][data-cellid="grid_headcell_icons9"][data-page="icd10_list"][data-cellid="grid_headcell_icons9"][data-page="icd10_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_icons10"][data-page="icd10_list"][data-cellid="grid_headcell_icons10"][data-page="icd10_list"][data-cellid="grid_headcell_icons10"][data-page="icd10_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_icons11"][data-page="icd10_list"][data-cellid="grid_headcell_icons11"][data-page="icd10_list"][data-cellid="grid_headcell_icons11"][data-page="icd10_list"] {
  width: 30px;
}
[data-page="icd10_list"][data-itemid="image"] {
  width: 50px;
  height: 50px;
}


