[data-cellid="grid_footcell_field"][data-page="identitas_pasien_list"][data-cellid="grid_footcell_field"][data-page="identitas_pasien_list"][data-cellid="grid_footcell_field"][data-page="identitas_pasien_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="identitas_pasien_list"][data-cellid="grid_footcell_field1"][data-page="identitas_pasien_list"][data-cellid="grid_footcell_field1"][data-page="identitas_pasien_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="identitas_pasien_list"][data-cellid="grid_footcell_field2"][data-page="identitas_pasien_list"][data-cellid="grid_footcell_field2"][data-page="identitas_pasien_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="identitas_pasien_list"][data-cellid="grid_footcell_field3"][data-page="identitas_pasien_list"][data-cellid="grid_footcell_field3"][data-page="identitas_pasien_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="identitas_pasien_list"][data-cellid="grid_footcell_field4"][data-page="identitas_pasien_list"][data-cellid="grid_footcell_field4"][data-page="identitas_pasien_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_icons"][data-page="identitas_pasien_list"][data-cellid="grid_headcell_icons"][data-page="identitas_pasien_list"][data-cellid="grid_headcell_icons"][data-page="identitas_pasien_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="identitas_pasien_list"][data-cellid="grid_cell_icons"][data-page="identitas_pasien_list"][data-cellid="grid_cell_icons"][data-page="identitas_pasien_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="identitas_pasien_list"][data-cellid="grid_headcell_checkbox"][data-page="identitas_pasien_list"][data-cellid="grid_headcell_checkbox"][data-page="identitas_pasien_list"] {
  width: 30px;
}
[data-cellid="grid_cell_details"][data-page="identitas_pasien_list"][data-cellid="grid_cell_details"][data-page="identitas_pasien_list"][data-cellid="grid_cell_details"][data-page="identitas_pasien_list"] {
  white-space: nowrap;
}
[data-page="identitas_pasien_list"][data-itemid="image"] {
  width: 50px;
  height: 50px;
}


