[data-page="resep_kacamata_add"][data-itemid="text"] {
  font-weight: bold;
  font-size: 20px;
}
[data-page="resep_kacamata_add"][data-itemid="text1"] {
  font-weight: bold;
  font-size: 20px;
}
[data-page="resep_kacamata_add"][data-itemid="text2"] {
  font-weight: bold;
  font-size: 20px;
}
[data-page="resep_kacamata_add"][data-itemid="text3"] {
  font-weight: bold;
  font-size: 20px;
}


