<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-list" {$bodyattrs}>
	{BEGIN body}
		<style>
		{$containerCss}
		</style>
		<div class="r-vbar-page">
			<div data-width="" data-fixed class="r-left clearfix {$leftbar_class}" >
								<div data-location="left" id="form_left_{$pageid}" data-makeup="leftbar" {$form_left} data-pageid="{$pageid}">
{BEGIN left_block}
 
     
         

			<div data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell class="clearfix " data-itemid="logo1" {$item_logo1}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo1" {$item_logo1} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</div>
		
 

			<div class="clearfix " data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell data-itemid="expand_button" {$item_expand_button} data-topcell-item-type="expand_button" >
				<span data-itemtype="expand_button" data-itemid="expand_button" {$item_expand_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Expand" class="btn btn-link   
	" href="#" >
					<span class="glyphicon glyphicon-triangle-right"></span>
										</a>
</span>
			</div>
		
     
     
         

			<div data-cellId="left_c1" data-pageid="{$pageid}" class="clearfix  r-ori-vert " data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{$menu main}			</div>
		
 

			<div class="clearfix  r-ori-vert" data-cellId="left_c1" data-pageid="{$pageid}" data-itemid="search_panel" {$item_search_panel} data-topcell-item-type="search_panel" >
				<!-- Begin Search panel content -->
<div class="searchOptions panel panel-primary searchPanelContainer " {$srchOpt_attrs} data-itemtype="search_panel" data-itemid="search_panel" {$item_search_panel} data-pageid="{$pageid}" >

	<div class="panel-heading">
		<div class="btn-group" id="addSearchFieldButton{$id}">
			<button id="showHideControlChooseMenu{$id}" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Search in			<span class="caret"></span>
			</button>
		</div>


		<div class="btn-group searchpanel-options" id="searchPanelOptions{$id}">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon glyphicon-option-vertical"></span>
			</button>
			<ul class="dropdown-menu dropdown-left">
				<li id="showHideSearchType{$id}" {$showHideCtrlsOpt_attrs}><a>Show options</a></li>
				<li role="separator" class="divider"></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAll" {$all_checkbox}><label for="radioAll"><span class="glyphicon">&nbsp;</span>all conditions</label></a></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAny" {$any_checkbox}><label for="radioAny"><span class="glyphicon">&nbsp;</span>any condition</label></a></li>
				<li role="separator" class="divider"></li>
				<li><a class="close-button"><span class="glyphicon glyphicon-remove">&nbsp;</span>hide</a></li>
			</ul>
		</div>


		</div>
	<div class="panel-body controlsBlock" {$bottomSearchButt_attrs} >


		
		{BEGIN searchCtrlBlock}
		<div class="srchPanelRow form-group" {$filterRow_attrs}>
			<label>{$fLabel}</label>	{$delCtrlButt}
				<span class="rnr-searchtype">{$searchtype}</span>
				<span class="rnr-searchcontrol">{$searchcontrol}</span>
				<span class="rnr-searchcontrol">{$searchcontrol1}</span>
		</div>
		{END searchCtrlBlock}
																		{BEGIN searchCtrlBlock_CT_SCAN}


		<div class="form-group srchPanelRow {$filterRow_class_CT_SCAN}" {$filterRow_attrs_CT_SCAN}>
			<label>{$label bedah CT_SCAN }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_CT_SCAN}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_CT_SCAN}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_CT_SCAN}</span>
						</div>
		{END searchCtrlBlock_CT_SCAN}
																{BEGIN searchCtrlBlock_Id_bedah}


		<div class="form-group srchPanelRow {$filterRow_class_Id_bedah}" {$filterRow_attrs_Id_bedah}>
			<label>{$label bedah Id_bedah }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Id_bedah}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Id_bedah}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Id_bedah}</span>
						</div>
		{END searchCtrlBlock_Id_bedah}
																{BEGIN searchCtrlBlock_nomor_rm}


		<div class="form-group srchPanelRow {$filterRow_class_nomor_rm}" {$filterRow_attrs_nomor_rm}>
			<label>{$label bedah nomor_rm }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_nomor_rm}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_nomor_rm}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_nomor_rm}</span>
						</div>
		{END searchCtrlBlock_nomor_rm}
																{BEGIN searchCtrlBlock_id_user}


		<div class="form-group srchPanelRow {$filterRow_class_id_user}" {$filterRow_attrs_id_user}>
			<label>{$label bedah id_user }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_id_user}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_id_user}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_id_user}</span>
						</div>
		{END searchCtrlBlock_id_user}
																{BEGIN searchCtrlBlock_id_pasien}


		<div class="form-group srchPanelRow {$filterRow_class_id_pasien}" {$filterRow_attrs_id_pasien}>
			<label>{$label bedah id_pasien }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_id_pasien}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_id_pasien}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_id_pasien}</span>
						</div>
		{END searchCtrlBlock_id_pasien}
																{BEGIN searchCtrlBlock_status_lokalis}


		<div class="form-group srchPanelRow {$filterRow_class_status_lokalis}" {$filterRow_attrs_status_lokalis}>
			<label>{$label bedah status_lokalis }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_status_lokalis}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_status_lokalis}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_status_lokalis}</span>
						</div>
		{END searchCtrlBlock_status_lokalis}
																{BEGIN searchCtrlBlock_resume}


		<div class="form-group srchPanelRow {$filterRow_class_resume}" {$filterRow_attrs_resume}>
			<label>{$label bedah resume }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_resume}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_resume}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_resume}</span>
						</div>
		{END searchCtrlBlock_resume}
																{BEGIN searchCtrlBlock_Terapi_Non_Medikamentosa___Operatif}


		<div class="form-group srchPanelRow {$filterRow_class_Terapi_Non_Medikamentosa___Operatif}" {$filterRow_attrs_Terapi_Non_Medikamentosa___Operatif}>
			<label>{$label bedah Terapi_Non_Medikamentosa___Operatif }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Terapi_Non_Medikamentosa___Operatif}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Terapi_Non_Medikamentosa___Operatif}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Terapi_Non_Medikamentosa___Operatif}</span>
						</div>
		{END searchCtrlBlock_Terapi_Non_Medikamentosa___Operatif}
																{BEGIN searchCtrlBlock_Terapi_Medikamentosa}


		<div class="form-group srchPanelRow {$filterRow_class_Terapi_Medikamentosa}" {$filterRow_attrs_Terapi_Medikamentosa}>
			<label>{$label bedah Terapi_Medikamentosa }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Terapi_Medikamentosa}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Terapi_Medikamentosa}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Terapi_Medikamentosa}</span>
						</div>
		{END searchCtrlBlock_Terapi_Medikamentosa}
																{BEGIN searchCtrlBlock_Riwayat_Penyakit_Sekarang}


		<div class="form-group srchPanelRow {$filterRow_class_Riwayat_Penyakit_Sekarang}" {$filterRow_attrs_Riwayat_Penyakit_Sekarang}>
			<label>{$label bedah Riwayat_Penyakit_Sekarang }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Riwayat_Penyakit_Sekarang}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Riwayat_Penyakit_Sekarang}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Riwayat_Penyakit_Sekarang}</span>
						</div>
		{END searchCtrlBlock_Riwayat_Penyakit_Sekarang}
																{BEGIN searchCtrlBlock_Riwayat_Penyakit_Keluarga}


		<div class="form-group srchPanelRow {$filterRow_class_Riwayat_Penyakit_Keluarga}" {$filterRow_attrs_Riwayat_Penyakit_Keluarga}>
			<label>{$label bedah Riwayat_Penyakit_Keluarga }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Riwayat_Penyakit_Keluarga}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Riwayat_Penyakit_Keluarga}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Riwayat_Penyakit_Keluarga}</span>
						</div>
		{END searchCtrlBlock_Riwayat_Penyakit_Keluarga}
																{BEGIN searchCtrlBlock_Riwayat_Penyakit_Dahulu}


		<div class="form-group srchPanelRow {$filterRow_class_Riwayat_Penyakit_Dahulu}" {$filterRow_attrs_Riwayat_Penyakit_Dahulu}>
			<label>{$label bedah Riwayat_Penyakit_Dahulu }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Riwayat_Penyakit_Dahulu}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Riwayat_Penyakit_Dahulu}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Riwayat_Penyakit_Dahulu}</span>
						</div>
		{END searchCtrlBlock_Riwayat_Penyakit_Dahulu}
																{BEGIN searchCtrlBlock_Riwayat_Pengobatan}


		<div class="form-group srchPanelRow {$filterRow_class_Riwayat_Pengobatan}" {$filterRow_attrs_Riwayat_Pengobatan}>
			<label>{$label bedah Riwayat_Pengobatan }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Riwayat_Pengobatan}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Riwayat_Pengobatan}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Riwayat_Pengobatan}</span>
						</div>
		{END searchCtrlBlock_Riwayat_Pengobatan}
																{BEGIN searchCtrlBlock_Riwayat_Kebiasaan}


		<div class="form-group srchPanelRow {$filterRow_class_Riwayat_Kebiasaan}" {$filterRow_attrs_Riwayat_Kebiasaan}>
			<label>{$label bedah Riwayat_Kebiasaan }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Riwayat_Kebiasaan}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Riwayat_Kebiasaan}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Riwayat_Kebiasaan}</span>
						</div>
		{END searchCtrlBlock_Riwayat_Kebiasaan}
																{BEGIN searchCtrlBlock_Riwayat_Alergi}


		<div class="form-group srchPanelRow {$filterRow_class_Riwayat_Alergi}" {$filterRow_attrs_Riwayat_Alergi}>
			<label>{$label bedah Riwayat_Alergi }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Riwayat_Alergi}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Riwayat_Alergi}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Riwayat_Alergi}</span>
						</div>
		{END searchCtrlBlock_Riwayat_Alergi}
																{BEGIN searchCtrlBlock_Prognosis}


		<div class="form-group srchPanelRow {$filterRow_class_Prognosis}" {$filterRow_attrs_Prognosis}>
			<label>{$label bedah Prognosis }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Prognosis}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Prognosis}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Prognosis}</span>
						</div>
		{END searchCtrlBlock_Prognosis}
																{BEGIN searchCtrlBlock_Pemeriksaan_Umum}


		<div class="form-group srchPanelRow {$filterRow_class_Pemeriksaan_Umum}" {$filterRow_attrs_Pemeriksaan_Umum}>
			<label>{$label bedah Pemeriksaan_Umum }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Pemeriksaan_Umum}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Pemeriksaan_Umum}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Pemeriksaan_Umum}</span>
						</div>
		{END searchCtrlBlock_Pemeriksaan_Umum}
																{BEGIN searchCtrlBlock_Pemeriksaan_Fisik}


		<div class="form-group srchPanelRow {$filterRow_class_Pemeriksaan_Fisik}" {$filterRow_attrs_Pemeriksaan_Fisik}>
			<label>{$label bedah Pemeriksaan_Fisik }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Pemeriksaan_Fisik}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Pemeriksaan_Fisik}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Pemeriksaan_Fisik}</span>
						</div>
		{END searchCtrlBlock_Pemeriksaan_Fisik}
																{BEGIN searchCtrlBlock_Patologi_Anatomi}


		<div class="form-group srchPanelRow {$filterRow_class_Patologi_Anatomi}" {$filterRow_attrs_Patologi_Anatomi}>
			<label>{$label bedah Patologi_Anatomi }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Patologi_Anatomi}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Patologi_Anatomi}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Patologi_Anatomi}</span>
						</div>
		{END searchCtrlBlock_Patologi_Anatomi}
																{BEGIN searchCtrlBlock_Monitoring}


		<div class="form-group srchPanelRow {$filterRow_class_Monitoring}" {$filterRow_attrs_Monitoring}>
			<label>{$label bedah Monitoring }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Monitoring}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Monitoring}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Monitoring}</span>
						</div>
		{END searchCtrlBlock_Monitoring}
																{BEGIN searchCtrlBlock_MRI}


		<div class="form-group srchPanelRow {$filterRow_class_MRI}" {$filterRow_attrs_MRI}>
			<label>{$label bedah MRI }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_MRI}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_MRI}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_MRI}</span>
						</div>
		{END searchCtrlBlock_MRI}
																{BEGIN searchCtrlBlock_Keluhan_Utama}


		<div class="form-group srchPanelRow {$filterRow_class_Keluhan_Utama}" {$filterRow_attrs_Keluhan_Utama}>
			<label>{$label bedah Keluhan_Utama }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Keluhan_Utama}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Keluhan_Utama}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Keluhan_Utama}</span>
						</div>
		{END searchCtrlBlock_Keluhan_Utama}
																{BEGIN searchCtrlBlock_Keluhan_Tambahan}


		<div class="form-group srchPanelRow {$filterRow_class_Keluhan_Tambahan}" {$filterRow_attrs_Keluhan_Tambahan}>
			<label>{$label bedah Keluhan_Tambahan }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Keluhan_Tambahan}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Keluhan_Tambahan}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Keluhan_Tambahan}</span>
						</div>
		{END searchCtrlBlock_Keluhan_Tambahan}
																{BEGIN searchCtrlBlock_Foto_Klinis}


		<div class="form-group srchPanelRow {$filterRow_class_Foto_Klinis}" {$filterRow_attrs_Foto_Klinis}>
			<label>{$label bedah Foto_Klinis }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Foto_Klinis}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Foto_Klinis}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Foto_Klinis}</span>
						</div>
		{END searchCtrlBlock_Foto_Klinis}
																{BEGIN searchCtrlBlock_Edukasi}


		<div class="form-group srchPanelRow {$filterRow_class_Edukasi}" {$filterRow_attrs_Edukasi}>
			<label>{$label bedah Edukasi }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Edukasi}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Edukasi}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Edukasi}</span>
						</div>
		{END searchCtrlBlock_Edukasi}
																{BEGIN searchCtrlBlock_Diagnosis_Plan}


		<div class="form-group srchPanelRow {$filterRow_class_Diagnosis_Plan}" {$filterRow_attrs_Diagnosis_Plan}>
			<label>{$label bedah Diagnosis_Plan }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Diagnosis_Plan}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Diagnosis_Plan}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Diagnosis_Plan}</span>
						</div>
		{END searchCtrlBlock_Diagnosis_Plan}
																{BEGIN searchCtrlBlock_Diagnosis_Banding}


		<div class="form-group srchPanelRow {$filterRow_class_Diagnosis_Banding}" {$filterRow_attrs_Diagnosis_Banding}>
			<label>{$label bedah Diagnosis_Banding }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Diagnosis_Banding}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Diagnosis_Banding}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Diagnosis_Banding}</span>
						</div>
		{END searchCtrlBlock_Diagnosis_Banding}
																{BEGIN searchCtrlBlock_Diagnosis}


		<div class="form-group srchPanelRow {$filterRow_class_Diagnosis}" {$filterRow_attrs_Diagnosis}>
			<label>{$label bedah Diagnosis }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Diagnosis}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Diagnosis}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Diagnosis}</span>
						</div>
		{END searchCtrlBlock_Diagnosis}
		

	</div>

	<div class="panel-footer bottomSearchButt" {$bottomSearchButt_attrs}>
		<button class="btn btn-primary" id="searchButton{$id}" {$searchbutton_attrs}>Search</button>
		<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs}>Show all</button>
	</div>
</div>
<!-- End Search panel content -->
			</div>
		
 

			<div class="clearfix  r-ori-vert" data-cellId="left_c1" data-pageid="{$pageid}" data-itemid="filter_panel" {$item_filter_panel} data-topcell-item-type="filter_panel" >
				<div data-itemtype="filter_panel" data-itemid="filter_panel" {$item_filter_panel} data-pageid="{$pageid}">
<!--
	<button type="button" class="btn btn-info bs-togglebutton bottom-margin collapsed" data-runner-toggle="collapse" data-target=".filterPanelContainer">	
		<span class="glyphicon glyphicon-filter"><span> Filter	
	</button>
-->	
	<div class="filterPanelContainer {$filterPanelStateClass}">



	</div>
</div>			</div>
		
    {END left_block}
</div>				</div>	
			<div class="r-content-col" data-resize-left="leftbar">
				<div  class="r-topheader" data-resize-name="topbar">
									{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="leftbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span class="navbar-form  navbar-header" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="collapse_button" {$item_collapse_button} data-topcell-item-type="collapse_button" >
				<span data-itemtype="collapse_button" data-itemid="collapse_button" {$item_collapse_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Collapse" class="btn-link   
	 glyphicon glyphicon-triangle-left" href="#" >		
				
								</a>
</span>
			</span>
		 
				<span class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="breadcrumb" {$item_breadcrumb} data-topcell-item-type="breadcrumb" >
				{BEGIN breadcrumb}
<ol class="breadcrumb" data-itemtype="breadcrumb" data-itemid="breadcrumb" {$item_breadcrumb} data-pageid="{$pageid}">
<li ><a href="{$crumb_home_link}"><span class="glyphicon glyphicon-home"></span></a>{$crumb_dropdown}</li>
{BEGIN crumb}
  <li class="{$crumb_item_class}">
{BEGIN crumb_title_link}
	<a {$crumb_attrs}>{$crumb_title}</a>
{END crumb_title_link}
{BEGIN crumb_title_span}
	<span {$crumb_attrs}>{$crumb_title}</span>
{END crumb_title_span}	
	{$crumb_dropdown}
  </li>
{END crumb}
</ol>
{END breadcrumb}			</span>
							 
							 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="simple_search" {$item_simple_search} data-topcell-item-type="simple_search" >
				<span data-itemtype="simple_search" data-itemid="simple_search" {$item_simple_search} data-pageid="{$pageid}" class="form-group">

<div  class="input-group">
{BEGIN searchform_text}
	<input type="search" class="form-control" {$searchfor_attrs} size="25">
{END searchform_text}
	<span class="input-group-btn">
	{BEGIN searchform_showall}
		<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs} title="Show all">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	{END searchform_showall}
	{BEGIN searchform_search}
	<button {$searchbutton_attrs} class="btn btn-primary" >
		<span class="glyphicon glyphicon-search"></span>
	</button>
	{END searchform_search}
	</span>
</div>
		
</span>			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="list_options" {$item_list_options} data-topcell-item-type="list_options" >
				<span data-itemtype="list_options" data-itemid="list_options" {$item_list_options} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
							<span class="glyphicon glyphicon-cog"></span>
									<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN exportselected_link}
	<li data-itemtype="export_selected" data-itemid="export_selected" {$item_export_selected} data-pageid="{$pageid}" data-small >
				<a  href="#" {$exportselectedlink_attrs} {$exportselectedlink_span}  title="" >
				
		Export selected		
		</a>
	</li>
{END exportselected_link}
							<li role="separator" class="divider"></li>								<li data-itemtype="advsearch_link" data-itemid="advsearch_link" {$item_advsearch_link} data-pageid="{$pageid}" data-small >
				<a   href="bedah_search.php{$stateLink_full}" {$advsearchlink_attrs}  title="" >
				
		Advanced search		
		</a>
	</li>
							{BEGIN searchPanelTopButtons}
	<li data-itemtype="show_search_panel" data-itemid="show_search_panel" {$item_show_search_panel} data-pageid="{$pageid}" data-small >
				<a  id="showOptPanel{$id}"  title="" >
				
		Show search panel		
		</a>
	</li>
{END searchPanelTopButtons}
							{BEGIN searchPanelTopButtons}
	<li data-itemtype="hide_search_panel" data-itemid="hide_search_panel" {$item_hide_search_panel} data-pageid="{$pageid}" data-small >
				<a  id="hideOptPanel{$id}"  title="" >
				
		Hide search panel		
		</a>
	</li>
{END searchPanelTopButtons}
							<li role="separator" class="divider"></li>							{BEGIN export_link}
	<li data-itemtype="export" data-itemid="export" {$item_export} data-pageid="{$pageid}" data-small >
				<a  href="#" {$exportlink_attrs}  title="" >
				
		Export results		
		</a>
	</li>
{END export_link}
							<li role="separator" class="divider"></li>							{BEGIN import_link}
	<li data-itemtype="import" data-itemid="import" {$item_import} data-pageid="{$pageid}" data-small >
				<a  {$importlink_attrs} href="bedah_import.php{$stateLink_full}"  title="" >
				
		Import		
		</a>
	</li>
{END import_link}
					</ul>
	</span>
</span>
			</span>
								</nav>
{END supertop_block}
						{$locking}
				</div>	
				<div class="r-body" data-resize-top="topbar" data-body-width="standard">
					{$header}
					<div class="r-top">
									{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="leftbar" {$form_top} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c2" data-pageid="{$pageid}"	{$cell_top_c2}
	class=" r-ori-vert			col-md-12
	
">
		 
		{BEGIN mastertable_block}
<div data-itemtype="master_info" data-itemid="master_info" {$item_master_info} data-pageid="{$pageid}">
	{$showmasterfile}
</div>
{END mastertable_block}		</div>					</div>
	</div>		
{END top_block}
						</div>
					<div class="r-above">
										{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="leftbar" {$form_above-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class="			col-md-6
	
">
		{BEGIN firstAboveGridCell}
		 
		{BEGIN add_link}
<span data-itemtype="add" data-itemid="add" {$item_add} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$addlink_attrs} href="bedah_add.php{$stateLink_full}" >
							Add new			</a>
</span>
{END add_link}
	 
		{BEGIN inlineadd_link}
<span data-itemtype="inline_add" data-itemid="inline_add" {$item_inline_add} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$inlineaddlink_attrs} >
							Inline Add			</a>
</span>
{END inlineadd_link}
			{END firstAboveGridCell}	
	</div>			 
				<div 
	data-cellId="above-grid_c2" data-pageid="{$pageid}"	{$cell_above-grid_c2}
	class="r-align-right			col-md-6
	
">
		 
		<span data-itemtype="details_found" data-itemid="details_found" {$item_details_found} data-pageid="{$pageid}" data-small >
{$details_found_labeldetails_found}
</span>	 
		<span data-itemtype="page_size" data-itemid="page_size" {$item_page_size} data-pageid="{$pageid}" >
		{$recsPerPage}
</span>	 
		{BEGIN print_friendly}
<span id="printpanelblock{$id}"  data-pageid="{$pageid}" {$printpanel_hiddenattr} data-itemtype="print_panel" data-itemid="print_panel" {$item_print_panel} data-pageid="{$pageid}">
	<button title="Print-friendly page" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					<span class="glyphicon glyphicon-print"></span>
				<span class="caret"></span>
	</button>
	<ul class="dropdown-menu pull-right">
										 
				 
					<li class="container-fluid 
										">
									<div id="print_friendly_scope{$id}">
	<div class="row">
		<div class="col-md-4">
			Scope:		</div>

		{BEGIN print_friendly_all}
		<div class="col-md-8">
			<label for="printAll{$id}">
				<input type="radio" id="printAll{$id}" data-href="bedah_print.php?all=1&amp;{$crosstable_attrs}" name="printScope">
									Print all pages							</label>
		</div>
		{END print_friendly_all}
	</div>
	<div class="row">
		<div class="col-md-4">&nbsp;</div>
		<div class="col-md-8">
			<label for="printPage{$id}">
				<input name="printScope" id="printPage{$id}" type="radio" checked data-href="bedah_print.php?{$crosstable_attrs}">
				Print this page			</label>
		</div>
	</div>
	
	</div>				 
					</li>
											<li class="divider" role="separator"></li>
																				 
				 
					<li class="container-fluid 
										">
									<div>
	<label for="printPerPage{$id}">
					Records Per Page							
	</label>
	<input type="number" id="printPerPage{$id}" value="{$print_recspp}" class="rnr-printrecspp">		
</div>
				 
					</li>
											<li class="divider" role="separator"></li>
																				 
				 
					<li class="container-fluid 
					 text-center 					">
									<span data-itemtype="print_button" data-itemid="print_button" {$item_print_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" id="print_friendly_button{$id}" >
							Print			</a>
</span>
				 
					</li>
															</ul>
</span>
{END print_friendly}
		</div>					</div>
	</div>		
{END above-grid_block}
						</div>
					<div class="r-grid">
										{BEGIN grid_block}
{BEGIN grid_tabs}
  <ul class="nav nav-tabs bsgrid_tabs">
	{$grid_tabs_content}
  </ul>
{END grid_tabs}
{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}	<style>
@media screen and (max-width: 767px) {
		[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Id_bedah"]:before {
		content: "{$label bedah Id_bedah}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Keluhan_Utama"]:before {
		content: "{$label bedah Keluhan_Utama}";
	}
																												[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="nomor_rm"]:before {
		content: "{$label bedah nomor_rm}";
	}
	}
</style>
<table data-location="grid" id="form_grid_{$pageid}" data-makeup="leftbar" {$form_grid} data-pageid="{$pageid}" class=" table {$grid_classes}  r-flexgrid rnr-b-grid rnr-gridtable" 
	cellpadding="0" 
	data-body-height="1"
>
						<thead>
			{BEGIN grid_header}
					
		 
						<tr {$rowattrs} {$row_grid_0} class="{$rowclass} 
									{$gridHeader_class}
									
								r-gridrow
							">
				 
					{BEGIN cellblock_grid_headcell_icons}
	<th
	
	{$cell_grid_headcell_icons}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_headcell_icons" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="bedah_list"		data-control-cell
	
	>

	
	</th>
	{END cellblock_grid_headcell_icons}
				 
					{BEGIN cellblock_grid_headcell_field}
	<th
	
	{$cell_grid_headcell_field}
	{$recordattrs}
	class="
		 r-ori-vert				{$Keluhan_Utama_class}
			"

			data-field="Keluhan_Utama"
	
	data-cellId="grid_headcell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Keluhan_Utama_fieldheadercolumn}
	{BEGIN Keluhan_Utama_fieldheader}
	<SPAN {$Keluhan_Utama_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field2" {$item_simple_grid_field2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Keluhan_Utama">
	{$label bedah Keluhan_Utama }	{$arrow_icon_Keluhan_Utama}
	</SPAN>
	{END Keluhan_Utama_fieldheader}
{END Keluhan_Utama_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field}
				 
					{BEGIN cellblock_grid_headcell_field1}
	<th
	
	{$cell_grid_headcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert				{$nomor_rm_class}
			"

			data-field="nomor_rm"
	
	data-cellId="grid_headcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN nomor_rm_fieldheadercolumn}
	{BEGIN nomor_rm_fieldheader}
	<SPAN {$nomor_rm_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field22" {$item_simple_grid_field22} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="nomor_rm">
	{$label bedah nomor_rm }	{$arrow_icon_nomor_rm}
	</SPAN>
	{END nomor_rm_fieldheader}
{END nomor_rm_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field1}
				 
					{BEGIN cellblock_grid_headcell_field2}
	<th
	
	{$cell_grid_headcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert				{$Id_bedah_class}
			"

			data-field="Id_bedah"
	
	data-cellId="grid_headcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Id_bedah_fieldheadercolumn}
	{BEGIN Id_bedah_fieldheader}
	<SPAN {$Id_bedah_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field3" {$item_simple_grid_field3} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Id_bedah">
	{$label bedah Id_bedah }	{$arrow_icon_Id_bedah}
	</SPAN>
	{END Id_bedah_fieldheader}
{END Id_bedah_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field2}
							</tr>
					 
					 
					
					{END grid_header}
			</thead>
															<tbody>
					{BEGIN grid_row}
									
		 
					 
						<tr {$rowattrs} {$row_grid_1} class="{$rowclass} 
								
								r-gridrow
							">
				 
					{BEGIN cellblock_grid_cell_icons}
	<td
	
	{$cell_grid_cell_icons}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_icons" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="bedah_list"		data-control-cell
	
	>

	 
		{BEGIN inline_cancel}
<span data-itemtype="grid_inline_cancel" data-itemid="grid_inline_cancel" {$item_grid_inline_cancel} data-pageid="{$pageid}" data-record-id="{$recId}" data-small data-button-item>
	<a type="button" title="Cancel" class="btn-link   
	 glyphicon glyphicon-remove" {$inlinerevertlink_attrs} title="Cancel" >		
				
								</a>
</span>
{END inline_cancel}
	
	</td>
	{END cellblock_grid_cell_icons}
				 
					{BEGIN cellblock_grid_cell_field}
	<td
	
	{$cell_grid_cell_field}
	{$recordattrs}
	class="
		 r-ori-vert				{$Keluhan_Utama_class}
			"

			data-field="Keluhan_Utama"
	
	data-cellId="grid_cell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Keluhan_Utama_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field1" {$item_simple_grid_field1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Keluhan_Utama" data-default-width >
{$Keluhan_Utama_value}
</span>
{END Keluhan_Utama_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field}
				 
					{BEGIN cellblock_grid_cell_field1}
	<td
	
	{$cell_grid_cell_field1}
	{$recordattrs}
	class="
		 r-ori-vert				{$nomor_rm_class}
			"

			data-field="nomor_rm"
	
	data-cellId="grid_cell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN nomor_rm_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field21" {$item_simple_grid_field21} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="nomor_rm" data-default-width >
{$nomor_rm_value}
</span>
{END nomor_rm_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field1}
				 
					{BEGIN cellblock_grid_cell_field2}
	<td
	
	{$cell_grid_cell_field2}
	{$recordattrs}
	class="
		 r-ori-vert				{$Id_bedah_class}
			"

			data-field="Id_bedah"
	
	data-cellId="grid_cell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Id_bedah_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field" {$item_simple_grid_field} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Id_bedah" data-default-width >
{$Id_bedah_value}
</span>
{END Id_bedah_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field2}
							</tr>
					 
					
											{END grid_row}
					</tbody>
													<tfoot>
					
		 
					 
					 
						<tr {$rowattrs} {$row_grid_2} class="{$rowclass} 
									{$gridFooter_class}
									
								r-gridrow
							">
				 
					{BEGIN cellblock_grid_footcell_icons}
	<td
	
	{$cell_grid_footcell_icons}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_icons" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_footcell_icons}
				 
					{BEGIN cellblock_grid_footcell_field}
	<td
	
	{$cell_grid_footcell_field}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="bedah_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field}
				 
					{BEGIN cellblock_grid_footcell_field1}
	<td
	
	{$cell_grid_footcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="bedah_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field1}
				 
					{BEGIN cellblock_grid_footcell_field2}
	<td
	
	{$cell_grid_footcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="bedah_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field2}
							</tr>
					
					</tfoot>
				</table>
{END grid_block}
						</div>
					<div class="r-below">
										{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="leftbar" {$form_below-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="r-align-center r-ori-vert			col-md-12
	
">
		 
		{BEGIN pagination_block}
<span data-itemtype="pagination" data-itemid="pagination" {$item_pagination} data-pageid="{$pageid}" >
{$pagination}
</span>
{END pagination_block}
		</div>					</div>
	</div>		
{END below-grid_block}
						</div>
					{$footer}
				</div>	
			</div>	
		</div>
	{END body}
	</body>
</html>
