<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel dosen search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_dosen_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_dosen}  r-horizontal-field form-horizontal" 
	
		data-fieldname="id_dosen" 
	
	data-signal-error-for="id_dosen{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="id_dosen" >


	<label class="r-search-label control-label" for="{$labelfor_id_dosen}">
		{$label dosen id_dosen }	</label>
	<div class="r-search-option">
		{$searchtype_id_dosen}
	</div>
	<div class="r-search-field">
		{$id_dosen_editcontrol}	</div>
	<div class="r-search-field">
		{$id_dosen_editcontrol1}
	</div>
	
</div>

{END id_dosen_fieldblock}
											
{BEGIN NAMA_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_NAMA}  r-horizontal-field form-horizontal" 
	
		data-fieldname="NAMA" 
	
	data-signal-error-for="NAMA{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="NAMA" >


	<label class="r-search-label control-label" for="{$labelfor_NAMA}">
		{$label dosen NAMA }	</label>
	<div class="r-search-option">
		{$searchtype_NAMA}
	</div>
	<div class="r-search-field">
		{$NAMA_editcontrol}	</div>
	<div class="r-search-field">
		{$NAMA_editcontrol1}
	</div>
	
</div>

{END NAMA_fieldblock}
											
{BEGIN NIP_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_NIP}  r-horizontal-field form-horizontal" 
	
		data-fieldname="NIP" 
	
	data-signal-error-for="NIP{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="NIP" >


	<label class="r-search-label control-label" for="{$labelfor_NIP}">
		{$label dosen NIP }	</label>
	<div class="r-search-option">
		{$searchtype_NIP}
	</div>
	<div class="r-search-field">
		{$NIP_editcontrol}	</div>
	<div class="r-search-field">
		{$NIP_editcontrol1}
	</div>
	
</div>

{END NIP_fieldblock}
											
{BEGIN NIDN_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_NIDN}  r-horizontal-field form-horizontal" 
	
		data-fieldname="NIDN" 
	
	data-signal-error-for="NIDN{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="NIDN" >


	<label class="r-search-label control-label" for="{$labelfor_NIDN}">
		{$label dosen NIDN }	</label>
	<div class="r-search-option">
		{$searchtype_NIDN}
	</div>
	<div class="r-search-field">
		{$NIDN_editcontrol}	</div>
	<div class="r-search-field">
		{$NIDN_editcontrol1}
	</div>
	
</div>

{END NIDN_fieldblock}
											
{BEGIN NIDK_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_NIDK}  r-horizontal-field form-horizontal" 
	
		data-fieldname="NIDK" 
	
	data-signal-error-for="NIDK{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="NIDK" >


	<label class="r-search-label control-label" for="{$labelfor_NIDK}">
		{$label dosen NIDK }	</label>
	<div class="r-search-option">
		{$searchtype_NIDK}
	</div>
	<div class="r-search-field">
		{$NIDK_editcontrol}	</div>
	<div class="r-search-field">
		{$NIDK_editcontrol1}
	</div>
	
</div>

{END NIDK_fieldblock}
											
{BEGIN KETERANGAN_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_KETERANGAN}  r-horizontal-field form-horizontal" 
	
		data-fieldname="KETERANGAN" 
	
	data-signal-error-for="KETERANGAN{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="KETERANGAN" >


	<label class="r-search-label control-label" for="{$labelfor_KETERANGAN}">
		{$label dosen KETERANGAN }	</label>
	<div class="r-search-option">
		{$searchtype_KETERANGAN}
	</div>
	<div class="r-search-field">
		{$KETERANGAN_editcontrol}	</div>
	<div class="r-search-field">
		{$KETERANGAN_editcontrol1}
	</div>
	
</div>

{END KETERANGAN_fieldblock}
											
{BEGIN Status_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Status}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Status" 
	
	data-signal-error-for="Status{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="Status" >


	<label class="r-search-label control-label" for="{$labelfor_Status}">
		{$label dosen Status }	</label>
	<div class="r-search-option">
		{$searchtype_Status}
	</div>
	<div class="r-search-field">
		{$Status_editcontrol}	</div>
	<div class="r-search-field">
		{$Status_editcontrol1}
	</div>
	
</div>

{END Status_fieldblock}
											
{BEGIN RS_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_RS}  r-horizontal-field form-horizontal" 
	
		data-fieldname="RS" 
	
	data-signal-error-for="RS{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="RS" >


	<label class="r-search-label control-label" for="{$labelfor_RS}">
		{$label dosen RS }	</label>
	<div class="r-search-option">
		{$searchtype_RS}
	</div>
	<div class="r-search-field">
		{$RS_editcontrol}	</div>
	<div class="r-search-field">
		{$RS_editcontrol1}
	</div>
	
</div>

{END RS_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Search			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reset			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancel			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
