<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-add" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="full"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="add_header" data-itemid="add_header" {$item_add_header} data-pageid="{$pageid}" >{$pagetitlelabel ginekologi add}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		{BEGIN message_block}
<div data-itemtype="add_message" data-itemid="add_message" {$item_add_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
		
	<button class="btn btn-sm btn-default" {$backbutton_attrs}>Back to list</button>
	{END back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>View</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>Edit</button>
{END edit_page_button}
</div>
</div>
{END message_block}	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="2"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
			data-single
				data-fullwidth
		
	ocolspan="2"		data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN id_mhs_fieldblock}
	<div class="r-edit-field" data-signal-error-for="id_mhs{$id}" data-itemtype="edit_field" data-itemid="integrated_edit_field40" {$item_integrated_edit_field40} data-pageid="{$pageid}" data-field="id_mhs" >
		{$id_mhs_editcontrol}	</div>
{END id_mhs_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
	 
	 
																</tbody></table>
				{BEGIN mastertable_block}
<div data-itemtype="master_info" data-itemid="master_info" {$item_master_info} data-pageid="{$pageid}">
	{$showmasterfile}
</div>
{END mastertable_block}											<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="2"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c5}
<td
	{$cell_grid_c5}
	class=" r-ori-vert"
	
				data-fullwidth
		
	ocolspan="2"		data-cellId="grid_c5" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN Nomor_Rm_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Nomor_Rm}  r-vertical-field" 
	data-fieldname="Nomor_Rm" 
	data-signal-error-for="Nomor_Rm{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field46" {$item_integrated_edit_field46} data-pageid="{$pageid}" data-field="Nomor_Rm" >


	<label class="r-edit-label control-label" for="{$labelfor_Nomor_Rm}">
		{BEGIN Nomor_Rm_label}{$label ginekologi Nomor_Rm }{END Nomor_Rm_label}
	</label>
	<div class="r-edit-field">
		{$Nomor_Rm_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Nomor_Rm">
		<div class="text-muted" >
		{$tooltip ginekologi Nomor_Rm }		</div>
	</div>
</div>


{END Nomor_Rm_fieldblock}
										</td>
			{END cellblock_grid_c5}
										</tr>
										</tbody></table>
				<div class="panel with-tabs panel-default form-tabs" data-itemtype="tabs" data-itemid="tabs" {$item_tabs} data-pageid="{$pageid}">
	<div class="panel-heading">
		<ul class="nav nav-tabs" role="tablist">
									<li role="presentation" class="active">
				<a aria-controls="settings" role="tab" data-toggle="tab" href="#tab_section1{$pageid}">
					ANAMNESIS				</a>
			</li>
										<li role="presentation" class="">
				<a aria-controls="settings" role="tab" data-toggle="tab" href="#tab_section2{$pageid}">
					RIWAYAT PENYAKIT				</a>
			</li>
										<li role="presentation" class="">
				<a aria-controls="settings" role="tab" data-toggle="tab" href="#tab_section3{$pageid}">
					PEMERIKSAAN FISIK UMUM				</a>
			</li>
										<li role="presentation" class="">
				<a aria-controls="settings" role="tab" data-toggle="tab" href="#tab_section4{$pageid}">
					PEMERIKSAAN GINEKOLOGI				</a>
			</li>
										<li role="presentation" class="">
				<a aria-controls="settings" role="tab" data-toggle="tab" href="#tab_section5{$pageid}">
					PEMERIKSAAN PENUNJANG YANG LALU				</a>
			</li>
										<li role="presentation" class="">
				<a aria-controls="settings" role="tab" data-toggle="tab" href="#tab_section6{$pageid}">
					DIAGNOSIS				</a>
			</li>
										<li role="presentation" class="">
				<a aria-controls="settings" role="tab" data-toggle="tab" href="#tab_section7{$pageid}">
					RENCANA TATALAKSANA				</a>
			</li>
										<li role="presentation" class="">
				<a aria-controls="settings" role="tab" data-toggle="tab" href="#tab_section8{$pageid}">
					KONSELING				</a>
			</li>
									</ul>
	</div>
	<div class="panel-body">
		<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="tab_section1{$pageid}"> 
			{BEGIN section1_block}




 
	 
												<table 
	data-body-align="center"
	data-location="section1" id="form_section1_{$pageid}" data-makeup="small" {$form_section1} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="2"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_section1_c1}
<td
	{$cell_section1_c1}
	class="r-align-left r-ori-vert"
	
			data-single
			
			data-cellId="section1_c1" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN keluhan_pertama_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_keluhan_pertama}  r-vertical-field" 
	data-fieldname="keluhan_pertama" 
	data-signal-error-for="keluhan_pertama{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="keluhan_pertama" >


	<label class="r-edit-label control-label" for="{$labelfor_keluhan_pertama}">
		{BEGIN keluhan_pertama_label}{$label ginekologi keluhan_pertama }{END keluhan_pertama_label}
	</label>
	<div class="r-edit-field">
		{$keluhan_pertama_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="keluhan_pertama">
		<div class="text-muted" >
		{$tooltip ginekologi keluhan_pertama }		</div>
	</div>
</div>


{END keluhan_pertama_fieldblock}
	
								</td>
			{END cellblock_section1_c1}
			 
																

{BEGIN cellblock_section1_c}
<td
	{$cell_section1_c}
	class="r-align-left r-ori-vert"
	
			data-single
			
			data-cellId="section1_c" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN keluhan_tmbhan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_keluhan_tmbhan}  r-vertical-field" 
	data-fieldname="keluhan_tmbhan" 
	data-signal-error-for="keluhan_tmbhan{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="keluhan_tmbhan" >


	<label class="r-edit-label control-label" for="{$labelfor_keluhan_tmbhan}">
		{BEGIN keluhan_tmbhan_label}{$label ginekologi keluhan_tmbhan }{END keluhan_tmbhan_label}
	</label>
	<div class="r-edit-field">
		{$keluhan_tmbhan_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="keluhan_tmbhan">
		<div class="text-muted" >
		{$tooltip ginekologi keluhan_tmbhan }		</div>
	</div>
</div>


{END keluhan_tmbhan_fieldblock}
	
								</td>
			{END cellblock_section1_c}
								</tr>
			</tbody></table>
{END section1_block}
						</div>
					<div role="tabpanel" class="tab-pane " id="tab_section2{$pageid}"> 
			{BEGIN section2_block}




 
	 
												<table 
	data-body-align="center"
	data-location="section2" id="form_section2_{$pageid}" data-makeup="small" {$form_section2} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="2"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_section2_c1}
<td
	{$cell_section2_c1}
	class=" r-ori-vert"
	
			
			data-cellId="section2_c1" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN rwyt_skrg_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_rwyt_skrg}  r-vertical-field" 
	data-fieldname="rwyt_skrg" 
	data-signal-error-for="rwyt_skrg{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="rwyt_skrg" >


	<label class="r-edit-label control-label" for="{$labelfor_rwyt_skrg}">
		{BEGIN rwyt_skrg_label}{$label ginekologi rwyt_skrg }{END rwyt_skrg_label}
	</label>
	<div class="r-edit-field">
		{$rwyt_skrg_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="rwyt_skrg">
		<div class="text-muted" >
		{$tooltip ginekologi rwyt_skrg }		</div>
	</div>
</div>


{END rwyt_skrg_fieldblock}
											
{BEGIN rwyt_dulu_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_rwyt_dulu}  r-vertical-field" 
	data-fieldname="rwyt_dulu" 
	data-signal-error-for="rwyt_dulu{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="rwyt_dulu" >


	<label class="r-edit-label control-label" for="{$labelfor_rwyt_dulu}">
		{BEGIN rwyt_dulu_label}{$label ginekologi rwyt_dulu }{END rwyt_dulu_label}
	</label>
	<div class="r-edit-field">
		{$rwyt_dulu_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="rwyt_dulu">
		<div class="text-muted" >
		{$tooltip ginekologi rwyt_dulu }		</div>
	</div>
</div>


{END rwyt_dulu_fieldblock}
											
{BEGIN rwyt_klg_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_rwyt_klg}  r-vertical-field" 
	data-fieldname="rwyt_klg" 
	data-signal-error-for="rwyt_klg{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="rwyt_klg" >


	<label class="r-edit-label control-label" for="{$labelfor_rwyt_klg}">
		{BEGIN rwyt_klg_label}{$label ginekologi rwyt_klg }{END rwyt_klg_label}
	</label>
	<div class="r-edit-field">
		{$rwyt_klg_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="rwyt_klg">
		<div class="text-muted" >
		{$tooltip ginekologi rwyt_klg }		</div>
	</div>
</div>


{END rwyt_klg_fieldblock}
											
{BEGIN rwyt_alergi_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_rwyt_alergi}  r-vertical-field" 
	data-fieldname="rwyt_alergi" 
	data-signal-error-for="rwyt_alergi{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="rwyt_alergi" >


	<label class="r-edit-label control-label" for="{$labelfor_rwyt_alergi}">
		{BEGIN rwyt_alergi_label}{$label ginekologi rwyt_alergi }{END rwyt_alergi_label}
	</label>
	<div class="r-edit-field">
		{$rwyt_alergi_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="rwyt_alergi">
		<div class="text-muted" >
		{$tooltip ginekologi rwyt_alergi }		</div>
	</div>
</div>


{END rwyt_alergi_fieldblock}
											
{BEGIN rwyt_pengobatan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_rwyt_pengobatan}  r-vertical-field" 
	data-fieldname="rwyt_pengobatan" 
	data-signal-error-for="rwyt_pengobatan{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="rwyt_pengobatan" >


	<label class="r-edit-label control-label" for="{$labelfor_rwyt_pengobatan}">
		{BEGIN rwyt_pengobatan_label}{$label ginekologi rwyt_pengobatan }{END rwyt_pengobatan_label}
	</label>
	<div class="r-edit-field">
		{$rwyt_pengobatan_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="rwyt_pengobatan">
		<div class="text-muted" >
		{$tooltip ginekologi rwyt_pengobatan }		</div>
	</div>
</div>


{END rwyt_pengobatan_fieldblock}
											
{BEGIN rwyt_kebiasaan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_rwyt_kebiasaan}  r-vertical-field" 
	data-fieldname="rwyt_kebiasaan" 
	data-signal-error-for="rwyt_kebiasaan{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="rwyt_kebiasaan" >


	<label class="r-edit-label control-label" for="{$labelfor_rwyt_kebiasaan}">
		{BEGIN rwyt_kebiasaan_label}{$label ginekologi rwyt_kebiasaan }{END rwyt_kebiasaan_label}
	</label>
	<div class="r-edit-field">
		{$rwyt_kebiasaan_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="rwyt_kebiasaan">
		<div class="text-muted" >
		{$tooltip ginekologi rwyt_kebiasaan }		</div>
	</div>
</div>


{END rwyt_kebiasaan_fieldblock}
											
{BEGIN rwyt_haid_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_rwyt_haid}  r-vertical-field" 
	data-fieldname="rwyt_haid" 
	data-signal-error-for="rwyt_haid{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="rwyt_haid" >


	<label class="r-edit-label control-label" for="{$labelfor_rwyt_haid}">
		{BEGIN rwyt_haid_label}{$label ginekologi rwyt_haid }{END rwyt_haid_label}
	</label>
	<div class="r-edit-field">
		{$rwyt_haid_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="rwyt_haid">
		<div class="text-muted" >
		{$tooltip ginekologi rwyt_haid }		</div>
	</div>
</div>


{END rwyt_haid_fieldblock}
											
{BEGIN rwyt_imunisasi_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_rwyt_imunisasi}  r-vertical-field" 
	data-fieldname="rwyt_imunisasi" 
	data-signal-error-for="rwyt_imunisasi{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="rwyt_imunisasi" >


	<label class="r-edit-label control-label" for="{$labelfor_rwyt_imunisasi}">
		{BEGIN rwyt_imunisasi_label}{$label ginekologi rwyt_imunisasi }{END rwyt_imunisasi_label}
	</label>
	<div class="r-edit-field">
		{$rwyt_imunisasi_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="rwyt_imunisasi">
		<div class="text-muted" >
		{$tooltip ginekologi rwyt_imunisasi }		</div>
	</div>
</div>


{END rwyt_imunisasi_fieldblock}
	
								</td>
			{END cellblock_section2_c1}
			 
																

{BEGIN cellblock_section2_c}
<td
	{$cell_section2_c}
	class=" r-ori-vert"
	
			
			data-cellId="section2_c" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN rwyt_nikah_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_rwyt_nikah}  r-vertical-field" 
	data-fieldname="rwyt_nikah" 
	data-signal-error-for="rwyt_nikah{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="rwyt_nikah" >


	<label class="r-edit-label control-label" for="{$labelfor_rwyt_nikah}">
		{BEGIN rwyt_nikah_label}{$label ginekologi rwyt_nikah }{END rwyt_nikah_label}
	</label>
	<div class="r-edit-field">
		{$rwyt_nikah_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="rwyt_nikah">
		<div class="text-muted" >
		{$tooltip ginekologi rwyt_nikah }		</div>
	</div>
</div>


{END rwyt_nikah_fieldblock}
											
{BEGIN rwyt_sos_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_rwyt_sos}  r-vertical-field" 
	data-fieldname="rwyt_sos" 
	data-signal-error-for="rwyt_sos{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="rwyt_sos" >


	<label class="r-edit-label control-label" for="{$labelfor_rwyt_sos}">
		{BEGIN rwyt_sos_label}{$label ginekologi rwyt_sos }{END rwyt_sos_label}
	</label>
	<div class="r-edit-field">
		{$rwyt_sos_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="rwyt_sos">
		<div class="text-muted" >
		{$tooltip ginekologi rwyt_sos }		</div>
	</div>
</div>


{END rwyt_sos_fieldblock}
											
{BEGIN rwyt_prsalinan_satu_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_rwyt_prsalinan_satu}  r-vertical-field" 
	data-fieldname="rwyt_prsalinan_satu" 
	data-signal-error-for="rwyt_prsalinan_satu{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="rwyt_prsalinan_satu" >


	<label class="r-edit-label control-label" for="{$labelfor_rwyt_prsalinan_satu}">
		{BEGIN rwyt_prsalinan_satu_label}{$label ginekologi rwyt_prsalinan_satu }{END rwyt_prsalinan_satu_label}
	</label>
	<div class="r-edit-field">
		{$rwyt_prsalinan_satu_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="rwyt_prsalinan_satu">
		<div class="text-muted" >
		{$tooltip ginekologi rwyt_prsalinan_satu }		</div>
	</div>
</div>


{END rwyt_prsalinan_satu_fieldblock}
											
{BEGIN rwyt_prsalinan_dua_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_rwyt_prsalinan_dua}  r-vertical-field" 
	data-fieldname="rwyt_prsalinan_dua" 
	data-signal-error-for="rwyt_prsalinan_dua{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="rwyt_prsalinan_dua" >


	<label class="r-edit-label control-label" for="{$labelfor_rwyt_prsalinan_dua}">
		{BEGIN rwyt_prsalinan_dua_label}{$label ginekologi rwyt_prsalinan_dua }{END rwyt_prsalinan_dua_label}
	</label>
	<div class="r-edit-field">
		{$rwyt_prsalinan_dua_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="rwyt_prsalinan_dua">
		<div class="text-muted" >
		{$tooltip ginekologi rwyt_prsalinan_dua }		</div>
	</div>
</div>


{END rwyt_prsalinan_dua_fieldblock}
											
{BEGIN rwyt_prsalinan_tiga_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_rwyt_prsalinan_tiga}  r-vertical-field" 
	data-fieldname="rwyt_prsalinan_tiga" 
	data-signal-error-for="rwyt_prsalinan_tiga{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="rwyt_prsalinan_tiga" >


	<label class="r-edit-label control-label" for="{$labelfor_rwyt_prsalinan_tiga}">
		{BEGIN rwyt_prsalinan_tiga_label}{$label ginekologi rwyt_prsalinan_tiga }{END rwyt_prsalinan_tiga_label}
	</label>
	<div class="r-edit-field">
		{$rwyt_prsalinan_tiga_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="rwyt_prsalinan_tiga">
		<div class="text-muted" >
		{$tooltip ginekologi rwyt_prsalinan_tiga }		</div>
	</div>
</div>


{END rwyt_prsalinan_tiga_fieldblock}
											
{BEGIN rwyt_prsalinan_empat_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_rwyt_prsalinan_empat}  r-vertical-field" 
	data-fieldname="rwyt_prsalinan_empat" 
	data-signal-error-for="rwyt_prsalinan_empat{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field15" {$item_integrated_edit_field15} data-pageid="{$pageid}" data-field="rwyt_prsalinan_empat" >


	<label class="r-edit-label control-label" for="{$labelfor_rwyt_prsalinan_empat}">
		{BEGIN rwyt_prsalinan_empat_label}{$label ginekologi rwyt_prsalinan_empat }{END rwyt_prsalinan_empat_label}
	</label>
	<div class="r-edit-field">
		{$rwyt_prsalinan_empat_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="rwyt_prsalinan_empat">
		<div class="text-muted" >
		{$tooltip ginekologi rwyt_prsalinan_empat }		</div>
	</div>
</div>


{END rwyt_prsalinan_empat_fieldblock}
											
{BEGIN rwyt_mnyusui_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_rwyt_mnyusui}  r-vertical-field" 
	data-fieldname="rwyt_mnyusui" 
	data-signal-error-for="rwyt_mnyusui{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field16" {$item_integrated_edit_field16} data-pageid="{$pageid}" data-field="rwyt_mnyusui" >


	<label class="r-edit-label control-label" for="{$labelfor_rwyt_mnyusui}">
		{BEGIN rwyt_mnyusui_label}{$label ginekologi rwyt_mnyusui }{END rwyt_mnyusui_label}
	</label>
	<div class="r-edit-field">
		{$rwyt_mnyusui_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="rwyt_mnyusui">
		<div class="text-muted" >
		{$tooltip ginekologi rwyt_mnyusui }		</div>
	</div>
</div>


{END rwyt_mnyusui_fieldblock}
											
{BEGIN rwyt_kb_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_rwyt_kb}  r-vertical-field" 
	data-fieldname="rwyt_kb" 
	data-signal-error-for="rwyt_kb{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field18" {$item_integrated_edit_field18} data-pageid="{$pageid}" data-field="rwyt_kb" >


	<label class="r-edit-label control-label" for="{$labelfor_rwyt_kb}">
		{BEGIN rwyt_kb_label}{$label ginekologi rwyt_kb }{END rwyt_kb_label}
	</label>
	<div class="r-edit-field">
		{$rwyt_kb_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="rwyt_kb">
		<div class="text-muted" >
		{$tooltip ginekologi rwyt_kb }		</div>
	</div>
</div>


{END rwyt_kb_fieldblock}
	
								</td>
			{END cellblock_section2_c}
								</tr>
			</tbody></table>
{END section2_block}
						</div>
					<div role="tabpanel" class="tab-pane " id="tab_section3{$pageid}"> 
			{BEGIN section3_block}




 
	 
												<table 
	data-body-align="center"
	data-location="section3" id="form_section3_{$pageid}" data-makeup="small" {$form_section3} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="2"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_section3_c1}
<td
	{$cell_section3_c1}
	class=" r-ori-vert"
	
			
			data-cellId="section3_c1" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN ku_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ku}  r-vertical-field" 
	data-fieldname="ku" 
	data-signal-error-for="ku{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field19" {$item_integrated_edit_field19} data-pageid="{$pageid}" data-field="ku" >


	<label class="r-edit-label control-label" for="{$labelfor_ku}">
		{BEGIN ku_label}{$label ginekologi ku }{END ku_label}
	</label>
	<div class="r-edit-field">
		{$ku_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="ku">
		<div class="text-muted" >
		{$tooltip ginekologi ku }		</div>
	</div>
</div>


{END ku_fieldblock}
											
{BEGIN gcs_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_gcs}  r-vertical-field" 
	data-fieldname="gcs" 
	data-signal-error-for="gcs{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field20" {$item_integrated_edit_field20} data-pageid="{$pageid}" data-field="gcs" >


	<label class="r-edit-label control-label" for="{$labelfor_gcs}">
		{BEGIN gcs_label}{$label ginekologi gcs }{END gcs_label}
	</label>
	<div class="r-edit-field">
		{$gcs_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="gcs">
		<div class="text-muted" >
		{$tooltip ginekologi gcs }		</div>
	</div>
</div>


{END gcs_fieldblock}
											
{BEGIN tb_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_tb}  r-vertical-field" 
	data-fieldname="tb" 
	data-signal-error-for="tb{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field21" {$item_integrated_edit_field21} data-pageid="{$pageid}" data-field="tb" >


	<label class="r-edit-label control-label" for="{$labelfor_tb}">
		{BEGIN tb_label}{$label ginekologi tb }{END tb_label}
	</label>
	<div class="r-edit-field">
		{$tb_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="tb">
		<div class="text-muted" >
		{$tooltip ginekologi tb }		</div>
	</div>
</div>


{END tb_fieldblock}
											
{BEGIN bb_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_bb}  r-vertical-field" 
	data-fieldname="bb" 
	data-signal-error-for="bb{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field22" {$item_integrated_edit_field22} data-pageid="{$pageid}" data-field="bb" >


	<label class="r-edit-label control-label" for="{$labelfor_bb}">
		{BEGIN bb_label}{$label ginekologi bb }{END bb_label}
	</label>
	<div class="r-edit-field">
		{$bb_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="bb">
		<div class="text-muted" >
		{$tooltip ginekologi bb }		</div>
	</div>
</div>


{END bb_fieldblock}
											
{BEGIN lila_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_lila}  r-vertical-field" 
	data-fieldname="lila" 
	data-signal-error-for="lila{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field23" {$item_integrated_edit_field23} data-pageid="{$pageid}" data-field="lila" >


	<label class="r-edit-label control-label" for="{$labelfor_lila}">
		{BEGIN lila_label}{$label ginekologi lila }{END lila_label}
	</label>
	<div class="r-edit-field">
		{$lila_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="lila">
		<div class="text-muted" >
		{$tooltip ginekologi lila }		</div>
	</div>
</div>


{END lila_fieldblock}
											
{BEGIN TD_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_TD}  r-vertical-field" 
	data-fieldname="TD" 
	data-signal-error-for="TD{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field24" {$item_integrated_edit_field24} data-pageid="{$pageid}" data-field="TD" >


	<label class="r-edit-label control-label" for="{$labelfor_TD}">
		{BEGIN TD_label}{$label ginekologi TD }{END TD_label}
	</label>
	<div class="r-edit-field">
		{$TD_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="TD">
		<div class="text-muted" >
		{$tooltip ginekologi TD }		</div>
	</div>
</div>


{END TD_fieldblock}
											
{BEGIN nadi_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_nadi}  r-vertical-field" 
	data-fieldname="nadi" 
	data-signal-error-for="nadi{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field25" {$item_integrated_edit_field25} data-pageid="{$pageid}" data-field="nadi" >


	<label class="r-edit-label control-label" for="{$labelfor_nadi}">
		{BEGIN nadi_label}{$label ginekologi nadi }{END nadi_label}
	</label>
	<div class="r-edit-field">
		{$nadi_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="nadi">
		<div class="text-muted" >
		{$tooltip ginekologi nadi }		</div>
	</div>
</div>


{END nadi_fieldblock}
	
								</td>
			{END cellblock_section3_c1}
			 
																

{BEGIN cellblock_section3_c}
<td
	{$cell_section3_c}
	class=" r-ori-vert"
	
			
			data-cellId="section3_c" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN respi_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_respi}  r-vertical-field" 
	data-fieldname="respi" 
	data-signal-error-for="respi{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field26" {$item_integrated_edit_field26} data-pageid="{$pageid}" data-field="respi" >


	<label class="r-edit-label control-label" for="{$labelfor_respi}">
		{BEGIN respi_label}{$label ginekologi respi }{END respi_label}
	</label>
	<div class="r-edit-field">
		{$respi_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="respi">
		<div class="text-muted" >
		{$tooltip ginekologi respi }		</div>
	</div>
</div>


{END respi_fieldblock}
											
{BEGIN temp_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_temp}  r-vertical-field" 
	data-fieldname="temp" 
	data-signal-error-for="temp{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field27" {$item_integrated_edit_field27} data-pageid="{$pageid}" data-field="temp" >


	<label class="r-edit-label control-label" for="{$labelfor_temp}">
		{BEGIN temp_label}{$label ginekologi temp }{END temp_label}
	</label>
	<div class="r-edit-field">
		{$temp_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="temp">
		<div class="text-muted" >
		{$tooltip ginekologi temp }		</div>
	</div>
</div>


{END temp_fieldblock}
											
{BEGIN kepala_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_kepala}  r-vertical-field" 
	data-fieldname="kepala" 
	data-signal-error-for="kepala{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field28" {$item_integrated_edit_field28} data-pageid="{$pageid}" data-field="kepala" >


	<label class="r-edit-label control-label" for="{$labelfor_kepala}">
		{BEGIN kepala_label}{$label ginekologi kepala }{END kepala_label}
	</label>
	<div class="r-edit-field">
		{$kepala_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="kepala">
		<div class="text-muted" >
		{$tooltip ginekologi kepala }		</div>
	</div>
</div>


{END kepala_fieldblock}
											
{BEGIN leher_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_leher}  r-vertical-field" 
	data-fieldname="leher" 
	data-signal-error-for="leher{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field29" {$item_integrated_edit_field29} data-pageid="{$pageid}" data-field="leher" >


	<label class="r-edit-label control-label" for="{$labelfor_leher}">
		{BEGIN leher_label}{$label ginekologi leher }{END leher_label}
	</label>
	<div class="r-edit-field">
		{$leher_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="leher">
		<div class="text-muted" >
		{$tooltip ginekologi leher }		</div>
	</div>
</div>


{END leher_fieldblock}
											
{BEGIN thorax_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_thorax}  r-vertical-field" 
	data-fieldname="thorax" 
	data-signal-error-for="thorax{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field30" {$item_integrated_edit_field30} data-pageid="{$pageid}" data-field="thorax" >


	<label class="r-edit-label control-label" for="{$labelfor_thorax}">
		{BEGIN thorax_label}{$label ginekologi thorax }{END thorax_label}
	</label>
	<div class="r-edit-field">
		{$thorax_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="thorax">
		<div class="text-muted" >
		{$tooltip ginekologi thorax }		</div>
	</div>
</div>


{END thorax_fieldblock}
											
{BEGIN abdomen_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_abdomen}  r-vertical-field" 
	data-fieldname="abdomen" 
	data-signal-error-for="abdomen{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field31" {$item_integrated_edit_field31} data-pageid="{$pageid}" data-field="abdomen" >


	<label class="r-edit-label control-label" for="{$labelfor_abdomen}">
		{BEGIN abdomen_label}{$label ginekologi abdomen }{END abdomen_label}
	</label>
	<div class="r-edit-field">
		{$abdomen_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="abdomen">
		<div class="text-muted" >
		{$tooltip ginekologi abdomen }		</div>
	</div>
</div>


{END abdomen_fieldblock}
											
{BEGIN ekstremitas_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ekstremitas}  r-vertical-field" 
	data-fieldname="ekstremitas" 
	data-signal-error-for="ekstremitas{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field32" {$item_integrated_edit_field32} data-pageid="{$pageid}" data-field="ekstremitas" >


	<label class="r-edit-label control-label" for="{$labelfor_ekstremitas}">
		{BEGIN ekstremitas_label}{$label ginekologi ekstremitas }{END ekstremitas_label}
	</label>
	<div class="r-edit-field">
		{$ekstremitas_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="ekstremitas">
		<div class="text-muted" >
		{$tooltip ginekologi ekstremitas }		</div>
	</div>
</div>


{END ekstremitas_fieldblock}
	
								</td>
			{END cellblock_section3_c}
								</tr>
			</tbody></table>
{END section3_block}
						</div>
					<div role="tabpanel" class="tab-pane " id="tab_section4{$pageid}"> 
			{BEGIN section4_block}




 
	 
												<table 
	data-body-align="center"
	data-location="section4" id="form_section4_{$pageid}" data-makeup="small" {$form_section4} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="2"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_section4_c1}
<td
	{$cell_section4_c1}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section4_c1" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				 
	<div class="panel panel-default form-section" data-itemtype="section" data-itemid="section2" {$item_section2} data-pageid="{$pageid}">
		<div class="panel-heading" role="tab" {$section_section1_headattrs} data-toggle="collapse"   

				href="#section1{$pageid}" aria-expanded="true" aria-controls="section1"

		>
		  <h4 class="panel-title">
			<a role="button" >
				Genitalia Interna			</a>
		  </h4>
		</div>
		<div  class="panel-collapse collapse in {$section_section1_xtrclass}" role="tabpanel"  {$section_section1_attrs}

				id="section1{$pageid}" 
		>
		  <div class="panel-body">
			{BEGIN section10_block}




 
	 
												<table 
	data-body-align="center"
	data-location="section10" id="form_section10_{$pageid}" data-makeup="small" {$form_section10} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_section10_c1}
<td
	{$cell_section10_c1}
	class=" r-ori-vert"
	
			
			data-cellId="section10_c1" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN dnding_vagina_genital_interna_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_dnding_vagina_genital_interna}  r-vertical-field" 
	data-fieldname="dnding_vagina_genital_interna" 
	data-signal-error-for="dnding_vagina_genital_interna{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field17" {$item_integrated_edit_field17} data-pageid="{$pageid}" data-field="dnding_vagina_genital_interna" >


	<label class="r-edit-label control-label" for="{$labelfor_dnding_vagina_genital_interna}">
		{BEGIN dnding_vagina_genital_interna_label}{$label ginekologi dnding_vagina_genital_interna }{END dnding_vagina_genital_interna_label}
	</label>
	<div class="r-edit-field">
		{$dnding_vagina_genital_interna_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="dnding_vagina_genital_interna">
		<div class="text-muted" >
		{$tooltip ginekologi dnding_vagina_genital_interna }		</div>
	</div>
</div>


{END dnding_vagina_genital_interna_fieldblock}
											
{BEGIN porsio_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_porsio}  r-vertical-field" 
	data-fieldname="porsio" 
	data-signal-error-for="porsio{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field35" {$item_integrated_edit_field35} data-pageid="{$pageid}" data-field="porsio" >


	<label class="r-edit-label control-label" for="{$labelfor_porsio}">
		{BEGIN porsio_label}{$label ginekologi porsio }{END porsio_label}
	</label>
	<div class="r-edit-field">
		{$porsio_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="porsio">
		<div class="text-muted" >
		{$tooltip ginekologi porsio }		</div>
	</div>
</div>


{END porsio_fieldblock}
											
{BEGIN korpus_uteri_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_korpus_uteri}  r-vertical-field" 
	data-fieldname="korpus_uteri" 
	data-signal-error-for="korpus_uteri{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field36" {$item_integrated_edit_field36} data-pageid="{$pageid}" data-field="korpus_uteri" >


	<label class="r-edit-label control-label" for="{$labelfor_korpus_uteri}">
		{BEGIN korpus_uteri_label}{$label ginekologi korpus_uteri }{END korpus_uteri_label}
	</label>
	<div class="r-edit-field">
		{$korpus_uteri_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="korpus_uteri">
		<div class="text-muted" >
		{$tooltip ginekologi korpus_uteri }		</div>
	</div>
</div>


{END korpus_uteri_fieldblock}
											
{BEGIN adneksa_parametrium_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_adneksa_parametrium}  r-vertical-field" 
	data-fieldname="adneksa_parametrium" 
	data-signal-error-for="adneksa_parametrium{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field34" {$item_integrated_edit_field34} data-pageid="{$pageid}" data-field="adneksa_parametrium" >


	<label class="r-edit-label control-label" for="{$labelfor_adneksa_parametrium}">
		{BEGIN adneksa_parametrium_label}{$label ginekologi adneksa_parametrium }{END adneksa_parametrium_label}
	</label>
	<div class="r-edit-field">
		{$adneksa_parametrium_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="adneksa_parametrium">
		<div class="text-muted" >
		{$tooltip ginekologi adneksa_parametrium }		</div>
	</div>
</div>


{END adneksa_parametrium_fieldblock}
											
{BEGIN kavum_doglasi_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_kavum_doglasi}  r-vertical-field" 
	data-fieldname="kavum_doglasi" 
	data-signal-error-for="kavum_doglasi{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field38" {$item_integrated_edit_field38} data-pageid="{$pageid}" data-field="kavum_doglasi" >


	<label class="r-edit-label control-label" for="{$labelfor_kavum_doglasi}">
		{BEGIN kavum_doglasi_label}{$label ginekologi kavum_doglasi }{END kavum_doglasi_label}
	</label>
	<div class="r-edit-field">
		{$kavum_doglasi_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="kavum_doglasi">
		<div class="text-muted" >
		{$tooltip ginekologi kavum_doglasi }		</div>
	</div>
</div>


{END kavum_doglasi_fieldblock}
	
								</td>
			{END cellblock_section10_c1}
								</tr>
			</tbody></table>
{END section10_block}
		  </div>
		</div>
	</div>
	
								</td>
			{END cellblock_section4_c1}
			 
																

{BEGIN cellblock_section4_c}
<td
	{$cell_section4_c}
	class=" r-ori-vert"
	
			
			data-cellId="section4_c" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				 
	<div class="panel panel-default form-section" data-itemtype="section" data-itemid="section1" {$item_section1} data-pageid="{$pageid}">
		<div class="panel-heading" role="tab" {$section_section2_headattrs} data-toggle="collapse"   

				href="#section2{$pageid}" aria-expanded="true" aria-controls="section2"

		>
		  <h4 class="panel-title">
			<a role="button" >
				Genitalia Eksterna			</a>
		  </h4>
		</div>
		<div  class="panel-collapse collapse in {$section_section2_xtrclass}" role="tabpanel"  {$section_section2_attrs}

				id="section2{$pageid}" 
		>
		  <div class="panel-body">
			{BEGIN section9_block}




 
	 
												<table 
	data-body-align="center"
	data-location="section9" id="form_section9_{$pageid}" data-makeup="small" {$form_section9} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_section9_c1}
<td
	{$cell_section9_c1}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section9_c1" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN genital_ekterna_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_genital_ekterna}  r-vertical-field" 
	data-fieldname="genital_ekterna" 
	data-signal-error-for="genital_ekterna{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field33" {$item_integrated_edit_field33} data-pageid="{$pageid}" data-field="genital_ekterna" >


	<label class="r-edit-label control-label" for="{$labelfor_genital_ekterna}">
		{BEGIN genital_ekterna_label}{$label ginekologi genital_ekterna }{END genital_ekterna_label}
	</label>
	<div class="r-edit-field">
		{$genital_ekterna_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="genital_ekterna">
		<div class="text-muted" >
		{$tooltip ginekologi genital_ekterna }		</div>
	</div>
</div>


{END genital_ekterna_fieldblock}
	
								</td>
			{END cellblock_section9_c1}
								</tr>
			</tbody></table>
{END section9_block}
		  </div>
		</div>
	</div>
											 
	<div class="panel panel-default form-section" data-itemtype="section" data-itemid="section3" {$item_section3} data-pageid="{$pageid}">
		<div class="panel-heading" role="tab" {$section_section3_headattrs} data-toggle="collapse"   

				href="#section3{$pageid}" aria-expanded="true" aria-controls="section3"

		>
		  <h4 class="panel-title">
			<a role="button" >
				Pemeriksaan Spekulum Vagina			</a>
		  </h4>
		</div>
		<div  class="panel-collapse collapse in {$section_section3_xtrclass}" role="tabpanel"  {$section_section3_attrs}

				id="section3{$pageid}" 
		>
		  <div class="panel-body">
			{BEGIN section11_block}




 
	 
												<table 
	data-body-align="center"
	data-location="section11" id="form_section11_{$pageid}" data-makeup="small" {$form_section11} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_section11_c1}
<td
	{$cell_section11_c1}
	class=" r-ori-vert"
	
			
			data-cellId="section11_c1" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN dnding_vagina_spekulum_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_dnding_vagina_spekulum}  r-vertical-field" 
	data-fieldname="dnding_vagina_spekulum" 
	data-signal-error-for="dnding_vagina_spekulum{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field37" {$item_integrated_edit_field37} data-pageid="{$pageid}" data-field="dnding_vagina_spekulum" >


	<label class="r-edit-label control-label" for="{$labelfor_dnding_vagina_spekulum}">
		{BEGIN dnding_vagina_spekulum_label}{$label ginekologi dnding_vagina_spekulum }{END dnding_vagina_spekulum_label}
	</label>
	<div class="r-edit-field">
		{$dnding_vagina_spekulum_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="dnding_vagina_spekulum">
		<div class="text-muted" >
		{$tooltip ginekologi dnding_vagina_spekulum }		</div>
	</div>
</div>


{END dnding_vagina_spekulum_fieldblock}
											
{BEGIN cerviks_spekulum_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cerviks_spekulum}  r-vertical-field" 
	data-fieldname="cerviks_spekulum" 
	data-signal-error-for="cerviks_spekulum{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field39" {$item_integrated_edit_field39} data-pageid="{$pageid}" data-field="cerviks_spekulum" >


	<label class="r-edit-label control-label" for="{$labelfor_cerviks_spekulum}">
		{BEGIN cerviks_spekulum_label}{$label ginekologi cerviks_spekulum }{END cerviks_spekulum_label}
	</label>
	<div class="r-edit-field">
		{$cerviks_spekulum_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cerviks_spekulum">
		<div class="text-muted" >
		{$tooltip ginekologi cerviks_spekulum }		</div>
	</div>
</div>


{END cerviks_spekulum_fieldblock}
	
								</td>
			{END cellblock_section11_c1}
								</tr>
			</tbody></table>
{END section11_block}
		  </div>
		</div>
	</div>
	
								</td>
			{END cellblock_section4_c}
								</tr>
			</tbody></table>
{END section4_block}
						</div>
					<div role="tabpanel" class="tab-pane " id="tab_section5{$pageid}"> 
			{BEGIN section5_block}




 
	 
												<table 
	data-body-align="center"
	data-location="section5" id="form_section5_{$pageid}" data-makeup="small" {$form_section5} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_section5_c1}
<td
	{$cell_section5_c1}
	class="r-align-left r-ori-vert"
	
			data-single
				data-fullwidth
		
			data-cellId="section5_c1" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN pmrksaan_pnunjang_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_pmrksaan_pnunjang}  r-vertical-field" 
	data-fieldname="pmrksaan_pnunjang" 
	data-signal-error-for="pmrksaan_pnunjang{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field41" {$item_integrated_edit_field41} data-pageid="{$pageid}" data-field="pmrksaan_pnunjang" >


	<label class="r-edit-label control-label" for="{$labelfor_pmrksaan_pnunjang}">
		{BEGIN pmrksaan_pnunjang_label}{$label ginekologi pmrksaan_pnunjang }{END pmrksaan_pnunjang_label}
	</label>
	<div class="r-edit-field">
		{$pmrksaan_pnunjang_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="pmrksaan_pnunjang">
		<div class="text-muted" >
		{$tooltip ginekologi pmrksaan_pnunjang }		</div>
	</div>
</div>


{END pmrksaan_pnunjang_fieldblock}
	
								</td>
			{END cellblock_section5_c1}
								</tr>
			</tbody></table>
{END section5_block}
						</div>
					<div role="tabpanel" class="tab-pane " id="tab_section6{$pageid}"> 
			{BEGIN section6_block}




 
	 
												<table 
	data-body-align="center"
	data-location="section6" id="form_section6_{$pageid}" data-makeup="small" {$form_section6} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_section6_c1}
<td
	{$cell_section6_c1}
	class=" r-ori-vert"
	
			data-single
				data-fullwidth
		
			data-cellId="section6_c1" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN diagnosis_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_diagnosis}  r-vertical-field" 
	data-fieldname="diagnosis" 
	data-signal-error-for="diagnosis{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field42" {$item_integrated_edit_field42} data-pageid="{$pageid}" data-field="diagnosis" >


	<label class="r-edit-label control-label" for="{$labelfor_diagnosis}">
		{BEGIN diagnosis_label}{$label ginekologi diagnosis }{END diagnosis_label}
	</label>
	<div class="r-edit-field">
		{$diagnosis_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="diagnosis">
		<div class="text-muted" >
		{$tooltip ginekologi diagnosis }		</div>
	</div>
</div>


{END diagnosis_fieldblock}
	
								</td>
			{END cellblock_section6_c1}
								</tr>
			</tbody></table>
{END section6_block}
						</div>
					<div role="tabpanel" class="tab-pane " id="tab_section7{$pageid}"> 
			{BEGIN section7_block}




 
	 
												<table 
	data-body-align="center"
	data-location="section7" id="form_section7_{$pageid}" data-makeup="small" {$form_section7} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_section7_c1}
<td
	{$cell_section7_c1}
	class=" r-ori-vert"
	
			data-single
				data-fullwidth
		
			data-cellId="section7_c1" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN usul_pmrksaan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_usul_pmrksaan}  r-vertical-field" 
	data-fieldname="usul_pmrksaan" 
	data-signal-error-for="usul_pmrksaan{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field43" {$item_integrated_edit_field43} data-pageid="{$pageid}" data-field="usul_pmrksaan" >


	<label class="r-edit-label control-label" for="{$labelfor_usul_pmrksaan}">
		{BEGIN usul_pmrksaan_label}{$label ginekologi usul_pmrksaan }{END usul_pmrksaan_label}
	</label>
	<div class="r-edit-field">
		{$usul_pmrksaan_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="usul_pmrksaan">
		<div class="text-muted" >
		{$tooltip ginekologi usul_pmrksaan }		</div>
	</div>
</div>


{END usul_pmrksaan_fieldblock}
	
								</td>
			{END cellblock_section7_c1}
								</tr>
			</tbody></table>
{END section7_block}
						</div>
					<div role="tabpanel" class="tab-pane " id="tab_section8{$pageid}"> 
			{BEGIN section8_block}




 
	 
												<table 
	data-body-align="center"
	data-location="section8" id="form_section8_{$pageid}" data-makeup="small" {$form_section8} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_section8_c1}
<td
	{$cell_section8_c1}
	class=" r-ori-vert"
	
			data-single
				data-fullwidth
		
			data-cellId="section8_c1" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN konseling_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_konseling}  r-vertical-field" 
	data-fieldname="konseling" 
	data-signal-error-for="konseling{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field44" {$item_integrated_edit_field44} data-pageid="{$pageid}" data-field="konseling" >


	<label class="r-edit-label control-label" for="{$labelfor_konseling}">
		{BEGIN konseling_label}{$label ginekologi konseling }{END konseling_label}
	</label>
	<div class="r-edit-field">
		{$konseling_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="konseling">
		<div class="text-muted" >
		{$tooltip ginekologi konseling }		</div>
	</div>
</div>


{END konseling_fieldblock}
	
								</td>
			{END cellblock_section8_c1}
								</tr>
			</tbody></table>
{END section8_block}
						</div>
				</div>
	</div>
</div>  	
				 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="2"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c6}
<td
	{$cell_grid_c6}
	class=" r-ori-vert"
	
			data-single
				data-fullwidth
		
	ocolspan="2"		data-cellId="grid_c6" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN id_pasien_fieldblock}
	<div class="r-edit-field" data-signal-error-for="id_pasien{$id}" data-itemtype="edit_field" data-itemid="integrated_edit_field45" {$item_integrated_edit_field45} data-pageid="{$pageid}" data-field="id_pasien" >
		{$id_pasien_editcontrol}	</div>
{END id_pasien_fieldblock}
	
								</td>
			{END cellblock_grid_c6}
								</tr>
	 
	 
		
						<tr>
						

{BEGIN cellblock_grid_c}
<td
	{$cell_grid_c}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c}
			 
		
							

{BEGIN cellblock_grid_c4}
<td
	{$cell_grid_c4}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c4" data-pageid="{$pageid}"
		data-v-cell="3"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c4}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="add_save" data-itemid="add_save" {$item_add_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							Simpan			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="add_back_list" data-itemid="add_back_list" {$item_add_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="backButton{$id}" >
							Kembali ke Menu			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="add_cancel" data-itemid="add_cancel" {$item_add_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-danger   
	" id="cancelButton{$id}" >
							Batal			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
