<div class="panel panel-primary">
		<div class="panel-heading">
						{BEGIN top_block}
<div class="panel-title r-panel-top row" data-location="top" id="form_top_{$pageid}" data-makeup="panel-only" {$form_top} data-pageid="{$pageid}" >		
	 
		 
			<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class="			col-md-12
	
">
		 
		<span data-itemtype="back_master" data-itemid="back_master" {$item_back_master} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-link  btn-xs 
	" {$backtomasterlink_attrs} >
							Back to Master table			</a>
</span>
	 
		<h3 class="panel-title" data-itemtype="masterlist_header" data-itemid="masterlist_header" {$item_masterlist_header} data-pageid="{$pageid}" >{$pagetitlelabel identitas_pasien masterlist}</h3>
		</div>			</div>		
{END top_block}
			</div>
		<div class="panel-body">
							{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="panel-only" {$form_above-grid} data-pageid="{$pageid}" >		
	</div>		
{END above-grid_block}
								{BEGIN grid_block}
{BEGIN grid_tabs}
  <ul class="nav nav-tabs bsgrid_tabs">
	{$grid_tabs_content}
  </ul>
{END grid_tabs}
{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}<div  data-location="grid" id="form_grid_{$pageid}" data-makeup="panel-only" {$form_grid} data-pageid="{$pageid}" >
{BEGIN grid_row}
	<div class="r-grid-columns {$rowclass}" {$rowattrs} {$rowstyle}>
	{BEGIN grid_record}
		{BEGIN grid_vrecord}
		<div class="panel panel-default" {$recordattrs}>
									
			{BEGIN grid_recordheader}
			<div class="panel-heading">
						
				<table data-location="grid" class="header-table">
					<tbody>
				 
												
						<tr >
						 
							{BEGIN cellblock_grid_cell_top}
	<th
	
	{$cell_grid_cell_top}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_top" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</th>
	{END cellblock_grid_cell_top}
												</tr>
									 
									 
									 
									 
									 
									 
											
					</tbody>
				</table>

					</div>
		{END grid_recordheader}
												
			<div class="panel-body">					
						
				<table data-location="grid" class="bs-fieldsgrid table">
					<tbody>
				 
									 
												
						<tr class="{$rowclass}">
						 
							{BEGIN cellblock_grid_cell_label}
	<td
	
	{$cell_grid_cell_label}
	{$recordattrs}
	class="
		r-align-right r-ori-vert				{$Nama_class}
			"

			data-field="Nama"
	
	data-cellId="grid_cell_label" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Nama_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field" {$item_simple_grid_field} data-pageid="{$pageid}" data-page="identitas_pasien_masterlist" data-record-id="{$recId}" data-field="Nama">
	{$label identitas_pasien Nama }	</span>
{END Nama_fieldheadercolumn}

	
	</td>
	{END cellblock_grid_cell_label}
						 
							{BEGIN cellblock_grid_cell_field}
	<td
	
	{$cell_grid_cell_field}
	{$recordattrs}
	class="
		 r-ori-vert				{$Nama_class}
			"

			data-field="Nama"
	
	data-cellId="grid_cell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Nama_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field1" {$item_simple_grid_field1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Nama" data-default-width >
{$Nama_value}
</span>
{END Nama_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field}
						 
							{BEGIN cellblock_grid_cell_label1}
	<td
	
	{$cell_grid_cell_label1}
	{$recordattrs}
	class="
		r-align-right r-ori-vert				{$Suku_Ras_class}
			"

			data-field="Suku_Ras"
	
	data-cellId="grid_cell_label1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Suku_Ras_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field14" {$item_simple_grid_field14} data-pageid="{$pageid}" data-page="identitas_pasien_masterlist" data-record-id="{$recId}" data-field="Suku_Ras">
	{$label identitas_pasien Suku_Ras }	</span>
{END Suku_Ras_fieldheadercolumn}

	
	</td>
	{END cellblock_grid_cell_label1}
						 
							{BEGIN cellblock_grid_cell_field1}
	<td
	
	{$cell_grid_cell_field1}
	{$recordattrs}
	class="
		 r-ori-vert				{$Suku_Ras_class}
			"

			data-field="Suku_Ras"
	
	data-cellId="grid_cell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Suku_Ras_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field6" {$item_simple_grid_field6} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Suku_Ras" data-default-width >
{$Suku_Ras_value}
</span>
{END Suku_Ras_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field1}
												</tr>
									 
												
						<tr class="{$rowclass}">
						 
							{BEGIN cellblock_grid_cell_label2}
	<td
	
	{$cell_grid_cell_label2}
	{$recordattrs}
	class="
		r-align-right r-ori-vert				{$Jenis_Kelamin_class}
			"

			data-field="Jenis_Kelamin"
	
	data-cellId="grid_cell_label2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Jenis_Kelamin_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field10" {$item_simple_grid_field10} data-pageid="{$pageid}" data-page="identitas_pasien_masterlist" data-record-id="{$recId}" data-field="Jenis_Kelamin">
	{$label identitas_pasien Jenis_Kelamin }	</span>
{END Jenis_Kelamin_fieldheadercolumn}

	
	</td>
	{END cellblock_grid_cell_label2}
						 
							{BEGIN cellblock_grid_cell_field2}
	<td
	
	{$cell_grid_cell_field2}
	{$recordattrs}
	class="
		 r-ori-vert				{$Jenis_Kelamin_class}
			"

			data-field="Jenis_Kelamin"
	
	data-cellId="grid_cell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Jenis_Kelamin_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field5" {$item_simple_grid_field5} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Jenis_Kelamin" data-default-width >
{$Jenis_Kelamin_value}
</span>
{END Jenis_Kelamin_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field2}
						 
							{BEGIN cellblock_grid_cell_label3}
	<td
	
	{$cell_grid_cell_label3}
	{$recordattrs}
	class="
		r-align-right r-ori-vert				{$Status_Perkawinan_class}
			"

			data-field="Status_Perkawinan"
	
	data-cellId="grid_cell_label3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Status_Perkawinan_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field15" {$item_simple_grid_field15} data-pageid="{$pageid}" data-page="identitas_pasien_masterlist" data-record-id="{$recId}" data-field="Status_Perkawinan">
	{$label identitas_pasien Status_Perkawinan }	</span>
{END Status_Perkawinan_fieldheadercolumn}

	
	</td>
	{END cellblock_grid_cell_label3}
						 
							{BEGIN cellblock_grid_cell_field3}
	<td
	
	{$cell_grid_cell_field3}
	{$recordattrs}
	class="
		 r-ori-vert				{$Status_Perkawinan_class}
			"

			data-field="Status_Perkawinan"
	
	data-cellId="grid_cell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Status_Perkawinan_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field4" {$item_simple_grid_field4} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Status_Perkawinan" data-default-width >
{$Status_Perkawinan_value}
</span>
{END Status_Perkawinan_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field3}
												</tr>
									 
												
						<tr class="{$rowclass}">
						 
							{BEGIN cellblock_grid_cell_label4}
	<td
	
	{$cell_grid_cell_label4}
	{$recordattrs}
	class="
		r-align-right r-ori-vert				{$Umur_class}
			"

			data-field="Umur"
	
	data-cellId="grid_cell_label4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Umur_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field11" {$item_simple_grid_field11} data-pageid="{$pageid}" data-page="identitas_pasien_masterlist" data-record-id="{$recId}" data-field="Umur">
	{$label identitas_pasien Umur }	</span>
{END Umur_fieldheadercolumn}

	
	</td>
	{END cellblock_grid_cell_label4}
						 
							{BEGIN cellblock_grid_cell_field4}
	<td
	
	{$cell_grid_cell_field4}
	{$recordattrs}
	class="
		 r-ori-vert				{$Umur_class}
			"

			data-field="Umur"
	
	data-cellId="grid_cell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Umur_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field3" {$item_simple_grid_field3} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Umur" data-default-width >
{$Umur_value}
</span>
{END Umur_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field4}
						 
							{BEGIN cellblock_grid_cell_label5}
	<td
	
	{$cell_grid_cell_label5}
	{$recordattrs}
	class="
		r-align-right r-ori-vert				{$Tanggal_MRS_class}
			"

			data-field="Tanggal_MRS"
	
	data-cellId="grid_cell_label5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Tanggal_MRS_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field16" {$item_simple_grid_field16} data-pageid="{$pageid}" data-page="identitas_pasien_masterlist" data-record-id="{$recId}" data-field="Tanggal_MRS">
	{$label identitas_pasien Tanggal_MRS }	</span>
{END Tanggal_MRS_fieldheadercolumn}

	
	</td>
	{END cellblock_grid_cell_label5}
						 
							{BEGIN cellblock_grid_cell_field5}
	<td
	
	{$cell_grid_cell_field5}
	{$recordattrs}
	class="
		 r-ori-vert				{$Tanggal_MRS_class}
			"

			data-field="Tanggal_MRS"
	
	data-cellId="grid_cell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Tanggal_MRS_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field9" {$item_simple_grid_field9} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Tanggal_MRS" data-default-width >
{$Tanggal_MRS_value}
</span>
{END Tanggal_MRS_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field5}
												</tr>
									 
												
						<tr class="{$rowclass}">
						 
							{BEGIN cellblock_grid_cell_label6}
	<td
	
	{$cell_grid_cell_label6}
	{$recordattrs}
	class="
		r-align-right r-ori-vert				{$Alamat_class}
			"

			data-field="Alamat"
	
	data-cellId="grid_cell_label6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Alamat_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field12" {$item_simple_grid_field12} data-pageid="{$pageid}" data-page="identitas_pasien_masterlist" data-record-id="{$recId}" data-field="Alamat">
	{$label identitas_pasien Alamat }	</span>
{END Alamat_fieldheadercolumn}

	
	</td>
	{END cellblock_grid_cell_label6}
						 
							{BEGIN cellblock_grid_cell_field6}
	<td
	
	{$cell_grid_cell_field6}
	{$recordattrs}
	class="
		 r-ori-vert				{$Alamat_class}
			"

			data-field="Alamat"
	
	data-cellId="grid_cell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Alamat_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field2" {$item_simple_grid_field2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Alamat" data-default-width >
{$Alamat_value}
</span>
{END Alamat_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field6}
						 
							{BEGIN cellblock_grid_cell_label7}
	<td
	
	{$cell_grid_cell_label7}
	{$recordattrs}
	class="
		r-align-right r-ori-vert				{$Agama_class}
			"

			data-field="Agama"
	
	data-cellId="grid_cell_label7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Agama_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field17" {$item_simple_grid_field17} data-pageid="{$pageid}" data-page="identitas_pasien_masterlist" data-record-id="{$recId}" data-field="Agama">
	{$label identitas_pasien Agama }	</span>
{END Agama_fieldheadercolumn}

	
	</td>
	{END cellblock_grid_cell_label7}
						 
							{BEGIN cellblock_grid_cell_field7}
	<td
	
	{$cell_grid_cell_field7}
	{$recordattrs}
	class="
		 r-ori-vert				{$Agama_class}
			"

			data-field="Agama"
	
	data-cellId="grid_cell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Agama_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field7" {$item_simple_grid_field7} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Agama" data-default-width >
{$Agama_value}
</span>
{END Agama_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field7}
												</tr>
									 
												
						<tr class="{$rowclass}">
						 
							{BEGIN cellblock_grid_cell_label8}
	<td
	
	{$cell_grid_cell_label8}
	{$recordattrs}
	class="
		r-align-right r-ori-vert				{$Pekerjaan_class}
			"

			data-field="Pekerjaan"
	
	data-cellId="grid_cell_label8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Pekerjaan_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field13" {$item_simple_grid_field13} data-pageid="{$pageid}" data-page="identitas_pasien_masterlist" data-record-id="{$recId}" data-field="Pekerjaan">
	{$label identitas_pasien Pekerjaan }	</span>
{END Pekerjaan_fieldheadercolumn}

	
	</td>
	{END cellblock_grid_cell_label8}
						 
							{BEGIN cellblock_grid_cell_field8}
	<td
	
	{$cell_grid_cell_field8}
	{$recordattrs}
	class="
		 r-ori-vert				{$Pekerjaan_class}
			"

			data-field="Pekerjaan"
	
	data-cellId="grid_cell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Pekerjaan_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field8" {$item_simple_grid_field8} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Pekerjaan" data-default-width >
{$Pekerjaan_value}
</span>
{END Pekerjaan_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field8}
						 
							{BEGIN cellblock_grid_cell_label9}
	<td
	
	{$cell_grid_cell_label9}
	{$recordattrs}
	class="
		r-align-right r-ori-vert				{$Id_Pasien_class}
			"

			data-field="Id_Pasien"
	
	data-cellId="grid_cell_label9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Id_Pasien_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="grid_field_label" {$item_grid_field_label} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Id_Pasien">
	{$label identitas_pasien Id_Pasien }	</span>
{END Id_Pasien_fieldheadercolumn}

	
	</td>
	{END cellblock_grid_cell_label9}
						 
							{BEGIN cellblock_grid_cell_field9}
	<td
	
	{$cell_grid_cell_field9}
	{$recordattrs}
	class="
		 r-ori-vert				{$Id_Pasien_class}
			"

			data-field="Id_Pasien"
	
	data-cellId="grid_cell_field9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Id_Pasien_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field" {$item_grid_field} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Id_Pasien" data-default-width >
{$Id_Pasien_value}
</span>
{END Id_Pasien_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field9}
												</tr>
									 
											
					</tbody>
				</table>

				
			</div>				
									
		</div>
		{END grid_vrecord}
	{END grid_record}
	</div>

<div style="clear: both;"></div>
 
	{BEGIN grid_record}
			{END grid_record}


{END grid_row}
</div>			
{END grid_block}
								</div>
</div>
