<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel interna1 search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN keluhan_pertama_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_keluhan_pertama}  r-horizontal-field form-horizontal" 
	
		data-fieldname="keluhan_pertama" 
	
	data-signal-error-for="keluhan_pertama{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="keluhan_pertama" >


	<label class="r-search-label control-label" for="{$labelfor_keluhan_pertama}">
		{$label interna1 keluhan_pertama }	</label>
	<div class="r-search-option">
		{$searchtype_keluhan_pertama}
	</div>
	<div class="r-search-field">
		{$keluhan_pertama_editcontrol}	</div>
	<div class="r-search-field">
		{$keluhan_pertama_editcontrol1}
	</div>
	
</div>

{END keluhan_pertama_fieldblock}
											
{BEGIN keluhan_tmbhan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_keluhan_tmbhan}  r-horizontal-field form-horizontal" 
	
		data-fieldname="keluhan_tmbhan" 
	
	data-signal-error-for="keluhan_tmbhan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="keluhan_tmbhan" >


	<label class="r-search-label control-label" for="{$labelfor_keluhan_tmbhan}">
		{$label interna1 keluhan_tmbhan }	</label>
	<div class="r-search-option">
		{$searchtype_keluhan_tmbhan}
	</div>
	<div class="r-search-field">
		{$keluhan_tmbhan_editcontrol}	</div>
	<div class="r-search-field">
		{$keluhan_tmbhan_editcontrol1}
	</div>
	
</div>

{END keluhan_tmbhan_fieldblock}
											
{BEGIN rwyt_skrg_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_rwyt_skrg}  r-horizontal-field form-horizontal" 
	
		data-fieldname="rwyt_skrg" 
	
	data-signal-error-for="rwyt_skrg{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="rwyt_skrg" >


	<label class="r-search-label control-label" for="{$labelfor_rwyt_skrg}">
		{$label interna1 rwyt_skrg }	</label>
	<div class="r-search-option">
		{$searchtype_rwyt_skrg}
	</div>
	<div class="r-search-field">
		{$rwyt_skrg_editcontrol}	</div>
	<div class="r-search-field">
		{$rwyt_skrg_editcontrol1}
	</div>
	
</div>

{END rwyt_skrg_fieldblock}
											
{BEGIN rwyt_dulu_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_rwyt_dulu}  r-horizontal-field form-horizontal" 
	
		data-fieldname="rwyt_dulu" 
	
	data-signal-error-for="rwyt_dulu{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="rwyt_dulu" >


	<label class="r-search-label control-label" for="{$labelfor_rwyt_dulu}">
		{$label interna1 rwyt_dulu }	</label>
	<div class="r-search-option">
		{$searchtype_rwyt_dulu}
	</div>
	<div class="r-search-field">
		{$rwyt_dulu_editcontrol}	</div>
	<div class="r-search-field">
		{$rwyt_dulu_editcontrol1}
	</div>
	
</div>

{END rwyt_dulu_fieldblock}
											
{BEGIN rwyt_klg_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_rwyt_klg}  r-horizontal-field form-horizontal" 
	
		data-fieldname="rwyt_klg" 
	
	data-signal-error-for="rwyt_klg{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="rwyt_klg" >


	<label class="r-search-label control-label" for="{$labelfor_rwyt_klg}">
		{$label interna1 rwyt_klg }	</label>
	<div class="r-search-option">
		{$searchtype_rwyt_klg}
	</div>
	<div class="r-search-field">
		{$rwyt_klg_editcontrol}	</div>
	<div class="r-search-field">
		{$rwyt_klg_editcontrol1}
	</div>
	
</div>

{END rwyt_klg_fieldblock}
											
{BEGIN rwyt_alergi_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_rwyt_alergi}  r-horizontal-field form-horizontal" 
	
		data-fieldname="rwyt_alergi" 
	
	data-signal-error-for="rwyt_alergi{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="rwyt_alergi" >


	<label class="r-search-label control-label" for="{$labelfor_rwyt_alergi}">
		{$label interna1 rwyt_alergi }	</label>
	<div class="r-search-option">
		{$searchtype_rwyt_alergi}
	</div>
	<div class="r-search-field">
		{$rwyt_alergi_editcontrol}	</div>
	<div class="r-search-field">
		{$rwyt_alergi_editcontrol1}
	</div>
	
</div>

{END rwyt_alergi_fieldblock}
											
{BEGIN rwyt_pengobatan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_rwyt_pengobatan}  r-horizontal-field form-horizontal" 
	
		data-fieldname="rwyt_pengobatan" 
	
	data-signal-error-for="rwyt_pengobatan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="rwyt_pengobatan" >


	<label class="r-search-label control-label" for="{$labelfor_rwyt_pengobatan}">
		{$label interna1 rwyt_pengobatan }	</label>
	<div class="r-search-option">
		{$searchtype_rwyt_pengobatan}
	</div>
	<div class="r-search-field">
		{$rwyt_pengobatan_editcontrol}	</div>
	<div class="r-search-field">
		{$rwyt_pengobatan_editcontrol1}
	</div>
	
</div>

{END rwyt_pengobatan_fieldblock}
											
{BEGIN rwyt_kebiasaan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_rwyt_kebiasaan}  r-horizontal-field form-horizontal" 
	
		data-fieldname="rwyt_kebiasaan" 
	
	data-signal-error-for="rwyt_kebiasaan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="rwyt_kebiasaan" >


	<label class="r-search-label control-label" for="{$labelfor_rwyt_kebiasaan}">
		{$label interna1 rwyt_kebiasaan }	</label>
	<div class="r-search-option">
		{$searchtype_rwyt_kebiasaan}
	</div>
	<div class="r-search-field">
		{$rwyt_kebiasaan_editcontrol}	</div>
	<div class="r-search-field">
		{$rwyt_kebiasaan_editcontrol1}
	</div>
	
</div>

{END rwyt_kebiasaan_fieldblock}
											
{BEGIN rwyt_sos_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_rwyt_sos}  r-horizontal-field form-horizontal" 
	
		data-fieldname="rwyt_sos" 
	
	data-signal-error-for="rwyt_sos{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="rwyt_sos" >


	<label class="r-search-label control-label" for="{$labelfor_rwyt_sos}">
		{$label interna1 rwyt_sos }	</label>
	<div class="r-search-option">
		{$searchtype_rwyt_sos}
	</div>
	<div class="r-search-field">
		{$rwyt_sos_editcontrol}	</div>
	<div class="r-search-field">
		{$rwyt_sos_editcontrol1}
	</div>
	
</div>

{END rwyt_sos_fieldblock}
											
{BEGIN kepala_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_kepala}  r-horizontal-field form-horizontal" 
	
		data-fieldname="kepala" 
	
	data-signal-error-for="kepala{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field28" {$item_integrated_search_field28} data-pageid="{$pageid}" data-field="kepala" >


	<label class="r-search-label control-label" for="{$labelfor_kepala}">
		{$label interna1 kepala }	</label>
	<div class="r-search-option">
		{$searchtype_kepala}
	</div>
	<div class="r-search-field">
		{$kepala_editcontrol}	</div>
	<div class="r-search-field">
		{$kepala_editcontrol1}
	</div>
	
</div>

{END kepala_fieldblock}
											
{BEGIN leher_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_leher}  r-horizontal-field form-horizontal" 
	
		data-fieldname="leher" 
	
	data-signal-error-for="leher{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field29" {$item_integrated_search_field29} data-pageid="{$pageid}" data-field="leher" >


	<label class="r-search-label control-label" for="{$labelfor_leher}">
		{$label interna1 leher }	</label>
	<div class="r-search-option">
		{$searchtype_leher}
	</div>
	<div class="r-search-field">
		{$leher_editcontrol}	</div>
	<div class="r-search-field">
		{$leher_editcontrol1}
	</div>
	
</div>

{END leher_fieldblock}
											
{BEGIN thorax_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_thorax}  r-horizontal-field form-horizontal" 
	
		data-fieldname="thorax" 
	
	data-signal-error-for="thorax{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field30" {$item_integrated_search_field30} data-pageid="{$pageid}" data-field="thorax" >


	<label class="r-search-label control-label" for="{$labelfor_thorax}">
		{$label interna1 thorax }	</label>
	<div class="r-search-option">
		{$searchtype_thorax}
	</div>
	<div class="r-search-field">
		{$thorax_editcontrol}	</div>
	<div class="r-search-field">
		{$thorax_editcontrol1}
	</div>
	
</div>

{END thorax_fieldblock}
											
{BEGIN abdomen_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_abdomen}  r-horizontal-field form-horizontal" 
	
		data-fieldname="abdomen" 
	
	data-signal-error-for="abdomen{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field31" {$item_integrated_search_field31} data-pageid="{$pageid}" data-field="abdomen" >


	<label class="r-search-label control-label" for="{$labelfor_abdomen}">
		{$label interna1 abdomen }	</label>
	<div class="r-search-option">
		{$searchtype_abdomen}
	</div>
	<div class="r-search-field">
		{$abdomen_editcontrol}	</div>
	<div class="r-search-field">
		{$abdomen_editcontrol1}
	</div>
	
</div>

{END abdomen_fieldblock}
											
{BEGIN ekstremitas_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ekstremitas}  r-horizontal-field form-horizontal" 
	
		data-fieldname="ekstremitas" 
	
	data-signal-error-for="ekstremitas{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field32" {$item_integrated_search_field32} data-pageid="{$pageid}" data-field="ekstremitas" >


	<label class="r-search-label control-label" for="{$labelfor_ekstremitas}">
		{$label interna1 ekstremitas }	</label>
	<div class="r-search-option">
		{$searchtype_ekstremitas}
	</div>
	<div class="r-search-field">
		{$ekstremitas_editcontrol}	</div>
	<div class="r-search-field">
		{$ekstremitas_editcontrol1}
	</div>
	
</div>

{END ekstremitas_fieldblock}
											
{BEGIN id_mhs_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_mhs}  r-horizontal-field form-horizontal" 
	
		data-fieldname="id_mhs" 
	
	data-signal-error-for="id_mhs{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field45" {$item_integrated_search_field45} data-pageid="{$pageid}" data-field="id_mhs" >


	<label class="r-search-label control-label" for="{$labelfor_id_mhs}">
		{$label interna1 id_mhs }	</label>
	<div class="r-search-option">
		{$searchtype_id_mhs}
	</div>
	<div class="r-search-field">
		{$id_mhs_editcontrol}	</div>
	<div class="r-search-field">
		{$id_mhs_editcontrol1}
	</div>
	
</div>

{END id_mhs_fieldblock}
											
{BEGIN id_pasien_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_pasien}  r-horizontal-field form-horizontal" 
	
		data-fieldname="id_pasien" 
	
	data-signal-error-for="id_pasien{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field46" {$item_integrated_search_field46} data-pageid="{$pageid}" data-field="id_pasien" >


	<label class="r-search-label control-label" for="{$labelfor_id_pasien}">
		{$label interna1 id_pasien }	</label>
	<div class="r-search-option">
		{$searchtype_id_pasien}
	</div>
	<div class="r-search-field">
		{$id_pasien_editcontrol}	</div>
	<div class="r-search-field">
		{$id_pasien_editcontrol1}
	</div>
	
</div>

{END id_pasien_fieldblock}
											
{BEGIN id_interna_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_interna}  r-horizontal-field form-horizontal" 
	
		data-fieldname="id_interna" 
	
	data-signal-error-for="id_interna{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="id_interna" >


	<label class="r-search-label control-label" for="{$labelfor_id_interna}">
		{$label interna1 id_interna }	</label>
	<div class="r-search-option">
		{$searchtype_id_interna}
	</div>
	<div class="r-search-field">
		{$id_interna_editcontrol}	</div>
	<div class="r-search-field">
		{$id_interna_editcontrol1}
	</div>
	
</div>

{END id_interna_fieldblock}
											
{BEGIN pem_umum_ku_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_pem_umum_ku}  r-horizontal-field form-horizontal" 
	
		data-fieldname="pem_umum_ku" 
	
	data-signal-error-for="pem_umum_ku{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="pem_umum_ku" >


	<label class="r-search-label control-label" for="{$labelfor_pem_umum_ku}">
		{$label interna1 pem_umum_ku }	</label>
	<div class="r-search-option">
		{$searchtype_pem_umum_ku}
	</div>
	<div class="r-search-field">
		{$pem_umum_ku_editcontrol}	</div>
	<div class="r-search-field">
		{$pem_umum_ku_editcontrol1}
	</div>
	
</div>

{END pem_umum_ku_fieldblock}
											
{BEGIN pem_umum_tb_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_pem_umum_tb}  r-horizontal-field form-horizontal" 
	
		data-fieldname="pem_umum_tb" 
	
	data-signal-error-for="pem_umum_tb{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="pem_umum_tb" >


	<label class="r-search-label control-label" for="{$labelfor_pem_umum_tb}">
		{$label interna1 pem_umum_tb }	</label>
	<div class="r-search-option">
		{$searchtype_pem_umum_tb}
	</div>
	<div class="r-search-field">
		{$pem_umum_tb_editcontrol}	</div>
	<div class="r-search-field">
		{$pem_umum_tb_editcontrol1}
	</div>
	
</div>

{END pem_umum_tb_fieldblock}
											
{BEGIN pem_umum_bb_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_pem_umum_bb}  r-horizontal-field form-horizontal" 
	
		data-fieldname="pem_umum_bb" 
	
	data-signal-error-for="pem_umum_bb{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="pem_umum_bb" >


	<label class="r-search-label control-label" for="{$labelfor_pem_umum_bb}">
		{$label interna1 pem_umum_bb }	</label>
	<div class="r-search-option">
		{$searchtype_pem_umum_bb}
	</div>
	<div class="r-search-field">
		{$pem_umum_bb_editcontrol}	</div>
	<div class="r-search-field">
		{$pem_umum_bb_editcontrol1}
	</div>
	
</div>

{END pem_umum_bb_fieldblock}
											
{BEGIN pem_umum_imt_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_pem_umum_imt}  r-horizontal-field form-horizontal" 
	
		data-fieldname="pem_umum_imt" 
	
	data-signal-error-for="pem_umum_imt{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="pem_umum_imt" >


	<label class="r-search-label control-label" for="{$labelfor_pem_umum_imt}">
		{$label interna1 pem_umum_imt }	</label>
	<div class="r-search-option">
		{$searchtype_pem_umum_imt}
	</div>
	<div class="r-search-field">
		{$pem_umum_imt_editcontrol}	</div>
	<div class="r-search-field">
		{$pem_umum_imt_editcontrol1}
	</div>
	
</div>

{END pem_umum_imt_fieldblock}
											
{BEGIN tanda_vital_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_tanda_vital}  r-horizontal-field form-horizontal" 
	
		data-fieldname="tanda_vital" 
	
	data-signal-error-for="tanda_vital{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="tanda_vital" >


	<label class="r-search-label control-label" for="{$labelfor_tanda_vital}">
		{$label interna1 tanda_vital }	</label>
	<div class="r-search-option">
		{$searchtype_tanda_vital}
	</div>
	<div class="r-search-field">
		{$tanda_vital_editcontrol}	</div>
	<div class="r-search-field">
		{$tanda_vital_editcontrol1}
	</div>
	
</div>

{END tanda_vital_fieldblock}
											
{BEGIN pmrksaan_pnunjang_lab_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_pmrksaan_pnunjang_lab}  r-horizontal-field form-horizontal" 
	
		data-fieldname="pmrksaan_pnunjang_lab" 
	
	data-signal-error-for="pmrksaan_pnunjang_lab{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="pmrksaan_pnunjang_lab" >


	<label class="r-search-label control-label" for="{$labelfor_pmrksaan_pnunjang_lab}">
		{$label interna1 pmrksaan_pnunjang_lab }	</label>
	<div class="r-search-option">
		{$searchtype_pmrksaan_pnunjang_lab}
	</div>
	<div class="r-search-field">
		{$pmrksaan_pnunjang_lab_editcontrol}	</div>
	<div class="r-search-field">
		{$pmrksaan_pnunjang_lab_editcontrol1}
	</div>
	
</div>

{END pmrksaan_pnunjang_lab_fieldblock}
											
{BEGIN pmrksaan_pnunjang_radiologi_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_pmrksaan_pnunjang_radiologi}  r-horizontal-field form-horizontal" 
	
		data-fieldname="pmrksaan_pnunjang_radiologi" 
	
	data-signal-error-for="pmrksaan_pnunjang_radiologi{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="pmrksaan_pnunjang_radiologi" >


	<label class="r-search-label control-label" for="{$labelfor_pmrksaan_pnunjang_radiologi}">
		{$label interna1 pmrksaan_pnunjang_radiologi }	</label>
	<div class="r-search-option">
		{$searchtype_pmrksaan_pnunjang_radiologi}
	</div>
	<div class="r-search-field">
		{$pmrksaan_pnunjang_radiologi_editcontrol}	</div>
	<div class="r-search-field">
		{$pmrksaan_pnunjang_radiologi_editcontrol1}
	</div>
	
</div>

{END pmrksaan_pnunjang_radiologi_fieldblock}
											
{BEGIN pmrksaan_pnunjang_lain_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_pmrksaan_pnunjang_lain}  r-horizontal-field form-horizontal" 
	
		data-fieldname="pmrksaan_pnunjang_lain" 
	
	data-signal-error-for="pmrksaan_pnunjang_lain{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="pmrksaan_pnunjang_lain" >


	<label class="r-search-label control-label" for="{$labelfor_pmrksaan_pnunjang_lain}">
		{$label interna1 pmrksaan_pnunjang_lain }	</label>
	<div class="r-search-option">
		{$searchtype_pmrksaan_pnunjang_lain}
	</div>
	<div class="r-search-field">
		{$pmrksaan_pnunjang_lain_editcontrol}	</div>
	<div class="r-search-field">
		{$pmrksaan_pnunjang_lain_editcontrol1}
	</div>
	
</div>

{END pmrksaan_pnunjang_lain_fieldblock}
											
{BEGIN Nomor_Rm_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Nomor_Rm}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Nomor_Rm" 
	
	data-signal-error-for="Nomor_Rm{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="Nomor_Rm" >


	<label class="r-search-label control-label" for="{$labelfor_Nomor_Rm}">
		{$label interna1 Nomor_Rm }	</label>
	<div class="r-search-option">
		{$searchtype_Nomor_Rm}
	</div>
	<div class="r-search-field">
		{$Nomor_Rm_editcontrol}	</div>
	<div class="r-search-field">
		{$Nomor_Rm_editcontrol1}
	</div>
	
</div>

{END Nomor_Rm_fieldblock}
											
{BEGIN id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id}  r-horizontal-field form-horizontal" 
	
		data-fieldname="id" 
	
	data-signal-error-for="id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="id" >


	<label class="r-search-label control-label" for="{$labelfor_id}">
		{$label interna1 id }	</label>
	<div class="r-search-option">
		{$searchtype_id}
	</div>
	<div class="r-search-field">
		{$id_editcontrol}	</div>
	<div class="r-search-field">
		{$id_editcontrol1}
	</div>
	
</div>

{END id_fieldblock}
											
{BEGIN name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_name}  r-horizontal-field form-horizontal" 
	
		data-fieldname="name" 
	
	data-signal-error-for="name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field20" {$item_integrated_search_field20} data-pageid="{$pageid}" data-field="name" >


	<label class="r-search-label control-label" for="{$labelfor_name}">
		{$label interna1 name }	</label>
	<div class="r-search-option">
		{$searchtype_name}
	</div>
	<div class="r-search-field">
		{$name_editcontrol}	</div>
	<div class="r-search-field">
		{$name_editcontrol1}
	</div>
	
</div>

{END name_fieldblock}
											
{BEGIN username_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_username}  r-horizontal-field form-horizontal" 
	
		data-fieldname="username" 
	
	data-signal-error-for="username{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field21" {$item_integrated_search_field21} data-pageid="{$pageid}" data-field="username" >


	<label class="r-search-label control-label" for="{$labelfor_username}">
		{$label interna1 username }	</label>
	<div class="r-search-option">
		{$searchtype_username}
	</div>
	<div class="r-search-field">
		{$username_editcontrol}	</div>
	<div class="r-search-field">
		{$username_editcontrol1}
	</div>
	
</div>

{END username_fieldblock}
											
{BEGIN email_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_email}  r-horizontal-field form-horizontal" 
	
		data-fieldname="email" 
	
	data-signal-error-for="email{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field22" {$item_integrated_search_field22} data-pageid="{$pageid}" data-field="email" >


	<label class="r-search-label control-label" for="{$labelfor_email}">
		{$label interna1 email }	</label>
	<div class="r-search-option">
		{$searchtype_email}
	</div>
	<div class="r-search-field">
		{$email_editcontrol}	</div>
	<div class="r-search-field">
		{$email_editcontrol1}
	</div>
	
</div>

{END email_fieldblock}
											
{BEGIN Id_Pasien1_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Id_Pasien1}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Id_Pasien1" 
	
	data-signal-error-for="Id_Pasien1{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field23" {$item_integrated_search_field23} data-pageid="{$pageid}" data-field="Id_Pasien1" >


	<label class="r-search-label control-label" for="{$labelfor_Id_Pasien1}">
		{$label interna1 Id_Pasien1 }	</label>
	<div class="r-search-option">
		{$searchtype_Id_Pasien1}
	</div>
	<div class="r-search-field">
		{$Id_Pasien1_editcontrol}	</div>
	<div class="r-search-field">
		{$Id_Pasien1_editcontrol1}
	</div>
	
</div>

{END Id_Pasien1_fieldblock}
											
{BEGIN Nama_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Nama}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Nama" 
	
	data-signal-error-for="Nama{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field24" {$item_integrated_search_field24} data-pageid="{$pageid}" data-field="Nama" >


	<label class="r-search-label control-label" for="{$labelfor_Nama}">
		{$label interna1 Nama }	</label>
	<div class="r-search-option">
		{$searchtype_Nama}
	</div>
	<div class="r-search-field">
		{$Nama_editcontrol}	</div>
	<div class="r-search-field">
		{$Nama_editcontrol1}
	</div>
	
</div>

{END Nama_fieldblock}
											
{BEGIN Alamat_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Alamat}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Alamat" 
	
	data-signal-error-for="Alamat{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field25" {$item_integrated_search_field25} data-pageid="{$pageid}" data-field="Alamat" >


	<label class="r-search-label control-label" for="{$labelfor_Alamat}">
		{$label interna1 Alamat }	</label>
	<div class="r-search-option">
		{$searchtype_Alamat}
	</div>
	<div class="r-search-field">
		{$Alamat_editcontrol}	</div>
	<div class="r-search-field">
		{$Alamat_editcontrol1}
	</div>
	
</div>

{END Alamat_fieldblock}
											
{BEGIN Umur_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Umur}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Umur" 
	
	data-signal-error-for="Umur{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field26" {$item_integrated_search_field26} data-pageid="{$pageid}" data-field="Umur" >


	<label class="r-search-label control-label" for="{$labelfor_Umur}">
		{$label interna1 Umur }	</label>
	<div class="r-search-option">
		{$searchtype_Umur}
	</div>
	<div class="r-search-field">
		{$Umur_editcontrol}	</div>
	<div class="r-search-field">
		{$Umur_editcontrol1}
	</div>
	
</div>

{END Umur_fieldblock}
											
{BEGIN Status_Perkawinan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Status_Perkawinan}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Status_Perkawinan" 
	
	data-signal-error-for="Status_Perkawinan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field27" {$item_integrated_search_field27} data-pageid="{$pageid}" data-field="Status_Perkawinan" >


	<label class="r-search-label control-label" for="{$labelfor_Status_Perkawinan}">
		{$label interna1 Status_Perkawinan }	</label>
	<div class="r-search-option">
		{$searchtype_Status_Perkawinan}
	</div>
	<div class="r-search-field">
		{$Status_Perkawinan_editcontrol}	</div>
	<div class="r-search-field">
		{$Status_Perkawinan_editcontrol1}
	</div>
	
</div>

{END Status_Perkawinan_fieldblock}
											
{BEGIN Jenis_Kelamin_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Jenis_Kelamin}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Jenis Kelamin" 
	
	data-signal-error-for="Jenis_Kelamin{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field33" {$item_integrated_search_field33} data-pageid="{$pageid}" data-field="Jenis_Kelamin" >


	<label class="r-search-label control-label" for="{$labelfor_Jenis_Kelamin}">
		{$label interna1 Jenis_Kelamin }	</label>
	<div class="r-search-option">
		{$searchtype_Jenis_Kelamin}
	</div>
	<div class="r-search-field">
		{$Jenis_Kelamin_editcontrol}	</div>
	<div class="r-search-field">
		{$Jenis_Kelamin_editcontrol1}
	</div>
	
</div>

{END Jenis_Kelamin_fieldblock}
											
{BEGIN Suku_Ras_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Suku_Ras}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Suku_Ras" 
	
	data-signal-error-for="Suku_Ras{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field34" {$item_integrated_search_field34} data-pageid="{$pageid}" data-field="Suku_Ras" >


	<label class="r-search-label control-label" for="{$labelfor_Suku_Ras}">
		{$label interna1 Suku_Ras }	</label>
	<div class="r-search-option">
		{$searchtype_Suku_Ras}
	</div>
	<div class="r-search-field">
		{$Suku_Ras_editcontrol}	</div>
	<div class="r-search-field">
		{$Suku_Ras_editcontrol1}
	</div>
	
</div>

{END Suku_Ras_fieldblock}
											
{BEGIN Agama_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Agama}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Agama" 
	
	data-signal-error-for="Agama{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field35" {$item_integrated_search_field35} data-pageid="{$pageid}" data-field="Agama" >


	<label class="r-search-label control-label" for="{$labelfor_Agama}">
		{$label interna1 Agama }	</label>
	<div class="r-search-option">
		{$searchtype_Agama}
	</div>
	<div class="r-search-field">
		{$Agama_editcontrol}	</div>
	<div class="r-search-field">
		{$Agama_editcontrol1}
	</div>
	
</div>

{END Agama_fieldblock}
											
{BEGIN Kerja_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Kerja}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Kerja" 
	
	data-signal-error-for="Kerja{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field36" {$item_integrated_search_field36} data-pageid="{$pageid}" data-field="Kerja" >


	<label class="r-search-label control-label" for="{$labelfor_Kerja}">
		{$label interna1 Kerja }	</label>
	<div class="r-search-option">
		{$searchtype_Kerja}
	</div>
	<div class="r-search-field">
		{$Kerja_editcontrol}	</div>
	<div class="r-search-field">
		{$Kerja_editcontrol1}
	</div>
	
</div>

{END Kerja_fieldblock}
											
{BEGIN Tanggal_MRS_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Tanggal_MRS}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Tanggal_MRS" 
	
	data-signal-error-for="Tanggal_MRS{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field37" {$item_integrated_search_field37} data-pageid="{$pageid}" data-field="Tanggal_MRS" >


	<label class="r-search-label control-label" for="{$labelfor_Tanggal_MRS}">
		{$label interna1 Tanggal_MRS }	</label>
	<div class="r-search-option">
		{$searchtype_Tanggal_MRS}
	</div>
	<div class="r-search-field">
		{$Tanggal_MRS_editcontrol}	</div>
	<div class="r-search-field">
		{$Tanggal_MRS_editcontrol1}
	</div>
	
</div>

{END Tanggal_MRS_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Search			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reset			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancel			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
