<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-list" {$bodyattrs}>
	{BEGIN body}
		<style>
		{$containerCss}
		</style>
		<div class="r-vbar-page">
			<div data-width="" data-fixed class="r-left clearfix {$leftbar_class}" >
								<div data-location="left" id="form_left_{$pageid}" data-makeup="leftbar" {$form_left} data-pageid="{$pageid}">
{BEGIN left_block}
 
     
         

			<div data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell class="clearfix " data-itemid="logo1" {$item_logo1}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo1" {$item_logo1} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</div>
		
 

			<div class="clearfix " data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell data-itemid="expand_button" {$item_expand_button} data-topcell-item-type="expand_button" >
				<span data-itemtype="expand_button" data-itemid="expand_button" {$item_expand_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Expand" class="btn btn-link   
	" href="#" >
					<span class="glyphicon glyphicon-triangle-right"></span>
										</a>
</span>
			</div>
		
     
     
         

			<div data-cellId="left_c1" data-pageid="{$pageid}" class="clearfix  r-ori-vert " data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{$menu main}			</div>
		
 

			<div class="clearfix  r-ori-vert" data-cellId="left_c1" data-pageid="{$pageid}" data-itemid="search_panel" {$item_search_panel} data-topcell-item-type="search_panel" >
				<!-- Begin Search panel content -->
<div class="searchOptions panel panel-primary searchPanelContainer " {$srchOpt_attrs} data-itemtype="search_panel" data-itemid="search_panel" {$item_search_panel} data-pageid="{$pageid}" >

	<div class="panel-heading">
		<div class="btn-group" id="addSearchFieldButton{$id}">
			<button id="showHideControlChooseMenu{$id}" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Search in			<span class="caret"></span>
			</button>
		</div>


		<div class="btn-group searchpanel-options" id="searchPanelOptions{$id}">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon glyphicon-option-vertical"></span>
			</button>
			<ul class="dropdown-menu dropdown-left">
				<li id="showHideSearchType{$id}" {$showHideCtrlsOpt_attrs}><a>Show options</a></li>
				<li role="separator" class="divider"></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAll" {$all_checkbox}><label for="radioAll"><span class="glyphicon">&nbsp;</span>all conditions</label></a></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAny" {$any_checkbox}><label for="radioAny"><span class="glyphicon">&nbsp;</span>any condition</label></a></li>
				<li role="separator" class="divider"></li>
				<li><a class="close-button"><span class="glyphicon glyphicon-remove">&nbsp;</span>hide</a></li>
			</ul>
		</div>


		</div>
	<div class="panel-body controlsBlock" {$bottomSearchButt_attrs} >


		
		{BEGIN searchCtrlBlock}
		<div class="srchPanelRow form-group" {$filterRow_attrs}>
			<label>{$fLabel}</label>	{$delCtrlButt}
				<span class="rnr-searchtype">{$searchtype}</span>
				<span class="rnr-searchcontrol">{$searchcontrol}</span>
				<span class="rnr-searchcontrol">{$searchcontrol1}</span>
		</div>
		{END searchCtrlBlock}
																		{BEGIN searchCtrlBlock_abdomen}


		<div class="form-group srchPanelRow {$filterRow_class_abdomen}" {$filterRow_attrs_abdomen}>
			<label>{$label interna abdomen }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_abdomen}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_abdomen}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_abdomen}</span>
						</div>
		{END searchCtrlBlock_abdomen}
																{BEGIN searchCtrlBlock_Nomor_Rm}


		<div class="form-group srchPanelRow {$filterRow_class_Nomor_Rm}" {$filterRow_attrs_Nomor_Rm}>
			<label>{$label interna Nomor_Rm }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Nomor_Rm}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Nomor_Rm}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Nomor_Rm}</span>
						</div>
		{END searchCtrlBlock_Nomor_Rm}
																{BEGIN searchCtrlBlock_thorax}


		<div class="form-group srchPanelRow {$filterRow_class_thorax}" {$filterRow_attrs_thorax}>
			<label>{$label interna thorax }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_thorax}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_thorax}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_thorax}</span>
						</div>
		{END searchCtrlBlock_thorax}
																{BEGIN searchCtrlBlock_tanda_vital}


		<div class="form-group srchPanelRow {$filterRow_class_tanda_vital}" {$filterRow_attrs_tanda_vital}>
			<label>{$label interna tanda_vital }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_tanda_vital}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_tanda_vital}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_tanda_vital}</span>
						</div>
		{END searchCtrlBlock_tanda_vital}
																{BEGIN searchCtrlBlock_rwyt_sos}


		<div class="form-group srchPanelRow {$filterRow_class_rwyt_sos}" {$filterRow_attrs_rwyt_sos}>
			<label>{$label interna rwyt_sos }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_rwyt_sos}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_rwyt_sos}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_rwyt_sos}</span>
						</div>
		{END searchCtrlBlock_rwyt_sos}
																{BEGIN searchCtrlBlock_rwyt_skrg}


		<div class="form-group srchPanelRow {$filterRow_class_rwyt_skrg}" {$filterRow_attrs_rwyt_skrg}>
			<label>{$label interna rwyt_skrg }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_rwyt_skrg}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_rwyt_skrg}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_rwyt_skrg}</span>
						</div>
		{END searchCtrlBlock_rwyt_skrg}
																{BEGIN searchCtrlBlock_rwyt_pengobatan}


		<div class="form-group srchPanelRow {$filterRow_class_rwyt_pengobatan}" {$filterRow_attrs_rwyt_pengobatan}>
			<label>{$label interna rwyt_pengobatan }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_rwyt_pengobatan}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_rwyt_pengobatan}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_rwyt_pengobatan}</span>
						</div>
		{END searchCtrlBlock_rwyt_pengobatan}
																{BEGIN searchCtrlBlock_rwyt_klg}


		<div class="form-group srchPanelRow {$filterRow_class_rwyt_klg}" {$filterRow_attrs_rwyt_klg}>
			<label>{$label interna rwyt_klg }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_rwyt_klg}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_rwyt_klg}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_rwyt_klg}</span>
						</div>
		{END searchCtrlBlock_rwyt_klg}
																{BEGIN searchCtrlBlock_rwyt_kebiasaan}


		<div class="form-group srchPanelRow {$filterRow_class_rwyt_kebiasaan}" {$filterRow_attrs_rwyt_kebiasaan}>
			<label>{$label interna rwyt_kebiasaan }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_rwyt_kebiasaan}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_rwyt_kebiasaan}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_rwyt_kebiasaan}</span>
						</div>
		{END searchCtrlBlock_rwyt_kebiasaan}
																{BEGIN searchCtrlBlock_rwyt_dulu}


		<div class="form-group srchPanelRow {$filterRow_class_rwyt_dulu}" {$filterRow_attrs_rwyt_dulu}>
			<label>{$label interna rwyt_dulu }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_rwyt_dulu}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_rwyt_dulu}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_rwyt_dulu}</span>
						</div>
		{END searchCtrlBlock_rwyt_dulu}
																{BEGIN searchCtrlBlock_rwyt_alergi}


		<div class="form-group srchPanelRow {$filterRow_class_rwyt_alergi}" {$filterRow_attrs_rwyt_alergi}>
			<label>{$label interna rwyt_alergi }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_rwyt_alergi}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_rwyt_alergi}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_rwyt_alergi}</span>
						</div>
		{END searchCtrlBlock_rwyt_alergi}
																{BEGIN searchCtrlBlock_pmrksaan_pnunjang_radiologi}


		<div class="form-group srchPanelRow {$filterRow_class_pmrksaan_pnunjang_radiologi}" {$filterRow_attrs_pmrksaan_pnunjang_radiologi}>
			<label>{$label interna pmrksaan_pnunjang_radiologi }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_pmrksaan_pnunjang_radiologi}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_pmrksaan_pnunjang_radiologi}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_pmrksaan_pnunjang_radiologi}</span>
						</div>
		{END searchCtrlBlock_pmrksaan_pnunjang_radiologi}
																{BEGIN searchCtrlBlock_pmrksaan_pnunjang_lain}


		<div class="form-group srchPanelRow {$filterRow_class_pmrksaan_pnunjang_lain}" {$filterRow_attrs_pmrksaan_pnunjang_lain}>
			<label>{$label interna pmrksaan_pnunjang_lain }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_pmrksaan_pnunjang_lain}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_pmrksaan_pnunjang_lain}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_pmrksaan_pnunjang_lain}</span>
						</div>
		{END searchCtrlBlock_pmrksaan_pnunjang_lain}
																{BEGIN searchCtrlBlock_pmrksaan_pnunjang_lab}


		<div class="form-group srchPanelRow {$filterRow_class_pmrksaan_pnunjang_lab}" {$filterRow_attrs_pmrksaan_pnunjang_lab}>
			<label>{$label interna pmrksaan_pnunjang_lab }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_pmrksaan_pnunjang_lab}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_pmrksaan_pnunjang_lab}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_pmrksaan_pnunjang_lab}</span>
						</div>
		{END searchCtrlBlock_pmrksaan_pnunjang_lab}
																{BEGIN searchCtrlBlock_pem_umum_tb}


		<div class="form-group srchPanelRow {$filterRow_class_pem_umum_tb}" {$filterRow_attrs_pem_umum_tb}>
			<label>{$label interna pem_umum_tb }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_pem_umum_tb}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_pem_umum_tb}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_pem_umum_tb}</span>
						</div>
		{END searchCtrlBlock_pem_umum_tb}
																{BEGIN searchCtrlBlock_pem_umum_ku}


		<div class="form-group srchPanelRow {$filterRow_class_pem_umum_ku}" {$filterRow_attrs_pem_umum_ku}>
			<label>{$label interna pem_umum_ku }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_pem_umum_ku}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_pem_umum_ku}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_pem_umum_ku}</span>
						</div>
		{END searchCtrlBlock_pem_umum_ku}
																{BEGIN searchCtrlBlock_pem_umum_imt}


		<div class="form-group srchPanelRow {$filterRow_class_pem_umum_imt}" {$filterRow_attrs_pem_umum_imt}>
			<label>{$label interna pem_umum_imt }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_pem_umum_imt}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_pem_umum_imt}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_pem_umum_imt}</span>
						</div>
		{END searchCtrlBlock_pem_umum_imt}
																{BEGIN searchCtrlBlock_pem_umum_bb}


		<div class="form-group srchPanelRow {$filterRow_class_pem_umum_bb}" {$filterRow_attrs_pem_umum_bb}>
			<label>{$label interna pem_umum_bb }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_pem_umum_bb}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_pem_umum_bb}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_pem_umum_bb}</span>
						</div>
		{END searchCtrlBlock_pem_umum_bb}
																{BEGIN searchCtrlBlock_leher}


		<div class="form-group srchPanelRow {$filterRow_class_leher}" {$filterRow_attrs_leher}>
			<label>{$label interna leher }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_leher}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_leher}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_leher}</span>
						</div>
		{END searchCtrlBlock_leher}
																{BEGIN searchCtrlBlock_kepala}


		<div class="form-group srchPanelRow {$filterRow_class_kepala}" {$filterRow_attrs_kepala}>
			<label>{$label interna kepala }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_kepala}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_kepala}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_kepala}</span>
						</div>
		{END searchCtrlBlock_kepala}
																{BEGIN searchCtrlBlock_keluhan_tmbhan}


		<div class="form-group srchPanelRow {$filterRow_class_keluhan_tmbhan}" {$filterRow_attrs_keluhan_tmbhan}>
			<label>{$label interna keluhan_tmbhan }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_keluhan_tmbhan}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_keluhan_tmbhan}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_keluhan_tmbhan}</span>
						</div>
		{END searchCtrlBlock_keluhan_tmbhan}
																{BEGIN searchCtrlBlock_keluhan_pertama}


		<div class="form-group srchPanelRow {$filterRow_class_keluhan_pertama}" {$filterRow_attrs_keluhan_pertama}>
			<label>{$label interna keluhan_pertama }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_keluhan_pertama}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_keluhan_pertama}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_keluhan_pertama}</span>
						</div>
		{END searchCtrlBlock_keluhan_pertama}
																{BEGIN searchCtrlBlock_id_pasien}


		<div class="form-group srchPanelRow {$filterRow_class_id_pasien}" {$filterRow_attrs_id_pasien}>
			<label>{$label interna id_pasien }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_id_pasien}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_id_pasien}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_id_pasien}</span>
						</div>
		{END searchCtrlBlock_id_pasien}
																{BEGIN searchCtrlBlock_id_mhs}


		<div class="form-group srchPanelRow {$filterRow_class_id_mhs}" {$filterRow_attrs_id_mhs}>
			<label>{$label interna id_mhs }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_id_mhs}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_id_mhs}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_id_mhs}</span>
						</div>
		{END searchCtrlBlock_id_mhs}
																{BEGIN searchCtrlBlock_id_interna}


		<div class="form-group srchPanelRow {$filterRow_class_id_interna}" {$filterRow_attrs_id_interna}>
			<label>{$label interna id_interna }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_id_interna}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_id_interna}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_id_interna}</span>
						</div>
		{END searchCtrlBlock_id_interna}
																{BEGIN searchCtrlBlock_ekstremitas}


		<div class="form-group srchPanelRow {$filterRow_class_ekstremitas}" {$filterRow_attrs_ekstremitas}>
			<label>{$label interna ekstremitas }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_ekstremitas}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_ekstremitas}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_ekstremitas}</span>
						</div>
		{END searchCtrlBlock_ekstremitas}
		

	</div>

	<div class="panel-footer bottomSearchButt" {$bottomSearchButt_attrs}>
		<button class="btn btn-primary" id="searchButton{$id}" {$searchbutton_attrs}>Search</button>
		<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs}>Show all</button>
	</div>
</div>
<!-- End Search panel content -->
			</div>
		
    {END left_block}
</div>				</div>	
			<div class="r-content-col" data-resize-left="leftbar">
				<div  class="r-topheader" data-resize-name="topbar">
									{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="leftbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span class="navbar-form  navbar-header" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="collapse_button" {$item_collapse_button} data-topcell-item-type="collapse_button" >
				<span data-itemtype="collapse_button" data-itemid="collapse_button" {$item_collapse_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Collapse" class="btn-link   
	 glyphicon glyphicon-triangle-left" href="#" >		
				
								</a>
</span>
			</span>
		 
				<span class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="breadcrumb" {$item_breadcrumb} data-topcell-item-type="breadcrumb" >
				{BEGIN breadcrumb}
<ol class="breadcrumb" data-itemtype="breadcrumb" data-itemid="breadcrumb" {$item_breadcrumb} data-pageid="{$pageid}">
<li ><a href="{$crumb_home_link}"><span class="glyphicon glyphicon-home"></span></a>{$crumb_dropdown}</li>
{BEGIN crumb}
  <li class="{$crumb_item_class}">
{BEGIN crumb_title_link}
	<a {$crumb_attrs}>{$crumb_title}</a>
{END crumb_title_link}
{BEGIN crumb_title_span}
	<span {$crumb_attrs}>{$crumb_title}</span>
{END crumb_title_span}	
	{$crumb_dropdown}
  </li>
{END crumb}
</ol>
{END breadcrumb}			</span>
							 
							 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="simple_search" {$item_simple_search} data-topcell-item-type="simple_search" >
				<span data-itemtype="simple_search" data-itemid="simple_search" {$item_simple_search} data-pageid="{$pageid}" class="form-group">

<div  class="input-group">
{BEGIN searchform_text}
	<input type="search" class="form-control" {$searchfor_attrs} size="25">
{END searchform_text}
	<span class="input-group-btn">
	{BEGIN searchform_showall}
		<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs} title="Show all">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	{END searchform_showall}
	{BEGIN searchform_search}
	<button {$searchbutton_attrs} class="btn btn-primary" >
		<span class="glyphicon glyphicon-search"></span>
	</button>
	{END searchform_search}
	</span>
</div>
		
</span>			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="list_options" {$item_list_options} data-topcell-item-type="list_options" >
				<span data-itemtype="list_options" data-itemid="list_options" {$item_list_options} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
							<span class="glyphicon glyphicon-cog"></span>
									<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN deleteselected_link}
	<li data-itemtype="delete_selected" data-itemid="delete_selected" {$item_delete_selected} data-pageid="{$pageid}" data-small >
				<a  href="#" {$deleteselectedlink_attrs} {$deleteselectedlink_span}  title="" >
				
		Delete selected		
		</a>
	</li>
{END deleteselected_link}
							<li role="separator" class="divider"></li>								<li data-itemtype="advsearch_link" data-itemid="advsearch_link" {$item_advsearch_link} data-pageid="{$pageid}" data-small >
				<a   href="interna_search.php{$stateLink_full}" {$advsearchlink_attrs}  title="" >
				
		Advanced search		
		</a>
	</li>
							{BEGIN searchPanelTopButtons}
	<li data-itemtype="show_search_panel" data-itemid="show_search_panel" {$item_show_search_panel} data-pageid="{$pageid}" data-small >
				<a  id="showOptPanel{$id}"  title="" >
				
		Show search panel		
		</a>
	</li>
{END searchPanelTopButtons}
							{BEGIN searchPanelTopButtons}
	<li data-itemtype="hide_search_panel" data-itemid="hide_search_panel" {$item_hide_search_panel} data-pageid="{$pageid}" data-small >
				<a  id="hideOptPanel{$id}"  title="" >
				
		Hide search panel		
		</a>
	</li>
{END searchPanelTopButtons}
							<li role="separator" class="divider"></li>							{BEGIN export_link}
	<li data-itemtype="export" data-itemid="export" {$item_export} data-pageid="{$pageid}" data-small >
				<a  href="#" {$exportlink_attrs}  title="" >
				
		Export results		
		</a>
	</li>
{END export_link}
							<li role="separator" class="divider"></li>							{BEGIN import_link}
	<li data-itemtype="import" data-itemid="import" {$item_import} data-pageid="{$pageid}" data-small >
				<a  {$importlink_attrs} href="interna_import.php{$stateLink_full}"  title="" >
				
		Import		
		</a>
	</li>
{END import_link}
					</ul>
	</span>
</span>
			</span>
								</nav>
{END supertop_block}
						{$locking}
				</div>	
				<div class="r-body" data-resize-top="topbar" data-body-width="standard">
					{$header}
					<div class="r-top">
									{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="leftbar" {$form_top} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c2" data-pageid="{$pageid}"	{$cell_top_c2}
	class=" r-ori-vert			col-md-12
	
">
		 
		{BEGIN mastertable_block}
<div data-itemtype="master_info" data-itemid="master_info" {$item_master_info} data-pageid="{$pageid}">
	{$showmasterfile}
</div>
{END mastertable_block}		</div>					</div>
	</div>		
{END top_block}
						</div>
					<div class="r-above">
										{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="leftbar" {$form_above-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class="			col-md-6
	
">
		{BEGIN firstAboveGridCell}
		 
		{BEGIN add_link}
<span data-itemtype="add" data-itemid="add" {$item_add} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$addlink_attrs} href="interna_add.php{$stateLink_full}" >
							Add new			</a>
</span>
{END add_link}
	 
		{BEGIN inlineadd_link}
<span data-itemtype="inline_add" data-itemid="inline_add" {$item_inline_add} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$inlineaddlink_attrs} >
							Inline Add			</a>
</span>
{END inlineadd_link}
	 
		{BEGIN deleteselected_link}
<span data-itemtype="delete" data-itemid="delete" {$item_delete} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$deleteselectedlink_attrs} {$deleteselectedlink_span} disabled >
							Delete			</a>
</span>
{END deleteselected_link}
			{END firstAboveGridCell}	
	</div>			 
				<div 
	data-cellId="above-grid_c2" data-pageid="{$pageid}"	{$cell_above-grid_c2}
	class="r-align-right			col-md-6
	
">
		 
		<span data-itemtype="details_found" data-itemid="details_found" {$item_details_found} data-pageid="{$pageid}" data-small >
{$details_found_labeldetails_found}
</span>	 
		<span data-itemtype="page_size" data-itemid="page_size" {$item_page_size} data-pageid="{$pageid}" >
		{$recsPerPage}
</span>	 
		{BEGIN print_friendly}
<span id="printpanelblock{$id}"  data-pageid="{$pageid}" {$printpanel_hiddenattr} data-itemtype="print_panel" data-itemid="print_panel" {$item_print_panel} data-pageid="{$pageid}">
	<button title="Print-friendly page" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					<span class="glyphicon glyphicon-print"></span>
				<span class="caret"></span>
	</button>
	<ul class="dropdown-menu pull-right">
										 
				 
					<li class="container-fluid 
										">
									<div id="print_friendly_scope{$id}">
	<div class="row">
		<div class="col-md-4">
			Scope:		</div>

		{BEGIN print_friendly_all}
		<div class="col-md-8">
			<label for="printAll{$id}">
				<input type="radio" id="printAll{$id}" data-href="interna_print.php?all=1&amp;{$crosstable_attrs}" name="printScope">
									Print all pages							</label>
		</div>
		{END print_friendly_all}
	</div>
	<div class="row">
		<div class="col-md-4">&nbsp;</div>
		<div class="col-md-8">
			<label for="printPage{$id}">
				<input name="printScope" id="printPage{$id}" type="radio" checked data-href="interna_print.php?{$crosstable_attrs}">
				Print this page			</label>
		</div>
	</div>
	
		<div class="row">
		<div class="col-md-4">
			&nbsp;
		</div>
		<div class="col-md-8">
			<label style="color: gray;" for="printSelection{$id}">
			<input name="printScope" disabled="disabled" id="printSelection{$id}" type="radio">
			Print selected			</label>
		</div>
	</div>
	</div>				 
					</li>
											<li class="divider" role="separator"></li>
																				 
				 
					<li class="container-fluid 
										">
									{BEGIN print_details}
<div>
	<label for="printDetailsToggler{$id}">
		<input type="checkbox" id="printDetailsToggler{$id}">
		Print details	</label>
	<div  id="printdetailstables{$id}" style="display:none;">
											{BEGIN print_details_daftar_masalah_interna}
			<div>
				<label for="printDetailsdaftar_masalah_interna{$id}">
					<input type="checkbox" value="daftar_masalah_interna" id="printDetailsdaftar_masalah_interna{$id}" checked>
					Daftar Masalah Interna				</label>
			</div>
			{END print_details_daftar_masalah_interna}
						</div>
</div>
{END print_details}
				 
					</li>
											<li class="divider" role="separator"></li>
																				 
				 
					<li class="container-fluid 
										">
									<div>
	<label for="printPerPage{$id}">
					Records Per Page							
	</label>
	<input type="number" id="printPerPage{$id}" value="{$print_recspp}" class="rnr-printrecspp">		
</div>
				 
					</li>
											<li class="divider" role="separator"></li>
																				 
				 
					<li class="container-fluid 
					 text-center 					">
									<span data-itemtype="print_button" data-itemid="print_button" {$item_print_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" id="print_friendly_button{$id}" >
							Print			</a>
</span>
				 
					</li>
															</ul>
</span>
{END print_friendly}
		</div>					</div>
	</div>		
{END above-grid_block}
						</div>
					<div class="r-grid">
										{BEGIN grid_block}
{BEGIN grid_tabs}
  <ul class="nav nav-tabs bsgrid_tabs">
	{$grid_tabs_content}
  </ul>
{END grid_tabs}
{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}	<style>
@media screen and (max-width: 767px) {
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="keluhan_pertama"]:before {
		content: "{$label interna keluhan_pertama}";
	}
																										[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Nomor_Rm"]:before {
		content: "{$label interna Nomor_Rm}";
	}
	}
</style>
<table data-location="grid" id="form_grid_{$pageid}" data-makeup="leftbar" {$form_grid} data-pageid="{$pageid}" class=" table {$grid_classes}  r-flexgrid rnr-b-grid rnr-gridtable" 
	cellpadding="0" 
	data-body-height="2"
>
						<thead>
			{BEGIN grid_header}
					
		 
						<tr {$rowattrs} {$row_grid_0} class="{$rowclass} 
									{$gridHeader_class}
									
								r-gridrow
							">
				 
					{BEGIN cellblock_grid_headcell_icons}
	<th
	
	{$cell_grid_headcell_icons}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_headcell_icons" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="interna_list"		data-control-cell
	
	>

	
	</th>
	{END cellblock_grid_headcell_icons}
				 
					{BEGIN cellblock_grid_headcell_checkbox}
	<th
	
	{$cell_grid_headcell_checkbox}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_headcell_checkbox" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="interna_list"	
		data-checkbox-cell
	>

	 
		{BEGIN checkbox_column}
<span data-itemtype="grid_checkbox_head" data-itemid="grid_checkbox_head" {$item_grid_checkbox_head} data-pageid="{$pageid}" data-record-id="{$recId}" >
	<input type="checkbox" {$checkboxheader_attrs}>
</span>
{END checkbox_column}
	
	</th>
	{END cellblock_grid_headcell_checkbox}
				 
					{BEGIN cellblock_grid_headcell_details}
	<th
	
	{$cell_grid_headcell_details}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_headcell_details" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</th>
	{END cellblock_grid_headcell_details}
				 
					{BEGIN cellblock_grid_headcell_field}
	<th
	
	{$cell_grid_headcell_field}
	{$recordattrs}
	class="
		 r-ori-vert				{$keluhan_pertama_class}
			"

			data-field="keluhan_pertama"
	
	data-cellId="grid_headcell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN keluhan_pertama_fieldheadercolumn}
	{BEGIN keluhan_pertama_fieldheader}
	<SPAN {$keluhan_pertama_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field2" {$item_simple_grid_field2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="keluhan_pertama">
	{$label interna keluhan_pertama }	{$arrow_icon_keluhan_pertama}
	</SPAN>
	{END keluhan_pertama_fieldheader}
{END keluhan_pertama_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field}
				 
					{BEGIN cellblock_grid_headcell_field1}
	<th
	
	{$cell_grid_headcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert				{$Nomor_Rm_class}
			"

			data-field="Nomor_Rm"
	
	data-cellId="grid_headcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Nomor_Rm_fieldheadercolumn}
	{BEGIN Nomor_Rm_fieldheader}
	<SPAN {$Nomor_Rm_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field3" {$item_simple_grid_field3} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Nomor_Rm">
	{$label interna Nomor_Rm }	{$arrow_icon_Nomor_Rm}
	</SPAN>
	{END Nomor_Rm_fieldheader}
{END Nomor_Rm_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field1}
							</tr>
					 
					 
					 
					
					{END grid_header}
			</thead>
															<tbody>
					{BEGIN grid_row}
									
		 
					 
						<tr {$rowattrs} {$row_grid_1} class="{$rowclass} 
								
								r-gridrow
							">
				 
					{BEGIN cellblock_grid_cell_icons}
	<td
	
	{$cell_grid_cell_icons}
	{$recordattrs}
	class="
					"

	
	data-cellId="grid_cell_icons" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="interna_list"		data-control-cell
	
	>

	 
		{BEGIN edit_column}
{BEGIN edit_link}
<span data-itemtype="grid_edit" data-itemid="grid_edit" {$item_grid_edit} data-pageid="{$pageid}" data-record-id="{$recId}" data-small data-button-item>
	<a type="button" title="Edit" class="btn-link   
	 glyphicon glyphicon-pencil" href="interna_edit.php?{$editlink}" {$editlink_attrs} title="Edit" >		
				
								</a>
</span>
{END edit_link}
{END edit_column}
	 
		{BEGIN inline_cancel}
<span data-itemtype="grid_inline_cancel" data-itemid="grid_inline_cancel" {$item_grid_inline_cancel} data-pageid="{$pageid}" data-record-id="{$recId}" data-small data-button-item>
	<a type="button" title="Cancel" class="btn-link   
	 glyphicon glyphicon-remove" {$inlinerevertlink_attrs} title="Cancel" >		
				
								</a>
</span>
{END inline_cancel}
	 
		{BEGIN view_column}
{BEGIN view_link}
<span data-itemtype="grid_view" data-itemid="grid_view" {$item_grid_view} data-pageid="{$pageid}" data-record-id="{$recId}" data-small data-button-item>
	<a type="button" title="View record" class="btn-link   
	 glyphicon glyphicon-search" href="interna_view.php?{$editlink}" {$viewlink_attrs} title="View" >		
				
								</a>
</span>
{END view_link}
{END view_column}
	
	</td>
	{END cellblock_grid_cell_icons}
				 
					{BEGIN cellblock_grid_cell_checkbox}
	<td
	
	{$cell_grid_cell_checkbox}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_checkbox" data-pageid="{$pageid}" data-record-id="{$recId}"		data-control-cell
	
		data-checkbox-cell
	>

	 
		{BEGIN checkbox_column}
<span data-itemtype="grid_checkbox" data-itemid="grid_checkbox" {$item_grid_checkbox} data-pageid="{$pageid}" data-record-id="{$recId}" >
	<input type="checkbox" {$checkbox_attrs}>
</span>	
{END checkbox_column}
	
	</td>
	{END cellblock_grid_cell_checkbox}
				 
					{BEGIN cellblock_grid_cell_details}
	<td
	
	{$cell_grid_cell_details}
	{$recordattrs}
	class="
					"

	
	data-cellId="grid_cell_details" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="interna_list"		data-control-cell
	
	>

	 
			 
		
	{BEGIN dtables_link}
				<span data-itemtype="grid_details_link" data-itemid="grid_details_link" {$item_grid_details_link} data-pageid="{$pageid}" data-record-id="{$recId}">
		<a 
			{$daftar_masalah_interna_link_attrs} 
			class="{$dtables_link_class} details-badge badge daftar_masalah_interna_badge" 
			title="Show details"
		>
							<span class="glyphicon glyphicon-th-list"></span>
									<span class="{$daftar_masalah_interna_cntspan_class}" {$daftar_masalah_interna_childnumber_attr}>
				{$daftar_masalah_interna_childnumber}				
			</span>
		</a>
		</span>
	{END dtables_link}

	
	</td>
	{END cellblock_grid_cell_details}
				 
					{BEGIN cellblock_grid_cell_field}
	<td
	
	{$cell_grid_cell_field}
	{$recordattrs}
	class="
		 r-ori-vert				{$keluhan_pertama_class}
			"

			data-field="keluhan_pertama"
	
	data-cellId="grid_cell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN keluhan_pertama_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field1" {$item_simple_grid_field1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="keluhan_pertama" data-default-width >
{$keluhan_pertama_value}
</span>
{END keluhan_pertama_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field}
				 
					{BEGIN cellblock_grid_cell_field1}
	<td
	
	{$cell_grid_cell_field1}
	{$recordattrs}
	class="
		 r-ori-vert				{$Nomor_Rm_class}
			"

			data-field="Nomor_Rm"
	
	data-cellId="grid_cell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Nomor_Rm_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field" {$item_simple_grid_field} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Nomor_Rm" data-default-width >
{$Nomor_Rm_value}
</span>
{END Nomor_Rm_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field1}
							</tr>
					 
						<tr {$rowattrs} {$row_grid_2} class="{$rowclass} 
								
							">
				 
					{BEGIN cellblock_grid_cell_dpreview}
	<td
	
	{$cell_grid_cell_dpreview}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_dpreview" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
			<div data-itemtype="details_preview" data-itemid="details_preview" {$item_details_preview} data-pageid="{$pageid}" data-record-id="{$recId}" 
	data-orders="daftar_masalah_interna"
			data-details-daftar_masalah_interna	>
		<span data-details-inside data-short-table="daftar_masalah_interna">
			</span>
		<div data-details-preview>
	</div>
</div>
	
	</td>
	{END cellblock_grid_cell_dpreview}
							</tr>
					 
					
											{END grid_row}
					</tbody>
													<tfoot>
					
		 
					 
					 
					 
						<tr {$rowattrs} {$row_grid_3} class="{$rowclass} 
									{$gridFooter_class}
									
								r-gridrow
							">
				 
					{BEGIN cellblock_grid_footcell_icons}
	<td
	
	{$cell_grid_footcell_icons}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_icons" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_footcell_icons}
				 
					{BEGIN cellblock_grid_footcell_checkbox}
	<td
	
	{$cell_grid_footcell_checkbox}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_checkbox" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_footcell_checkbox}
				 
					{BEGIN cellblock_grid_footcell_details}
	<td
	
	{$cell_grid_footcell_details}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_details" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_footcell_details}
				 
					{BEGIN cellblock_grid_footcell_field}
	<td
	
	{$cell_grid_footcell_field}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="interna_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field}
				 
					{BEGIN cellblock_grid_footcell_field1}
	<td
	
	{$cell_grid_footcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="interna_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field1}
							</tr>
					
					</tfoot>
				</table>
{END grid_block}
						</div>
					<div class="r-below">
										{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="leftbar" {$form_below-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="r-align-center r-ori-vert			col-md-12
	
">
		 
		{BEGIN pagination_block}
<span data-itemtype="pagination" data-itemid="pagination" {$item_pagination} data-pageid="{$pageid}" >
{$pagination}
</span>
{END pagination_block}
		</div>					</div>
	</div>		
{END below-grid_block}
						</div>
					{$footer}
				</div>	
			</div>	
		</div>
	{END body}
	</body>
</html>
