<!doctype html>
<html  {$html_attrs}>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {$pagetitle}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <base href="{$projectPath}">
    <link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
    {BEGIN rtlCSS}
      <link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
    {END rtlCSS}
    {BEGIN styleCSSFiles}
      <link REL="stylesheet" href="{$stylepath}" type="text/css">
    {END styleCSSFiles}
  </head>
  <BODY class="{$stylename} function-menu" {$bodyattrs}>
    {BEGIN body}
      {$header}
      <style>
        {$containerCss}
      </style>
      <DIV class="r-topbar-page">
        <DIV data-menu-width="full" class="r-topheader" data-resize-name="topbar" data-body-align="left">
          {BEGIN supertop_block}
            <NAV class="navbar navbar-default" data-location="supertop" id="form_supertop_{$pageid}" data-makeup="topbar" {$form_supertop} data-pageid="{$pageid}">
              <SPAN data-cellId="supertop_c1" data-pageid="{$pageid}" class="r-align-left navbar-header" data-itemid="logo" {$item_logo}>
                {BEGIN logo_block}
                  <A data-itemtype="logo" data-itemid="logo" {$item_logo} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
                    {$logo}
                  </A>
                {END logo_block}
                <BUTTON data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">
                  <SPAN class="sr-only">
                    Toggle navigation
                  </span>
                  <SPAN class="icon-bar">
                  </span>
                </button>
              </span>
              <SPAN data-cellId="supertop_c1" data-pageid="{$pageid}" class="r-align-left navbar-collapse" data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
                {$menu main horizontal}
              </span>
            </nav>
          {END supertop_block}
          {$locking}
        </div>
        <DIV data-body-align="left" data-body-width="standard" class="r-body" data-resize-top="topbar">
          <DIV class="r-top">
          </div>
          <DIV class="r-content">
            <DIV class="r-data-block" data-body-width="standard">
              {BEGIN above-grid_block}
                <DIV class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="topbar" {$form_above-grid} data-pageid="{$pageid}">
                </div>
              {END above-grid_block}
              <DIV class="r-grid">
                {BEGIN grid_block}
                  <TABLE class="r-fluid r-form" data-location="grid" id="form_grid_{$pageid}" data-makeup="topbar" {$form_grid} data-pageid="{$pageid}">
                    <tbody>
                      <tr>
                        <TD class="	" data-cellId="grid_c1" data-pageid="{$pageid}">
                          <DIV class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item" {$item_welcome_item} data-pageid="{$pageid}" data-page=".global_menu">
                            <DIV class="bs-welcome-header">
                              <a id="itemlink" href="ginekologi_list.php">
                                <SPAN class="fa fa-female">
                                </span>
                                Ginekologi
                              </a>
                            </div>
                            <DIV class="bs-welcome-content" data-comment-len="22">
                              Rekam medis ginekologi
                            </div>
                          </div>
                          <DIV class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item1" {$item_welcome_item1} data-pageid="{$pageid}" data-page=".global_menu">
                            <DIV class="bs-welcome-header">
                              <a id="itemlink" href="interna_list.php">
                                <SPAN class="fa fa-mars-stroke">
                                </span>
                                Interna
                              </a>
                            </div>
                            <DIV class="bs-welcome-content" data-comment-len="19">
                              Rekam medis interna
                            </div>
                          </div>
                          <DIV class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item2" {$item_welcome_item2} data-pageid="{$pageid}" data-page=".global_menu">
                            <DIV class="bs-welcome-header">
                              <a id="itemlink" href="kulit_list.php">
                                <SPAN class="fa fa-puzzle-piece">
                                </span>
                                Kulit
                              </a>
                            </div>
                            <DIV class="bs-welcome-content" data-comment-len="17">
                              Rekam medis kulit
                            </div>
                          </div>
                          <DIV class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item3" {$item_welcome_item3} data-pageid="{$pageid}" data-page=".global_menu">
                            <DIV class="bs-welcome-header">
                              <a id="itemlink" href="pediatri_list.php">
                                <SPAN class="fa fa-user-circle">
                                </span>
                                Pediatri
                              </a>
                            </div>
                            <DIV class="bs-welcome-content" data-comment-len="20">
                              Rekam medis Pediatri
                            </div>
                          </div>
                          <DIV class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item4" {$item_welcome_item4} data-pageid="{$pageid}" data-page=".global_menu">
                            <DIV class="bs-welcome-header">
                              <a id="itemlink" href="daftar_masalah_interna_list.php">
                                <SPAN class="glyphicon glyphicon-hand-right">
                                </span>
                                Daftar Masalah Interna
                              </a>
                            </div>
                            <DIV class="bs-welcome-content" data-comment-len="34">
                              Daftar Masalah Interna description
                            </div>
                          </div>
                          <DIV class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item5" {$item_welcome_item5} data-pageid="{$pageid}" data-page=".global_menu">
                            <DIV class="bs-welcome-header">
                              <a id="itemlink" href="daftar_masalah_pediatri_list.php">
                                <SPAN class="glyphicon glyphicon-leaf">
                                </span>
                                Daftar Masalah Pediatri
                              </a>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                {END grid_block}
              </div>
            </div>
          </div>
        </div>
      </div>
      {$footer}
    {END body}
  </body>
</html>
