<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel paru1 search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN Keluhan_Utama_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Keluhan_Utama}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Keluhan Utama" 
	
	data-signal-error-for="Keluhan_Utama{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="Keluhan_Utama" >


	<label class="r-search-label control-label" for="{$labelfor_Keluhan_Utama}">
		{$label paru1 Keluhan_Utama }	</label>
	<div class="r-search-option">
		{$searchtype_Keluhan_Utama}
	</div>
	<div class="r-search-field">
		{$Keluhan_Utama_editcontrol}	</div>
	<div class="r-search-field">
		{$Keluhan_Utama_editcontrol1}
	</div>
	
</div>

{END Keluhan_Utama_fieldblock}
											
{BEGIN Keluhan_Tambahan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Keluhan_Tambahan}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Keluhan Tambahan" 
	
	data-signal-error-for="Keluhan_Tambahan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="Keluhan_Tambahan" >


	<label class="r-search-label control-label" for="{$labelfor_Keluhan_Tambahan}">
		{$label paru1 Keluhan_Tambahan }	</label>
	<div class="r-search-option">
		{$searchtype_Keluhan_Tambahan}
	</div>
	<div class="r-search-field">
		{$Keluhan_Tambahan_editcontrol}	</div>
	<div class="r-search-field">
		{$Keluhan_Tambahan_editcontrol1}
	</div>
	
</div>

{END Keluhan_Tambahan_fieldblock}
											
{BEGIN Riwayat_Penyakit_Sekarang_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Riwayat_Penyakit_Sekarang}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Riwayat Penyakit Sekarang" 
	
	data-signal-error-for="Riwayat_Penyakit_Sekarang{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="Riwayat_Penyakit_Sekarang" >


	<label class="r-search-label control-label" for="{$labelfor_Riwayat_Penyakit_Sekarang}">
		{$label paru1 Riwayat_Penyakit_Sekarang }	</label>
	<div class="r-search-option">
		{$searchtype_Riwayat_Penyakit_Sekarang}
	</div>
	<div class="r-search-field">
		{$Riwayat_Penyakit_Sekarang_editcontrol}	</div>
	<div class="r-search-field">
		{$Riwayat_Penyakit_Sekarang_editcontrol1}
	</div>
	
</div>

{END Riwayat_Penyakit_Sekarang_fieldblock}
											
{BEGIN Riwayat_Penyakit_Dahulu_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Riwayat_Penyakit_Dahulu}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Riwayat Penyakit Dahulu" 
	
	data-signal-error-for="Riwayat_Penyakit_Dahulu{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="Riwayat_Penyakit_Dahulu" >


	<label class="r-search-label control-label" for="{$labelfor_Riwayat_Penyakit_Dahulu}">
		{$label paru1 Riwayat_Penyakit_Dahulu }	</label>
	<div class="r-search-option">
		{$searchtype_Riwayat_Penyakit_Dahulu}
	</div>
	<div class="r-search-field">
		{$Riwayat_Penyakit_Dahulu_editcontrol}	</div>
	<div class="r-search-field">
		{$Riwayat_Penyakit_Dahulu_editcontrol1}
	</div>
	
</div>

{END Riwayat_Penyakit_Dahulu_fieldblock}
											
{BEGIN Riwayat_Penyakit_Keluarga_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Riwayat_Penyakit_Keluarga}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Riwayat Penyakit Keluarga" 
	
	data-signal-error-for="Riwayat_Penyakit_Keluarga{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="Riwayat_Penyakit_Keluarga" >


	<label class="r-search-label control-label" for="{$labelfor_Riwayat_Penyakit_Keluarga}">
		{$label paru1 Riwayat_Penyakit_Keluarga }	</label>
	<div class="r-search-option">
		{$searchtype_Riwayat_Penyakit_Keluarga}
	</div>
	<div class="r-search-field">
		{$Riwayat_Penyakit_Keluarga_editcontrol}	</div>
	<div class="r-search-field">
		{$Riwayat_Penyakit_Keluarga_editcontrol1}
	</div>
	
</div>

{END Riwayat_Penyakit_Keluarga_fieldblock}
											
{BEGIN Riwayat_Alergi_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Riwayat_Alergi}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Riwayat Alergi" 
	
	data-signal-error-for="Riwayat_Alergi{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="Riwayat_Alergi" >


	<label class="r-search-label control-label" for="{$labelfor_Riwayat_Alergi}">
		{$label paru1 Riwayat_Alergi }	</label>
	<div class="r-search-option">
		{$searchtype_Riwayat_Alergi}
	</div>
	<div class="r-search-field">
		{$Riwayat_Alergi_editcontrol}	</div>
	<div class="r-search-field">
		{$Riwayat_Alergi_editcontrol1}
	</div>
	
</div>

{END Riwayat_Alergi_fieldblock}
											
{BEGIN Riwayat_Pengobatan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Riwayat_Pengobatan}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Riwayat Pengobatan" 
	
	data-signal-error-for="Riwayat_Pengobatan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="Riwayat_Pengobatan" >


	<label class="r-search-label control-label" for="{$labelfor_Riwayat_Pengobatan}">
		{$label paru1 Riwayat_Pengobatan }	</label>
	<div class="r-search-option">
		{$searchtype_Riwayat_Pengobatan}
	</div>
	<div class="r-search-field">
		{$Riwayat_Pengobatan_editcontrol}	</div>
	<div class="r-search-field">
		{$Riwayat_Pengobatan_editcontrol1}
	</div>
	
</div>

{END Riwayat_Pengobatan_fieldblock}
											
{BEGIN Riwayat_Kebiasaan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Riwayat_Kebiasaan}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Riwayat Kebiasaan" 
	
	data-signal-error-for="Riwayat_Kebiasaan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="Riwayat_Kebiasaan" >


	<label class="r-search-label control-label" for="{$labelfor_Riwayat_Kebiasaan}">
		{$label paru1 Riwayat_Kebiasaan }	</label>
	<div class="r-search-option">
		{$searchtype_Riwayat_Kebiasaan}
	</div>
	<div class="r-search-field">
		{$Riwayat_Kebiasaan_editcontrol}	</div>
	<div class="r-search-field">
		{$Riwayat_Kebiasaan_editcontrol1}
	</div>
	
</div>

{END Riwayat_Kebiasaan_fieldblock}
											
{BEGIN Riwayat_Sosial_Ekonomi_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Riwayat_Sosial_Ekonomi}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Riwayat Sosial Ekonomi" 
	
	data-signal-error-for="Riwayat_Sosial_Ekonomi{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="Riwayat_Sosial_Ekonomi" >


	<label class="r-search-label control-label" for="{$labelfor_Riwayat_Sosial_Ekonomi}">
		{$label paru1 Riwayat_Sosial_Ekonomi }	</label>
	<div class="r-search-option">
		{$searchtype_Riwayat_Sosial_Ekonomi}
	</div>
	<div class="r-search-field">
		{$Riwayat_Sosial_Ekonomi_editcontrol}	</div>
	<div class="r-search-field">
		{$Riwayat_Sosial_Ekonomi_editcontrol1}
	</div>
	
</div>

{END Riwayat_Sosial_Ekonomi_fieldblock}
											
{BEGIN Pemeriksaan_Fisik_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Pemeriksaan_Fisik}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Pemeriksaan Fisik" 
	
	data-signal-error-for="Pemeriksaan_Fisik{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="Pemeriksaan_Fisik" >


	<label class="r-search-label control-label" for="{$labelfor_Pemeriksaan_Fisik}">
		{$label paru1 Pemeriksaan_Fisik }	</label>
	<div class="r-search-option">
		{$searchtype_Pemeriksaan_Fisik}
	</div>
	<div class="r-search-field">
		{$Pemeriksaan_Fisik_editcontrol}	</div>
	<div class="r-search-field">
		{$Pemeriksaan_Fisik_editcontrol1}
	</div>
	
</div>

{END Pemeriksaan_Fisik_fieldblock}
											
{BEGIN Laboratorium_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Laboratorium}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Laboratorium" 
	
	data-signal-error-for="Laboratorium{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="Laboratorium" >


	<label class="r-search-label control-label" for="{$labelfor_Laboratorium}">
		{$label paru1 Laboratorium }	</label>
	<div class="r-search-option">
		{$searchtype_Laboratorium}
	</div>
	<div class="r-search-field">
		{$Laboratorium_editcontrol}	</div>
	<div class="r-search-field">
		{$Laboratorium_editcontrol1}
	</div>
	
</div>

{END Laboratorium_fieldblock}
											
{BEGIN Status_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Status}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Status" 
	
	data-signal-error-for="Status{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="Status" >


	<label class="r-search-label control-label" for="{$labelfor_Status}">
		{$label paru1 Status }	</label>
	<div class="r-search-option">
		{$searchtype_Status}
	</div>
	<div class="r-search-field">
		{$Status_editcontrol}	</div>
	<div class="r-search-field">
		{$Status_editcontrol1}
	</div>
	
</div>

{END Status_fieldblock}
											
{BEGIN Radiologi_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Radiologi}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Radiologi" 
	
	data-signal-error-for="Radiologi{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="Radiologi" >


	<label class="r-search-label control-label" for="{$labelfor_Radiologi}">
		{$label paru1 Radiologi }	</label>
	<div class="r-search-option">
		{$searchtype_Radiologi}
	</div>
	<div class="r-search-field">
		{$Radiologi_editcontrol}	</div>
	<div class="r-search-field">
		{$Radiologi_editcontrol1}
	</div>
	
</div>

{END Radiologi_fieldblock}
											
{BEGIN Lain_lain_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Lain_lain}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Lain-lain" 
	
	data-signal-error-for="Lain_lain{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="Lain_lain" >


	<label class="r-search-label control-label" for="{$labelfor_Lain_lain}">
		{$label paru1 Lain_lain }	</label>
	<div class="r-search-option">
		{$searchtype_Lain_lain}
	</div>
	<div class="r-search-field">
		{$Lain_lain_editcontrol}	</div>
	<div class="r-search-field">
		{$Lain_lain_editcontrol1}
	</div>
	
</div>

{END Lain_lain_fieldblock}
											
{BEGIN PENILAIAN_RENCANA_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_PENILAIAN_RENCANA}  r-horizontal-field form-horizontal" 
	
		data-fieldname="PENILAIAN_RENCANA" 
	
	data-signal-error-for="PENILAIAN_RENCANA{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="PENILAIAN_RENCANA" >


	<label class="r-search-label control-label" for="{$labelfor_PENILAIAN_RENCANA}">
		{$label paru1 PENILAIAN_RENCANA }	</label>
	<div class="r-search-option">
		{$searchtype_PENILAIAN_RENCANA}
	</div>
	<div class="r-search-field">
		{$PENILAIAN_RENCANA_editcontrol}	</div>
	<div class="r-search-field">
		{$PENILAIAN_RENCANA_editcontrol1}
	</div>
	
</div>

{END PENILAIAN_RENCANA_fieldblock}
											
{BEGIN id_pasien_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_pasien}  r-horizontal-field form-horizontal" 
	
		data-fieldname="id_pasien" 
	
	data-signal-error-for="id_pasien{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="id_pasien" >


	<label class="r-search-label control-label" for="{$labelfor_id_pasien}">
		{$label paru1 id_pasien }	</label>
	<div class="r-search-option">
		{$searchtype_id_pasien}
	</div>
	<div class="r-search-field">
		{$id_pasien_editcontrol}	</div>
	<div class="r-search-field">
		{$id_pasien_editcontrol1}
	</div>
	
</div>

{END id_pasien_fieldblock}
											
{BEGIN id_user_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_user}  r-horizontal-field form-horizontal" 
	
		data-fieldname="id_user" 
	
	data-signal-error-for="id_user{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="id_user" >


	<label class="r-search-label control-label" for="{$labelfor_id_user}">
		{$label paru1 id_user }	</label>
	<div class="r-search-option">
		{$searchtype_id_user}
	</div>
	<div class="r-search-field">
		{$id_user_editcontrol}	</div>
	<div class="r-search-field">
		{$id_user_editcontrol1}
	</div>
	
</div>

{END id_user_fieldblock}
											
{BEGIN nomor_rm_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nomor_rm}  r-horizontal-field form-horizontal" 
	
		data-fieldname="nomor_rm" 
	
	data-signal-error-for="nomor_rm{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="nomor_rm" >


	<label class="r-search-label control-label" for="{$labelfor_nomor_rm}">
		{$label paru1 nomor_rm }	</label>
	<div class="r-search-option">
		{$searchtype_nomor_rm}
	</div>
	<div class="r-search-field">
		{$nomor_rm_editcontrol}	</div>
	<div class="r-search-field">
		{$nomor_rm_editcontrol1}
	</div>
	
</div>

{END nomor_rm_fieldblock}
											
{BEGIN Id_paru_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Id_paru}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Id_paru" 
	
	data-signal-error-for="Id_paru{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="Id_paru" >


	<label class="r-search-label control-label" for="{$labelfor_Id_paru}">
		{$label paru1 Id_paru }	</label>
	<div class="r-search-option">
		{$searchtype_Id_paru}
	</div>
	<div class="r-search-field">
		{$Id_paru_editcontrol}	</div>
	<div class="r-search-field">
		{$Id_paru_editcontrol1}
	</div>
	
</div>

{END Id_paru_fieldblock}
											
{BEGIN id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id}  r-horizontal-field form-horizontal" 
	
		data-fieldname="id" 
	
	data-signal-error-for="id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="id" >


	<label class="r-search-label control-label" for="{$labelfor_id}">
		{$label paru1 id }	</label>
	<div class="r-search-option">
		{$searchtype_id}
	</div>
	<div class="r-search-field">
		{$id_editcontrol}	</div>
	<div class="r-search-field">
		{$id_editcontrol1}
	</div>
	
</div>

{END id_fieldblock}
											
{BEGIN name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_name}  r-horizontal-field form-horizontal" 
	
		data-fieldname="name" 
	
	data-signal-error-for="name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field20" {$item_integrated_search_field20} data-pageid="{$pageid}" data-field="name" >


	<label class="r-search-label control-label" for="{$labelfor_name}">
		{$label paru1 name }	</label>
	<div class="r-search-option">
		{$searchtype_name}
	</div>
	<div class="r-search-field">
		{$name_editcontrol}	</div>
	<div class="r-search-field">
		{$name_editcontrol1}
	</div>
	
</div>

{END name_fieldblock}
											
{BEGIN username_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_username}  r-horizontal-field form-horizontal" 
	
		data-fieldname="username" 
	
	data-signal-error-for="username{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field21" {$item_integrated_search_field21} data-pageid="{$pageid}" data-field="username" >


	<label class="r-search-label control-label" for="{$labelfor_username}">
		{$label paru1 username }	</label>
	<div class="r-search-option">
		{$searchtype_username}
	</div>
	<div class="r-search-field">
		{$username_editcontrol}	</div>
	<div class="r-search-field">
		{$username_editcontrol1}
	</div>
	
</div>

{END username_fieldblock}
											
{BEGIN email_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_email}  r-horizontal-field form-horizontal" 
	
		data-fieldname="email" 
	
	data-signal-error-for="email{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field22" {$item_integrated_search_field22} data-pageid="{$pageid}" data-field="email" >


	<label class="r-search-label control-label" for="{$labelfor_email}">
		{$label paru1 email }	</label>
	<div class="r-search-option">
		{$searchtype_email}
	</div>
	<div class="r-search-field">
		{$email_editcontrol}	</div>
	<div class="r-search-field">
		{$email_editcontrol1}
	</div>
	
</div>

{END email_fieldblock}
											
{BEGIN Id_Pasien1_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Id_Pasien1}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Id_Pasien1" 
	
	data-signal-error-for="Id_Pasien1{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field23" {$item_integrated_search_field23} data-pageid="{$pageid}" data-field="Id_Pasien1" >


	<label class="r-search-label control-label" for="{$labelfor_Id_Pasien1}">
		{$label paru1 Id_Pasien1 }	</label>
	<div class="r-search-option">
		{$searchtype_Id_Pasien1}
	</div>
	<div class="r-search-field">
		{$Id_Pasien1_editcontrol}	</div>
	<div class="r-search-field">
		{$Id_Pasien1_editcontrol1}
	</div>
	
</div>

{END Id_Pasien1_fieldblock}
											
{BEGIN Nama_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Nama}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Nama" 
	
	data-signal-error-for="Nama{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field24" {$item_integrated_search_field24} data-pageid="{$pageid}" data-field="Nama" >


	<label class="r-search-label control-label" for="{$labelfor_Nama}">
		{$label paru1 Nama }	</label>
	<div class="r-search-option">
		{$searchtype_Nama}
	</div>
	<div class="r-search-field">
		{$Nama_editcontrol}	</div>
	<div class="r-search-field">
		{$Nama_editcontrol1}
	</div>
	
</div>

{END Nama_fieldblock}
											
{BEGIN Alamat_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Alamat}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Alamat" 
	
	data-signal-error-for="Alamat{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field25" {$item_integrated_search_field25} data-pageid="{$pageid}" data-field="Alamat" >


	<label class="r-search-label control-label" for="{$labelfor_Alamat}">
		{$label paru1 Alamat }	</label>
	<div class="r-search-option">
		{$searchtype_Alamat}
	</div>
	<div class="r-search-field">
		{$Alamat_editcontrol}	</div>
	<div class="r-search-field">
		{$Alamat_editcontrol1}
	</div>
	
</div>

{END Alamat_fieldblock}
											
{BEGIN Umur_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Umur}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Umur" 
	
	data-signal-error-for="Umur{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field26" {$item_integrated_search_field26} data-pageid="{$pageid}" data-field="Umur" >


	<label class="r-search-label control-label" for="{$labelfor_Umur}">
		{$label paru1 Umur }	</label>
	<div class="r-search-option">
		{$searchtype_Umur}
	</div>
	<div class="r-search-field">
		{$Umur_editcontrol}	</div>
	<div class="r-search-field">
		{$Umur_editcontrol1}
	</div>
	
</div>

{END Umur_fieldblock}
											
{BEGIN Status_Perkawinan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Status_Perkawinan}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Status_Perkawinan" 
	
	data-signal-error-for="Status_Perkawinan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field27" {$item_integrated_search_field27} data-pageid="{$pageid}" data-field="Status_Perkawinan" >


	<label class="r-search-label control-label" for="{$labelfor_Status_Perkawinan}">
		{$label paru1 Status_Perkawinan }	</label>
	<div class="r-search-option">
		{$searchtype_Status_Perkawinan}
	</div>
	<div class="r-search-field">
		{$Status_Perkawinan_editcontrol}	</div>
	<div class="r-search-field">
		{$Status_Perkawinan_editcontrol1}
	</div>
	
</div>

{END Status_Perkawinan_fieldblock}
											
{BEGIN Jenis_Kelamin_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Jenis_Kelamin}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Jenis Kelamin" 
	
	data-signal-error-for="Jenis_Kelamin{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field28" {$item_integrated_search_field28} data-pageid="{$pageid}" data-field="Jenis_Kelamin" >


	<label class="r-search-label control-label" for="{$labelfor_Jenis_Kelamin}">
		{$label paru1 Jenis_Kelamin }	</label>
	<div class="r-search-option">
		{$searchtype_Jenis_Kelamin}
	</div>
	<div class="r-search-field">
		{$Jenis_Kelamin_editcontrol}	</div>
	<div class="r-search-field">
		{$Jenis_Kelamin_editcontrol1}
	</div>
	
</div>

{END Jenis_Kelamin_fieldblock}
											
{BEGIN Suku_Ras_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Suku_Ras}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Suku_Ras" 
	
	data-signal-error-for="Suku_Ras{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field29" {$item_integrated_search_field29} data-pageid="{$pageid}" data-field="Suku_Ras" >


	<label class="r-search-label control-label" for="{$labelfor_Suku_Ras}">
		{$label paru1 Suku_Ras }	</label>
	<div class="r-search-option">
		{$searchtype_Suku_Ras}
	</div>
	<div class="r-search-field">
		{$Suku_Ras_editcontrol}	</div>
	<div class="r-search-field">
		{$Suku_Ras_editcontrol1}
	</div>
	
</div>

{END Suku_Ras_fieldblock}
											
{BEGIN Agama_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Agama}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Agama" 
	
	data-signal-error-for="Agama{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field30" {$item_integrated_search_field30} data-pageid="{$pageid}" data-field="Agama" >


	<label class="r-search-label control-label" for="{$labelfor_Agama}">
		{$label paru1 Agama }	</label>
	<div class="r-search-option">
		{$searchtype_Agama}
	</div>
	<div class="r-search-field">
		{$Agama_editcontrol}	</div>
	<div class="r-search-field">
		{$Agama_editcontrol1}
	</div>
	
</div>

{END Agama_fieldblock}
											
{BEGIN Kerja_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Kerja}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Kerja" 
	
	data-signal-error-for="Kerja{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field31" {$item_integrated_search_field31} data-pageid="{$pageid}" data-field="Kerja" >


	<label class="r-search-label control-label" for="{$labelfor_Kerja}">
		{$label paru1 Kerja }	</label>
	<div class="r-search-option">
		{$searchtype_Kerja}
	</div>
	<div class="r-search-field">
		{$Kerja_editcontrol}	</div>
	<div class="r-search-field">
		{$Kerja_editcontrol1}
	</div>
	
</div>

{END Kerja_fieldblock}
											
{BEGIN Tanggal_MRS_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Tanggal_MRS}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Tanggal_MRS" 
	
	data-signal-error-for="Tanggal_MRS{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field32" {$item_integrated_search_field32} data-pageid="{$pageid}" data-field="Tanggal_MRS" >


	<label class="r-search-label control-label" for="{$labelfor_Tanggal_MRS}">
		{$label paru1 Tanggal_MRS }	</label>
	<div class="r-search-option">
		{$searchtype_Tanggal_MRS}
	</div>
	<div class="r-search-field">
		{$Tanggal_MRS_editcontrol}	</div>
	<div class="r-search-field">
		{$Tanggal_MRS_editcontrol1}
	</div>
	
</div>

{END Tanggal_MRS_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Search			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reset			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancel			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
