<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-view" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel tht view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												{BEGIN mastertable_block}
<div data-itemtype="master_info" data-itemid="master_info" {$item_master_info} data-pageid="{$pageid}">
	{$showmasterfile}
</div>
{END mastertable_block}											<div class="panel with-tabs panel-default form-tabs" data-itemtype="tabs" data-itemid="tabs" {$item_tabs} data-pageid="{$pageid}">
	<div class="panel-heading">
		<ul class="nav nav-tabs" role="tablist">
									<li role="presentation" class="active">
				<a aria-controls="settings" role="tab" data-toggle="tab" href="#tab_section{$pageid}">
					Anamnesa				</a>
			</li>
										<li role="presentation" class="">
				<a aria-controls="settings" role="tab" data-toggle="tab" href="#tab_section1{$pageid}">
					Pemeriksaan Fisik				</a>
			</li>
										<li role="presentation" class="">
				<a aria-controls="settings" role="tab" data-toggle="tab" href="#tab_section2{$pageid}">
					Diagnosa Banding				</a>
			</li>
										<li role="presentation" class="">
				<a aria-controls="settings" role="tab" data-toggle="tab" href="#tab_section3{$pageid}">
					Rencana Pemeriksaan Penunjang				</a>
			</li>
										<li role="presentation" class="">
				<a aria-controls="settings" role="tab" data-toggle="tab" href="#tab_section4{$pageid}">
					Diagnosa				</a>
			</li>
										<li role="presentation" class="">
				<a aria-controls="settings" role="tab" data-toggle="tab" href="#tab_section5{$pageid}">
					Rencana Tata Laksana				</a>
			</li>
									</ul>
	</div>
	<div class="panel-body">
		<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="tab_section{$pageid}"> 
			{BEGIN section_block}




 
	 
												<table 
	data-body-align="center"
	data-location="section" id="form_section_{$pageid}" data-makeup="small" {$form_section} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="2"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_section_c1}
<td
	{$cell_section_c1}
	class=" r-ori-vert"
	
			
			data-cellId="section_c1" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN Keluhan_Utama_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Keluhan_Utama}  r-vertical-field" data-fieldname="Keluhan_Utama" data-signal-error-for="Keluhan_Utama{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="Keluhan_Utama" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_Keluhan_Utama}">
		
		{BEGIN Keluhan_Utama_label}{$label tht Keluhan_Utama }{END Keluhan_Utama_label}
	</label>
	<div class="" >
		{$Keluhan_Utama_value}	</div>

		</div>
		
</div>


{END Keluhan_Utama_fieldblock}
											
{BEGIN Keluhan_Tambahan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Keluhan_Tambahan}  r-vertical-field" data-fieldname="Keluhan_Tambahan" data-signal-error-for="Keluhan_Tambahan{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="Keluhan_Tambahan" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_Keluhan_Tambahan}">
		
		{BEGIN Keluhan_Tambahan_label}{$label tht Keluhan_Tambahan }{END Keluhan_Tambahan_label}
	</label>
	<div class="" >
		{$Keluhan_Tambahan_value}	</div>

		</div>
		
</div>


{END Keluhan_Tambahan_fieldblock}
											
{BEGIN Riwayat_Penyakit_Sekarang_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Riwayat_Penyakit_Sekarang}  r-vertical-field" data-fieldname="Riwayat_Penyakit_Sekarang" data-signal-error-for="Riwayat_Penyakit_Sekarang{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="Riwayat_Penyakit_Sekarang" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_Riwayat_Penyakit_Sekarang}">
		
		{BEGIN Riwayat_Penyakit_Sekarang_label}{$label tht Riwayat_Penyakit_Sekarang }{END Riwayat_Penyakit_Sekarang_label}
	</label>
	<div class="" >
		{$Riwayat_Penyakit_Sekarang_value}	</div>

		</div>
		
</div>


{END Riwayat_Penyakit_Sekarang_fieldblock}
											
{BEGIN Riwayat_Penyakit_Dahulu_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Riwayat_Penyakit_Dahulu}  r-vertical-field" data-fieldname="Riwayat_Penyakit_Dahulu" data-signal-error-for="Riwayat_Penyakit_Dahulu{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="Riwayat_Penyakit_Dahulu" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_Riwayat_Penyakit_Dahulu}">
		
		{BEGIN Riwayat_Penyakit_Dahulu_label}{$label tht Riwayat_Penyakit_Dahulu }{END Riwayat_Penyakit_Dahulu_label}
	</label>
	<div class="" >
		{$Riwayat_Penyakit_Dahulu_value}	</div>

		</div>
		
</div>


{END Riwayat_Penyakit_Dahulu_fieldblock}
											
{BEGIN Riwayat_Sosial_Ekonomi_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Riwayat_Sosial_Ekonomi}  r-vertical-field" data-fieldname="Riwayat_Sosial_Ekonomi" data-signal-error-for="Riwayat_Sosial_Ekonomi{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="Riwayat_Sosial_Ekonomi" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_Riwayat_Sosial_Ekonomi}">
		
		{BEGIN Riwayat_Sosial_Ekonomi_label}{$label tht Riwayat_Sosial_Ekonomi }{END Riwayat_Sosial_Ekonomi_label}
	</label>
	<div class="" >
		{$Riwayat_Sosial_Ekonomi_value}	</div>

		</div>
		
</div>


{END Riwayat_Sosial_Ekonomi_fieldblock}
	
								</td>
			{END cellblock_section_c1}
			 
																

{BEGIN cellblock_section_c}
<td
	{$cell_section_c}
	class=" r-ori-vert"
	
			
			data-cellId="section_c" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN Riwayat_Alergi_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Riwayat_Alergi}  r-vertical-field" data-fieldname="Riwayat_Alergi" data-signal-error-for="Riwayat_Alergi{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="Riwayat_Alergi" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_Riwayat_Alergi}">
		
		{BEGIN Riwayat_Alergi_label}{$label tht Riwayat_Alergi }{END Riwayat_Alergi_label}
	</label>
	<div class="" >
		{$Riwayat_Alergi_value}	</div>

		</div>
		
</div>


{END Riwayat_Alergi_fieldblock}
											
{BEGIN Riwayat_Penyakit_Keluarga_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Riwayat_Penyakit_Keluarga}  r-vertical-field" data-fieldname="Riwayat_Penyakit_Keluarga" data-signal-error-for="Riwayat_Penyakit_Keluarga{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="Riwayat_Penyakit_Keluarga" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_Riwayat_Penyakit_Keluarga}">
		
		{BEGIN Riwayat_Penyakit_Keluarga_label}{$label tht Riwayat_Penyakit_Keluarga }{END Riwayat_Penyakit_Keluarga_label}
	</label>
	<div class="" >
		{$Riwayat_Penyakit_Keluarga_value}	</div>

		</div>
		
</div>


{END Riwayat_Penyakit_Keluarga_fieldblock}
											
{BEGIN Riwayat_Pengobatan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Riwayat_Pengobatan}  r-vertical-field" data-fieldname="Riwayat_Pengobatan" data-signal-error-for="Riwayat_Pengobatan{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="Riwayat_Pengobatan" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_Riwayat_Pengobatan}">
		
		{BEGIN Riwayat_Pengobatan_label}{$label tht Riwayat_Pengobatan }{END Riwayat_Pengobatan_label}
	</label>
	<div class="" >
		{$Riwayat_Pengobatan_value}	</div>

		</div>
		
</div>


{END Riwayat_Pengobatan_fieldblock}
											
{BEGIN Riwayat_Kebiasaan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Riwayat_Kebiasaan}  r-vertical-field" data-fieldname="Riwayat_Kebiasaan" data-signal-error-for="Riwayat_Kebiasaan{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="Riwayat_Kebiasaan" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_Riwayat_Kebiasaan}">
		
		{BEGIN Riwayat_Kebiasaan_label}{$label tht Riwayat_Kebiasaan }{END Riwayat_Kebiasaan_label}
	</label>
	<div class="" >
		{$Riwayat_Kebiasaan_value}	</div>

		</div>
		
</div>


{END Riwayat_Kebiasaan_fieldblock}
	
								</td>
			{END cellblock_section_c}
								</tr>
			</tbody></table>
{END section_block}
						</div>
					<div role="tabpanel" class="tab-pane " id="tab_section1{$pageid}"> 
			{BEGIN section1_block}




 
	 
												<table 
	data-body-align="center"
	data-location="section1" id="form_section1_{$pageid}" data-makeup="small" {$form_section1} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="2"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_section1_c3}
<td
	{$cell_section1_c3}
	class=" r-ori-vert"
	
			
			data-cellId="section1_c3" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN Pem_Umum_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Pem_Umum}  r-vertical-field" data-fieldname="Pem_Umum" data-signal-error-for="Pem_Umum{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="Pem_Umum" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_Pem_Umum}">
		
		{BEGIN Pem_Umum_label}{$label tht Pem_Umum }{END Pem_Umum_label}
	</label>
	<div class="" >
		{$Pem_Umum_value}	</div>

		</div>
		
</div>


{END Pem_Umum_fieldblock}
											
{BEGIN Kepala_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Kepala}  r-vertical-field" data-fieldname="Kepala" data-signal-error-for="Kepala{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="Kepala" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_Kepala}">
		
		{BEGIN Kepala_label}{$label tht Kepala }{END Kepala_label}
	</label>
	<div class="" >
		{$Kepala_value}	</div>

		</div>
		
</div>


{END Kepala_fieldblock}
											
{BEGIN Telinga_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Telinga}  r-vertical-field" data-fieldname="Telinga" data-signal-error-for="Telinga{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="Telinga" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_Telinga}">
		
		{BEGIN Telinga_label}{$label tht Telinga }{END Telinga_label}
	</label>
	<div class="" >
		{$Telinga_value}	</div>

		</div>
		
</div>


{END Telinga_fieldblock}
											
{BEGIN Mulut_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Mulut}  r-vertical-field" data-fieldname="Mulut" data-signal-error-for="Mulut{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field15" {$item_integrated_edit_field15} data-pageid="{$pageid}" data-field="Mulut" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_Mulut}">
		
		{BEGIN Mulut_label}{$label tht Mulut }{END Mulut_label}
	</label>
	<div class="" >
		{$Mulut_value}	</div>

		</div>
		
</div>


{END Mulut_fieldblock}
											
{BEGIN Larynx_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Larynx}  r-vertical-field" data-fieldname="Larynx" data-signal-error-for="Larynx{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field17" {$item_integrated_edit_field17} data-pageid="{$pageid}" data-field="Larynx" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_Larynx}">
		
		{BEGIN Larynx_label}{$label tht Larynx }{END Larynx_label}
	</label>
	<div class="" >
		{$Larynx_value}	</div>

		</div>
		
</div>


{END Larynx_fieldblock}
	
								</td>
			{END cellblock_section1_c3}
			 
																

{BEGIN cellblock_section1_c}
<td
	{$cell_section1_c}
	class=" r-ori-vert"
	
			
			data-cellId="section1_c" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN Tanda_Vital_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Tanda_Vital}  r-vertical-field" data-fieldname="Tanda_Vital" data-signal-error-for="Tanda_Vital{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="Tanda_Vital" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_Tanda_Vital}">
		
		{BEGIN Tanda_Vital_label}{$label tht Tanda_Vital }{END Tanda_Vital_label}
	</label>
	<div class="" >
		{$Tanda_Vital_value}	</div>

		</div>
		
</div>


{END Tanda_Vital_fieldblock}
											
{BEGIN Leher_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Leher}  r-vertical-field" data-fieldname="Leher" data-signal-error-for="Leher{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="Leher" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_Leher}">
		
		{BEGIN Leher_label}{$label tht Leher }{END Leher_label}
	</label>
	<div class="" >
		{$Leher_value}	</div>

		</div>
		
</div>


{END Leher_fieldblock}
											
{BEGIN Hidung_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Hidung}  r-vertical-field" data-fieldname="Hidung" data-signal-error-for="Hidung{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="Hidung" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_Hidung}">
		
		{BEGIN Hidung_label}{$label tht Hidung }{END Hidung_label}
	</label>
	<div class="" >
		{$Hidung_value}	</div>

		</div>
		
</div>


{END Hidung_fieldblock}
											
{BEGIN Epipharynx_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Epipharynx}  r-vertical-field" data-fieldname="Epipharynx" data-signal-error-for="Epipharynx{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field16" {$item_integrated_edit_field16} data-pageid="{$pageid}" data-field="Epipharynx" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_Epipharynx}">
		
		{BEGIN Epipharynx_label}{$label tht Epipharynx }{END Epipharynx_label}
	</label>
	<div class="" >
		{$Epipharynx_value}	</div>

		</div>
		
</div>


{END Epipharynx_fieldblock}
	
								</td>
			{END cellblock_section1_c}
								</tr>
			</tbody></table>
{END section1_block}
						</div>
					<div role="tabpanel" class="tab-pane " id="tab_section2{$pageid}"> 
			{BEGIN section2_block}




 
	 
												<table 
	data-body-align="center"
	data-location="section2" id="form_section2_{$pageid}" data-makeup="small" {$form_section2} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_section2_c1}
<td
	{$cell_section2_c1}
	class=" r-ori-vert"
	
			data-single
				data-fullwidth
		
			data-cellId="section2_c1" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN Diagnosa_Banding_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Diagnosa_Banding}  r-vertical-field" data-fieldname="Diagnosa_Banding" data-signal-error-for="Diagnosa_Banding{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field18" {$item_integrated_edit_field18} data-pageid="{$pageid}" data-field="Diagnosa_Banding" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Diagnosa_Banding}">
		
		{BEGIN Diagnosa_Banding_label}{$label tht Diagnosa_Banding }{END Diagnosa_Banding_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Diagnosa_Banding_value}	</div>

		
</div>


{END Diagnosa_Banding_fieldblock}
	
								</td>
			{END cellblock_section2_c1}
								</tr>
			</tbody></table>
{END section2_block}
						</div>
					<div role="tabpanel" class="tab-pane " id="tab_section3{$pageid}"> 
			{BEGIN section3_block}




 
	 
												<table 
	data-body-align="center"
	data-location="section3" id="form_section3_{$pageid}" data-makeup="small" {$form_section3} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_section3_c1}
<td
	{$cell_section3_c1}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="section3_c1" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN Laboratorium_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Laboratorium}  r-vertical-field" data-fieldname="Laboratorium" data-signal-error-for="Laboratorium{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field19" {$item_integrated_edit_field19} data-pageid="{$pageid}" data-field="Laboratorium" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Laboratorium}">
		
		{BEGIN Laboratorium_label}{$label tht Laboratorium }{END Laboratorium_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Laboratorium_value}	</div>

		
</div>


{END Laboratorium_fieldblock}
											
{BEGIN Radiologi_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Radiologi}  r-vertical-field" data-fieldname="Radiologi" data-signal-error-for="Radiologi{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field20" {$item_integrated_edit_field20} data-pageid="{$pageid}" data-field="Radiologi" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Radiologi}">
		
		{BEGIN Radiologi_label}{$label tht Radiologi }{END Radiologi_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Radiologi_value}	</div>

		
</div>


{END Radiologi_fieldblock}
											
{BEGIN Lain_lain_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Lain_lain}  r-vertical-field" data-fieldname="Lain_lain" data-signal-error-for="Lain_lain{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field21" {$item_integrated_edit_field21} data-pageid="{$pageid}" data-field="Lain_lain" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Lain_lain}">
		
		{BEGIN Lain_lain_label}{$label tht Lain_lain }{END Lain_lain_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Lain_lain_value}	</div>

		
</div>


{END Lain_lain_fieldblock}
	
								</td>
			{END cellblock_section3_c1}
								</tr>
			</tbody></table>
{END section3_block}
						</div>
					<div role="tabpanel" class="tab-pane " id="tab_section4{$pageid}"> 
			{BEGIN section4_block}




 
	 
												<table 
	data-body-align="center"
	data-location="section4" id="form_section4_{$pageid}" data-makeup="small" {$form_section4} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_section4_c1}
<td
	{$cell_section4_c1}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="section4_c1" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN Diagnosa_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Diagnosa}  r-vertical-field" data-fieldname="Diagnosa" data-signal-error-for="Diagnosa{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field22" {$item_integrated_edit_field22} data-pageid="{$pageid}" data-field="Diagnosa" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Diagnosa}">
		
		{BEGIN Diagnosa_label}{$label tht Diagnosa }{END Diagnosa_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Diagnosa_value}	</div>

		
</div>


{END Diagnosa_fieldblock}
											
{BEGIN Diagnosa_2_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Diagnosa_2}  r-vertical-field" data-fieldname="Diagnosa_2" data-signal-error-for="Diagnosa_2{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field26" {$item_integrated_edit_field26} data-pageid="{$pageid}" data-field="Diagnosa_2" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Diagnosa_2}">
		
		{BEGIN Diagnosa_2_label}{$label tht Diagnosa_2 }{END Diagnosa_2_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Diagnosa_2_value}	</div>

		
</div>


{END Diagnosa_2_fieldblock}
											
{BEGIN Diagnosa_3_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Diagnosa_3}  r-vertical-field" data-fieldname="Diagnosa_3" data-signal-error-for="Diagnosa_3{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field27" {$item_integrated_edit_field27} data-pageid="{$pageid}" data-field="Diagnosa_3" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Diagnosa_3}">
		
		{BEGIN Diagnosa_3_label}{$label tht Diagnosa_3 }{END Diagnosa_3_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Diagnosa_3_value}	</div>

		
</div>


{END Diagnosa_3_fieldblock}
											
{BEGIN Diagnosa_4_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Diagnosa_4}  r-vertical-field" data-fieldname="Diagnosa_4" data-signal-error-for="Diagnosa_4{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field28" {$item_integrated_edit_field28} data-pageid="{$pageid}" data-field="Diagnosa_4" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Diagnosa_4}">
		
		{BEGIN Diagnosa_4_label}{$label tht Diagnosa_4 }{END Diagnosa_4_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Diagnosa_4_value}	</div>

		
</div>


{END Diagnosa_4_fieldblock}
											
{BEGIN Diagnosa_5_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Diagnosa_5}  r-vertical-field" data-fieldname="Diagnosa_5" data-signal-error-for="Diagnosa_5{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field29" {$item_integrated_edit_field29} data-pageid="{$pageid}" data-field="Diagnosa_5" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Diagnosa_5}">
		
		{BEGIN Diagnosa_5_label}{$label tht Diagnosa_5 }{END Diagnosa_5_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Diagnosa_5_value}	</div>

		
</div>


{END Diagnosa_5_fieldblock}
	
								</td>
			{END cellblock_section4_c1}
								</tr>
			</tbody></table>
{END section4_block}
						</div>
					<div role="tabpanel" class="tab-pane " id="tab_section5{$pageid}"> 
			{BEGIN section5_block}




 
	 
												<table 
	data-body-align="center"
	data-location="section5" id="form_section5_{$pageid}" data-makeup="small" {$form_section5} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_section5_c1}
<td
	{$cell_section5_c1}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="section5_c1" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN Terapi_Farmakologi_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Terapi_Farmakologi}  r-vertical-field" data-fieldname="Terapi_Farmakologi" data-signal-error-for="Terapi_Farmakologi{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field23" {$item_integrated_edit_field23} data-pageid="{$pageid}" data-field="Terapi_Farmakologi" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Terapi_Farmakologi}">
		
		{BEGIN Terapi_Farmakologi_label}{$label tht Terapi_Farmakologi }{END Terapi_Farmakologi_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Terapi_Farmakologi_value}	</div>

		
</div>


{END Terapi_Farmakologi_fieldblock}
											
{BEGIN Terapi_Non_Farmakologi_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Terapi_Non_Farmakologi}  r-vertical-field" data-fieldname="Terapi_Non_Farmakologi" data-signal-error-for="Terapi_Non_Farmakologi{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field24" {$item_integrated_edit_field24} data-pageid="{$pageid}" data-field="Terapi_Non_Farmakologi" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Terapi_Non_Farmakologi}">
		
		{BEGIN Terapi_Non_Farmakologi_label}{$label tht Terapi_Non_Farmakologi }{END Terapi_Non_Farmakologi_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Terapi_Non_Farmakologi_value}	</div>

		
</div>


{END Terapi_Non_Farmakologi_fieldblock}
											
{BEGIN Edukasi_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Edukasi}  r-vertical-field" data-fieldname="Edukasi" data-signal-error-for="Edukasi{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field25" {$item_integrated_edit_field25} data-pageid="{$pageid}" data-field="Edukasi" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Edukasi}">
		
		{BEGIN Edukasi_label}{$label tht Edukasi }{END Edukasi_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Edukasi_value}	</div>

		
</div>


{END Edukasi_fieldblock}
	
								</td>
			{END cellblock_section5_c1}
								</tr>
			</tbody></table>
{END section5_block}
						</div>
				</div>
	</div>
</div>  											<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN Nomor_Rm_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Nomor_Rm}  r-vertical-field" data-fieldname="Nomor_Rm" data-signal-error-for="Nomor_Rm{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field30" {$item_integrated_edit_field30} data-pageid="{$pageid}" data-field="Nomor_Rm" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Nomor_Rm}">
		
		{BEGIN Nomor_Rm_label}{$label tht Nomor_Rm }{END Nomor_Rm_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Nomor_Rm_value}	</div>

		
</div>


{END Nomor_Rm_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							Close window			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
							<span class="glyphicon glyphicon-menu-hamburger"></span>
									<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN edit_page_button}
	<li data-itemtype="view_edit" data-itemid="view_edit" {$item_view_edit} data-pageid="{$pageid}" data-small >
				<a  href="tht_edit.php?{$editlink}" {$edit_page_button_attrs}  title="" >
				
		Edit		
		</a>
	</li>
{END edit_page_button}
								<li data-itemtype="view_pdf" data-itemid="view_pdf" {$item_view_pdf} data-pageid="{$pageid}" data-small >
				<a class="pdflink" data-pdfpage="view" 
data-scope="0" 
data-split="0" 
data-records="10" 
data-orientation="portrait" 
data-scale="100" 
data-filename="Tht.pdf" 
data-pagetype="view" 
{$pdflink_attrs}  title="" >
				
		PDF View		
		</a>
	</li>
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
