<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel tht search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_tht_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_tht}  r-horizontal-field form-horizontal" 
	
		data-fieldname="id_tht" 
	
	data-signal-error-for="id_tht{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="id_tht" >


	<label class="r-search-label control-label" for="{$labelfor_id_tht}">
		{$label tht id_tht }	</label>
	<div class="r-search-option">
		{$searchtype_id_tht}
	</div>
	<div class="r-search-field">
		{$id_tht_editcontrol}	</div>
	<div class="r-search-field">
		{$id_tht_editcontrol1}
	</div>
	
</div>

{END id_tht_fieldblock}
											
{BEGIN Keluhan_Utama_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Keluhan_Utama}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Keluhan_Utama" 
	
	data-signal-error-for="Keluhan_Utama{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="Keluhan_Utama" >


	<label class="r-search-label control-label" for="{$labelfor_Keluhan_Utama}">
		{$label tht Keluhan_Utama }	</label>
	<div class="r-search-option">
		{$searchtype_Keluhan_Utama}
	</div>
	<div class="r-search-field">
		{$Keluhan_Utama_editcontrol}	</div>
	<div class="r-search-field">
		{$Keluhan_Utama_editcontrol1}
	</div>
	
</div>

{END Keluhan_Utama_fieldblock}
											
{BEGIN Keluhan_Tambahan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Keluhan_Tambahan}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Keluhan_Tambahan" 
	
	data-signal-error-for="Keluhan_Tambahan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="Keluhan_Tambahan" >


	<label class="r-search-label control-label" for="{$labelfor_Keluhan_Tambahan}">
		{$label tht Keluhan_Tambahan }	</label>
	<div class="r-search-option">
		{$searchtype_Keluhan_Tambahan}
	</div>
	<div class="r-search-field">
		{$Keluhan_Tambahan_editcontrol}	</div>
	<div class="r-search-field">
		{$Keluhan_Tambahan_editcontrol1}
	</div>
	
</div>

{END Keluhan_Tambahan_fieldblock}
											
{BEGIN Riwayat_Penyakit_Sekarang_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Riwayat_Penyakit_Sekarang}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Riwayat_Penyakit_Sekarang" 
	
	data-signal-error-for="Riwayat_Penyakit_Sekarang{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="Riwayat_Penyakit_Sekarang" >


	<label class="r-search-label control-label" for="{$labelfor_Riwayat_Penyakit_Sekarang}">
		{$label tht Riwayat_Penyakit_Sekarang }	</label>
	<div class="r-search-option">
		{$searchtype_Riwayat_Penyakit_Sekarang}
	</div>
	<div class="r-search-field">
		{$Riwayat_Penyakit_Sekarang_editcontrol}	</div>
	<div class="r-search-field">
		{$Riwayat_Penyakit_Sekarang_editcontrol1}
	</div>
	
</div>

{END Riwayat_Penyakit_Sekarang_fieldblock}
											
{BEGIN Riwayat_Penyakit_Dahulu_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Riwayat_Penyakit_Dahulu}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Riwayat_Penyakit_Dahulu" 
	
	data-signal-error-for="Riwayat_Penyakit_Dahulu{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="Riwayat_Penyakit_Dahulu" >


	<label class="r-search-label control-label" for="{$labelfor_Riwayat_Penyakit_Dahulu}">
		{$label tht Riwayat_Penyakit_Dahulu }	</label>
	<div class="r-search-option">
		{$searchtype_Riwayat_Penyakit_Dahulu}
	</div>
	<div class="r-search-field">
		{$Riwayat_Penyakit_Dahulu_editcontrol}	</div>
	<div class="r-search-field">
		{$Riwayat_Penyakit_Dahulu_editcontrol1}
	</div>
	
</div>

{END Riwayat_Penyakit_Dahulu_fieldblock}
											
{BEGIN Riwayat_Alergi_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Riwayat_Alergi}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Riwayat_Alergi" 
	
	data-signal-error-for="Riwayat_Alergi{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="Riwayat_Alergi" >


	<label class="r-search-label control-label" for="{$labelfor_Riwayat_Alergi}">
		{$label tht Riwayat_Alergi }	</label>
	<div class="r-search-option">
		{$searchtype_Riwayat_Alergi}
	</div>
	<div class="r-search-field">
		{$Riwayat_Alergi_editcontrol}	</div>
	<div class="r-search-field">
		{$Riwayat_Alergi_editcontrol1}
	</div>
	
</div>

{END Riwayat_Alergi_fieldblock}
											
{BEGIN Riwayat_Penyakit_Keluarga_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Riwayat_Penyakit_Keluarga}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Riwayat_Penyakit_Keluarga" 
	
	data-signal-error-for="Riwayat_Penyakit_Keluarga{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="Riwayat_Penyakit_Keluarga" >


	<label class="r-search-label control-label" for="{$labelfor_Riwayat_Penyakit_Keluarga}">
		{$label tht Riwayat_Penyakit_Keluarga }	</label>
	<div class="r-search-option">
		{$searchtype_Riwayat_Penyakit_Keluarga}
	</div>
	<div class="r-search-field">
		{$Riwayat_Penyakit_Keluarga_editcontrol}	</div>
	<div class="r-search-field">
		{$Riwayat_Penyakit_Keluarga_editcontrol1}
	</div>
	
</div>

{END Riwayat_Penyakit_Keluarga_fieldblock}
											
{BEGIN Riwayat_Pengobatan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Riwayat_Pengobatan}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Riwayat_Pengobatan" 
	
	data-signal-error-for="Riwayat_Pengobatan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="Riwayat_Pengobatan" >


	<label class="r-search-label control-label" for="{$labelfor_Riwayat_Pengobatan}">
		{$label tht Riwayat_Pengobatan }	</label>
	<div class="r-search-option">
		{$searchtype_Riwayat_Pengobatan}
	</div>
	<div class="r-search-field">
		{$Riwayat_Pengobatan_editcontrol}	</div>
	<div class="r-search-field">
		{$Riwayat_Pengobatan_editcontrol1}
	</div>
	
</div>

{END Riwayat_Pengobatan_fieldblock}
											
{BEGIN Riwayat_Kebiasaan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Riwayat_Kebiasaan}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Riwayat_Kebiasaan" 
	
	data-signal-error-for="Riwayat_Kebiasaan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="Riwayat_Kebiasaan" >


	<label class="r-search-label control-label" for="{$labelfor_Riwayat_Kebiasaan}">
		{$label tht Riwayat_Kebiasaan }	</label>
	<div class="r-search-option">
		{$searchtype_Riwayat_Kebiasaan}
	</div>
	<div class="r-search-field">
		{$Riwayat_Kebiasaan_editcontrol}	</div>
	<div class="r-search-field">
		{$Riwayat_Kebiasaan_editcontrol1}
	</div>
	
</div>

{END Riwayat_Kebiasaan_fieldblock}
											
{BEGIN Riwayat_Sosial_Ekonomi_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Riwayat_Sosial_Ekonomi}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Riwayat_Sosial_Ekonomi" 
	
	data-signal-error-for="Riwayat_Sosial_Ekonomi{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="Riwayat_Sosial_Ekonomi" >


	<label class="r-search-label control-label" for="{$labelfor_Riwayat_Sosial_Ekonomi}">
		{$label tht Riwayat_Sosial_Ekonomi }	</label>
	<div class="r-search-option">
		{$searchtype_Riwayat_Sosial_Ekonomi}
	</div>
	<div class="r-search-field">
		{$Riwayat_Sosial_Ekonomi_editcontrol}	</div>
	<div class="r-search-field">
		{$Riwayat_Sosial_Ekonomi_editcontrol1}
	</div>
	
</div>

{END Riwayat_Sosial_Ekonomi_fieldblock}
											
{BEGIN Pem_Umum_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Pem_Umum}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Pem_Umum" 
	
	data-signal-error-for="Pem_Umum{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="Pem_Umum" >


	<label class="r-search-label control-label" for="{$labelfor_Pem_Umum}">
		{$label tht Pem_Umum }	</label>
	<div class="r-search-option">
		{$searchtype_Pem_Umum}
	</div>
	<div class="r-search-field">
		{$Pem_Umum_editcontrol}	</div>
	<div class="r-search-field">
		{$Pem_Umum_editcontrol1}
	</div>
	
</div>

{END Pem_Umum_fieldblock}
											
{BEGIN Tanda_Vital_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Tanda_Vital}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Tanda_Vital" 
	
	data-signal-error-for="Tanda_Vital{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="Tanda_Vital" >


	<label class="r-search-label control-label" for="{$labelfor_Tanda_Vital}">
		{$label tht Tanda_Vital }	</label>
	<div class="r-search-option">
		{$searchtype_Tanda_Vital}
	</div>
	<div class="r-search-field">
		{$Tanda_Vital_editcontrol}	</div>
	<div class="r-search-field">
		{$Tanda_Vital_editcontrol1}
	</div>
	
</div>

{END Tanda_Vital_fieldblock}
											
{BEGIN Kepala_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Kepala}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Kepala" 
	
	data-signal-error-for="Kepala{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="Kepala" >


	<label class="r-search-label control-label" for="{$labelfor_Kepala}">
		{$label tht Kepala }	</label>
	<div class="r-search-option">
		{$searchtype_Kepala}
	</div>
	<div class="r-search-field">
		{$Kepala_editcontrol}	</div>
	<div class="r-search-field">
		{$Kepala_editcontrol1}
	</div>
	
</div>

{END Kepala_fieldblock}
											
{BEGIN Leher_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Leher}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Leher" 
	
	data-signal-error-for="Leher{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="Leher" >


	<label class="r-search-label control-label" for="{$labelfor_Leher}">
		{$label tht Leher }	</label>
	<div class="r-search-option">
		{$searchtype_Leher}
	</div>
	<div class="r-search-field">
		{$Leher_editcontrol}	</div>
	<div class="r-search-field">
		{$Leher_editcontrol1}
	</div>
	
</div>

{END Leher_fieldblock}
											
{BEGIN Telinga_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Telinga}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Telinga" 
	
	data-signal-error-for="Telinga{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="Telinga" >


	<label class="r-search-label control-label" for="{$labelfor_Telinga}">
		{$label tht Telinga }	</label>
	<div class="r-search-option">
		{$searchtype_Telinga}
	</div>
	<div class="r-search-field">
		{$Telinga_editcontrol}	</div>
	<div class="r-search-field">
		{$Telinga_editcontrol1}
	</div>
	
</div>

{END Telinga_fieldblock}
											
{BEGIN Hidung_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Hidung}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Hidung" 
	
	data-signal-error-for="Hidung{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="Hidung" >


	<label class="r-search-label control-label" for="{$labelfor_Hidung}">
		{$label tht Hidung }	</label>
	<div class="r-search-option">
		{$searchtype_Hidung}
	</div>
	<div class="r-search-field">
		{$Hidung_editcontrol}	</div>
	<div class="r-search-field">
		{$Hidung_editcontrol1}
	</div>
	
</div>

{END Hidung_fieldblock}
											
{BEGIN Mulut_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Mulut}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Mulut" 
	
	data-signal-error-for="Mulut{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="Mulut" >


	<label class="r-search-label control-label" for="{$labelfor_Mulut}">
		{$label tht Mulut }	</label>
	<div class="r-search-option">
		{$searchtype_Mulut}
	</div>
	<div class="r-search-field">
		{$Mulut_editcontrol}	</div>
	<div class="r-search-field">
		{$Mulut_editcontrol1}
	</div>
	
</div>

{END Mulut_fieldblock}
											
{BEGIN Epipharynx_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Epipharynx}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Epipharynx" 
	
	data-signal-error-for="Epipharynx{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="Epipharynx" >


	<label class="r-search-label control-label" for="{$labelfor_Epipharynx}">
		{$label tht Epipharynx }	</label>
	<div class="r-search-option">
		{$searchtype_Epipharynx}
	</div>
	<div class="r-search-field">
		{$Epipharynx_editcontrol}	</div>
	<div class="r-search-field">
		{$Epipharynx_editcontrol1}
	</div>
	
</div>

{END Epipharynx_fieldblock}
											
{BEGIN Larynx_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Larynx}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Larynx" 
	
	data-signal-error-for="Larynx{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="Larynx" >


	<label class="r-search-label control-label" for="{$labelfor_Larynx}">
		{$label tht Larynx }	</label>
	<div class="r-search-option">
		{$searchtype_Larynx}
	</div>
	<div class="r-search-field">
		{$Larynx_editcontrol}	</div>
	<div class="r-search-field">
		{$Larynx_editcontrol1}
	</div>
	
</div>

{END Larynx_fieldblock}
											
{BEGIN Diagnosa_Banding_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Diagnosa_Banding}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Diagnosa_Banding" 
	
	data-signal-error-for="Diagnosa_Banding{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="Diagnosa_Banding" >


	<label class="r-search-label control-label" for="{$labelfor_Diagnosa_Banding}">
		{$label tht Diagnosa_Banding }	</label>
	<div class="r-search-option">
		{$searchtype_Diagnosa_Banding}
	</div>
	<div class="r-search-field">
		{$Diagnosa_Banding_editcontrol}	</div>
	<div class="r-search-field">
		{$Diagnosa_Banding_editcontrol1}
	</div>
	
</div>

{END Diagnosa_Banding_fieldblock}
											
{BEGIN Laboratorium_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Laboratorium}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Laboratorium" 
	
	data-signal-error-for="Laboratorium{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field20" {$item_integrated_search_field20} data-pageid="{$pageid}" data-field="Laboratorium" >


	<label class="r-search-label control-label" for="{$labelfor_Laboratorium}">
		{$label tht Laboratorium }	</label>
	<div class="r-search-option">
		{$searchtype_Laboratorium}
	</div>
	<div class="r-search-field">
		{$Laboratorium_editcontrol}	</div>
	<div class="r-search-field">
		{$Laboratorium_editcontrol1}
	</div>
	
</div>

{END Laboratorium_fieldblock}
											
{BEGIN Radiologi_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Radiologi}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Radiologi" 
	
	data-signal-error-for="Radiologi{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field21" {$item_integrated_search_field21} data-pageid="{$pageid}" data-field="Radiologi" >


	<label class="r-search-label control-label" for="{$labelfor_Radiologi}">
		{$label tht Radiologi }	</label>
	<div class="r-search-option">
		{$searchtype_Radiologi}
	</div>
	<div class="r-search-field">
		{$Radiologi_editcontrol}	</div>
	<div class="r-search-field">
		{$Radiologi_editcontrol1}
	</div>
	
</div>

{END Radiologi_fieldblock}
											
{BEGIN Lain_lain_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Lain_lain}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Lain_lain" 
	
	data-signal-error-for="Lain_lain{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field22" {$item_integrated_search_field22} data-pageid="{$pageid}" data-field="Lain_lain" >


	<label class="r-search-label control-label" for="{$labelfor_Lain_lain}">
		{$label tht Lain_lain }	</label>
	<div class="r-search-option">
		{$searchtype_Lain_lain}
	</div>
	<div class="r-search-field">
		{$Lain_lain_editcontrol}	</div>
	<div class="r-search-field">
		{$Lain_lain_editcontrol1}
	</div>
	
</div>

{END Lain_lain_fieldblock}
											
{BEGIN Diagnosa_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Diagnosa}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Diagnosa" 
	
	data-signal-error-for="Diagnosa{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field23" {$item_integrated_search_field23} data-pageid="{$pageid}" data-field="Diagnosa" >


	<label class="r-search-label control-label" for="{$labelfor_Diagnosa}">
		{$label tht Diagnosa }	</label>
	<div class="r-search-option">
		{$searchtype_Diagnosa}
	</div>
	<div class="r-search-field">
		{$Diagnosa_editcontrol}	</div>
	<div class="r-search-field">
		{$Diagnosa_editcontrol1}
	</div>
	
</div>

{END Diagnosa_fieldblock}
											
{BEGIN Terapi_Farmakologi_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Terapi_Farmakologi}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Terapi_Farmakologi" 
	
	data-signal-error-for="Terapi_Farmakologi{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field24" {$item_integrated_search_field24} data-pageid="{$pageid}" data-field="Terapi_Farmakologi" >


	<label class="r-search-label control-label" for="{$labelfor_Terapi_Farmakologi}">
		{$label tht Terapi_Farmakologi }	</label>
	<div class="r-search-option">
		{$searchtype_Terapi_Farmakologi}
	</div>
	<div class="r-search-field">
		{$Terapi_Farmakologi_editcontrol}	</div>
	<div class="r-search-field">
		{$Terapi_Farmakologi_editcontrol1}
	</div>
	
</div>

{END Terapi_Farmakologi_fieldblock}
											
{BEGIN Terapi_Non_Farmakologi_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Terapi_Non_Farmakologi}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Terapi_Non_Farmakologi" 
	
	data-signal-error-for="Terapi_Non_Farmakologi{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field25" {$item_integrated_search_field25} data-pageid="{$pageid}" data-field="Terapi_Non_Farmakologi" >


	<label class="r-search-label control-label" for="{$labelfor_Terapi_Non_Farmakologi}">
		{$label tht Terapi_Non_Farmakologi }	</label>
	<div class="r-search-option">
		{$searchtype_Terapi_Non_Farmakologi}
	</div>
	<div class="r-search-field">
		{$Terapi_Non_Farmakologi_editcontrol}	</div>
	<div class="r-search-field">
		{$Terapi_Non_Farmakologi_editcontrol1}
	</div>
	
</div>

{END Terapi_Non_Farmakologi_fieldblock}
											
{BEGIN Edukasi_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Edukasi}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Edukasi" 
	
	data-signal-error-for="Edukasi{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field26" {$item_integrated_search_field26} data-pageid="{$pageid}" data-field="Edukasi" >


	<label class="r-search-label control-label" for="{$labelfor_Edukasi}">
		{$label tht Edukasi }	</label>
	<div class="r-search-option">
		{$searchtype_Edukasi}
	</div>
	<div class="r-search-field">
		{$Edukasi_editcontrol}	</div>
	<div class="r-search-field">
		{$Edukasi_editcontrol1}
	</div>
	
</div>

{END Edukasi_fieldblock}
											
{BEGIN id_pasien_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_pasien}  r-horizontal-field form-horizontal" 
	
		data-fieldname="id_pasien" 
	
	data-signal-error-for="id_pasien{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field27" {$item_integrated_search_field27} data-pageid="{$pageid}" data-field="id_pasien" >


	<label class="r-search-label control-label" for="{$labelfor_id_pasien}">
		{$label tht id_pasien }	</label>
	<div class="r-search-option">
		{$searchtype_id_pasien}
	</div>
	<div class="r-search-field">
		{$id_pasien_editcontrol}	</div>
	<div class="r-search-field">
		{$id_pasien_editcontrol1}
	</div>
	
</div>

{END id_pasien_fieldblock}
											
{BEGIN Diagnosa_2_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Diagnosa_2}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Diagnosa_2" 
	
	data-signal-error-for="Diagnosa_2{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field28" {$item_integrated_search_field28} data-pageid="{$pageid}" data-field="Diagnosa_2" >


	<label class="r-search-label control-label" for="{$labelfor_Diagnosa_2}">
		{$label tht Diagnosa_2 }	</label>
	<div class="r-search-option">
		{$searchtype_Diagnosa_2}
	</div>
	<div class="r-search-field">
		{$Diagnosa_2_editcontrol}	</div>
	<div class="r-search-field">
		{$Diagnosa_2_editcontrol1}
	</div>
	
</div>

{END Diagnosa_2_fieldblock}
											
{BEGIN Diagnosa_3_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Diagnosa_3}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Diagnosa_3" 
	
	data-signal-error-for="Diagnosa_3{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field29" {$item_integrated_search_field29} data-pageid="{$pageid}" data-field="Diagnosa_3" >


	<label class="r-search-label control-label" for="{$labelfor_Diagnosa_3}">
		{$label tht Diagnosa_3 }	</label>
	<div class="r-search-option">
		{$searchtype_Diagnosa_3}
	</div>
	<div class="r-search-field">
		{$Diagnosa_3_editcontrol}	</div>
	<div class="r-search-field">
		{$Diagnosa_3_editcontrol1}
	</div>
	
</div>

{END Diagnosa_3_fieldblock}
											
{BEGIN Diagnosa_4_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Diagnosa_4}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Diagnosa_4" 
	
	data-signal-error-for="Diagnosa_4{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field30" {$item_integrated_search_field30} data-pageid="{$pageid}" data-field="Diagnosa_4" >


	<label class="r-search-label control-label" for="{$labelfor_Diagnosa_4}">
		{$label tht Diagnosa_4 }	</label>
	<div class="r-search-option">
		{$searchtype_Diagnosa_4}
	</div>
	<div class="r-search-field">
		{$Diagnosa_4_editcontrol}	</div>
	<div class="r-search-field">
		{$Diagnosa_4_editcontrol1}
	</div>
	
</div>

{END Diagnosa_4_fieldblock}
											
{BEGIN Diagnosa_5_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Diagnosa_5}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Diagnosa_5" 
	
	data-signal-error-for="Diagnosa_5{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field31" {$item_integrated_search_field31} data-pageid="{$pageid}" data-field="Diagnosa_5" >


	<label class="r-search-label control-label" for="{$labelfor_Diagnosa_5}">
		{$label tht Diagnosa_5 }	</label>
	<div class="r-search-option">
		{$searchtype_Diagnosa_5}
	</div>
	<div class="r-search-field">
		{$Diagnosa_5_editcontrol}	</div>
	<div class="r-search-field">
		{$Diagnosa_5_editcontrol1}
	</div>
	
</div>

{END Diagnosa_5_fieldblock}
											
{BEGIN Nomor_Rm_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Nomor_Rm}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Nomor_Rm" 
	
	data-signal-error-for="Nomor_Rm{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field32" {$item_integrated_search_field32} data-pageid="{$pageid}" data-field="Nomor_Rm" >


	<label class="r-search-label control-label" for="{$labelfor_Nomor_Rm}">
		{$label tht Nomor_Rm }	</label>
	<div class="r-search-option">
		{$searchtype_Nomor_Rm}
	</div>
	<div class="r-search-field">
		{$Nomor_Rm_editcontrol}	</div>
	<div class="r-search-field">
		{$Nomor_Rm_editcontrol1}
	</div>
	
</div>

{END Nomor_Rm_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Search			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reset			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancel			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
